Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified, RadiusDistributeCertModified

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3
workflows:
  version: 2
  check-updated-files:
    jobs:
      - path-filtering/filter:
          mapping: |
            PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).* PowerShellModified true
            PowerShell\/(JumpCloud\sCommands\sGallery).* CommandsGalleryModified true
            scripts\/automation\/Radius.* RadiusDistributeCertModified true
          base-revision: master
          config-path: .circleci/workflows.yml

req fix
  .github/scripts/requirements.txt
Due: none

fix: corrupted mac installation
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

update commands.json
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

fix env variable casing
  .github/workflows/release-workflow.yml
Due: none

date change
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

invoke pester matrix
  .github/workflows/powershell-module-ci.yml
  PowerShell/JumpCloud Module/Tests/InvokePester.ps1
Due: PowerShellModified

defineenvironment and setuporg workflow step
  .github/workflows/powershell-module-ci.yml
  PowerShell/JumpCloud Module/Tests/InvokePester.ps1
Due: PowerShellModified

update build dependancies to store variables
  .github/workflows/powershell-module-ci.yml
  PowerShell/JumpCloud Module/Tests/DefineEnvironment.ps1
Due: PowerShellModified

change order of defineenv and setuporg
  .github/workflows/powershell-module-ci.yml
Due: none

Set-Variable
  PowerShell/JumpCloud Module/Tests/DefineEnvironment.ps1
Due: PowerShellModified

job group and potential variable fix
  .github/workflows/powershell-module-ci.yml
Due: none

Update powershell-module-ci.yml
  .github/workflows/powershell-module-ci.yml
Due: none

set apikey
  .github/workflows/powershell-module-ci.yml
Due: none

change to set-variable
  .github/workflows/powershell-module-ci.yml
Due: none

set org id
  .github/workflows/powershell-module-ci.yml
Due: none

set apikey in invoke pester
  PowerShell/JumpCloud Module/Tests/InvokePester.ps1
Due: PowerShellModified

comment out setting variables in gha run
  .github/workflows/powershell-module-ci.yml
Due: none

connect-jconline in run
  .github/workflows/powershell-module-ci.yml
Due: none

fix import path
  .github/workflows/powershell-module-ci.yml
Due: none

use GHA env variables
  .github/workflows/powershell-module-ci.yml
Due: none

variables in build
  .github/workflows/powershell-module-ci.yml
  PowerShell/JumpCloud Module/Tests/DefineEnvironment.ps1
  PowerShell/JumpCloud Module/Tests/SetupOrg.ps1
Due: PowerShellModified

remove orgid from connect-jconline
  .github/workflows/powershell-module-ci.yml
Due: none

remove orgID from regular CI tests
  PowerShell/JumpCloud Module/Tests/InvokePester.ps1
Due: PowerShellModified

run setp-org as a job
  .github/workflows/powershell-module-ci.yml
  PowerShell/JumpCloud Module/Tests/DefineEnvironment.ps1
  PowerShell/JumpCloud Module/Tests/InvokePester.ps1
  PowerShell/JumpCloud Module/Tests/SetupOrg.ps1
Due: PowerShellModified

artifact download conflict
  .github/workflows/powershell-module-ci.yml
Due: none

duplicate params
  PowerShell/JumpCloud Module/Tests/SetupOrg.ps1
Due: PowerShellModified

variable count
  .github/workflows/powershell-module-ci.yml
  PowerShell/JumpCloud Module/Tests/SetupOrg.ps1
Due: PowerShellModified

variable path
  .github/workflows/powershell-module-ci.yml
Due: none

path
  .github/workflows/powershell-module-ci.yml
Due: none

only restore varaiable if it's a name value pair
  .github/workflows/powershell-module-ci.yml
Due: none

pester def within test
  PowerShell/JumpCloud Module/Tests/Public/RadiusServer/Set-JCRadiusServer.Tests.ps1
Due: PowerShellModified

Get-JCsystemGroupMemberTests
  PowerShell/JumpCloud Module/Tests/Public/Groups/SystemGroups/Get-JCSystemGroupMember.Tests.ps1
Due: PowerShellModified

ensure user is bound before system user tests
  PowerShell/JumpCloud Module/Tests/Public/SystemUsers/Get-JCSystemUser.Tests.ps1
Due: PowerShellModified

JC Command Target Tests
  PowerShell/JumpCloud Module/Tests/Public/Commands/CommandTargets/Get-JCCommandTarget.Tests.ps1
  PowerShell/JumpCloud Module/Tests/SetupOrg.ps1
Due: PowerShellModified

test policy target
  PowerShell/JumpCloud Module/Public/Association/Add-JCAssociation.ps1
Due: PowerShellModified

Get-JCBackup, ensure groups exist
  PowerShell/JumpCloud Module/Tests/Public/Utilities/Get-JCBackup.Tests.ps1
Due: PowerShellModified

Get-JCDynamicHash shouldn't count results as we test in parallel
  PowerShell/JumpCloud Module/Tests/Private/HashFunctions/Get-DynamicHash.Tests.ps1
Due: PowerShellModified

missing variable for backup tests
  PowerShell/JumpCloud Module/Tests/Public/Utilities/Get-JCBackup.Tests.ps1
Due: PowerShellModified
