Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified, RadiusDistributeCertModified

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3
workflows:
  version: 2
  check-updated-files:
    jobs:
      - path-filtering/filter:
          mapping: |
            PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).* PowerShellModified true
            PowerShell\/(JumpCloud\sCommands\sGallery).* CommandsGalleryModified true
            scripts\/automation\/Radius.* RadiusDistributeCertModified true
          base-revision: master
          config-path: .circleci/workflows.yml

fix parameters
  PowerShell/JumpCloud Module/Tests/Public/Directory/Remove-JCGsuiteMember.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Directory/Remove-JCOffice365Member.Tests.ps1
Due: PowerShellModified

fix date
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

passing tests
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
  scripts/automation/Radius/Functions/Private/SystemTable/New-SystemTable.ps1
  scripts/automation/Radius/Functions/Private/commands/invoke-commandByUserId.ps1
  scripts/automation/Radius/Functions/Private/settings/Set-JCRAssociationHash.ps1
  scripts/automation/Radius/Functions/Private/settings/Update-JCRUsersJson.ps1
  scripts/automation/Radius/Functions/Public/Get-JCRGlobalVars.ps1
  scripts/automation/Radius/Tests/Invoke-Pester.ps1
  scripts/automation/Radius/Tests/Public/Get-JCRGlobalVars.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-GenerateRootCert.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-GenerateUserCerts.Tests.ps1
  scripts/automation/Radius/Tests/Setup-JCRadiusOrg.ps1
  scripts/automation/Radius/Tests/SetupRadiusOrg.ps1
Due: RadiusDistributeCertModified

config update
  scripts/automation/Radius/Config.ps1
Due: RadiusDistributeCertModified

codeowners & gitpython version
  .github/CODEOWNERS
  .github/scripts/requirements.txt
Due: none

update date
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

remove user and group hashes
  PowerShell/JumpCloud Module/Public/Directory/Add-JCGsuiteMember.ps1
  PowerShell/JumpCloud Module/Public/Directory/Add-JCOffice365Member.ps1
  PowerShell/JumpCloud Module/Public/Directory/Remove-JCGsuiteMember.ps1
  PowerShell/JumpCloud Module/Public/Directory/Remove-JCOffice365Member.ps1
Due: PowerShellModified

additional tests
  PowerShell/JumpCloud Module/Tests/Public/Directory/Add-JCGsuiteMember.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Directory/Add-JCOffice365Member.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Directory/Remove-JCGsuiteMember.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Directory/Remove-JCOffice365Member.Tests.ps1
Due: PowerShellModified

expandproperty
  PowerShell/JumpCloud Module/Public/Directory/Add-JCGsuiteMember.ps1
  PowerShell/JumpCloud Module/Public/Directory/Add-JCOffice365Member.ps1
  PowerShell/JumpCloud Module/Public/Directory/Remove-JCGsuiteMember.ps1
  PowerShell/JumpCloud Module/Public/Directory/Remove-JCOffice365Member.ps1
Due: PowerShellModified

Fix tests
  PowerShell/JumpCloud Module/Tests/Public/Directory/Add-JCGsuiteMember.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Directory/Add-JCOffice365Member.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Directory/Remove-JCGsuiteMember.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Directory/Remove-JCOffice365Member.Tests.ps1
Due: PowerShellModified

fix exceptions
  PowerShell/JumpCloud Module/Tests/Public/Directory/Add-JCGsuiteMember.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Directory/Add-JCOffice365Member.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Directory/Remove-JCGsuiteMember.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Directory/Remove-JCOffice365Member.Tests.ps1
Due: PowerShellModified

fix status response check
  PowerShell/JumpCloud Module/Tests/Public/Directory/Add-JCGsuiteMember.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Directory/Add-JCOffice365Member.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Directory/Remove-JCGsuiteMember.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Directory/Remove-JCOffice365Member.Tests.ps1
Due: PowerShellModified

documentation + param descriptions
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-CertInfo.ps1
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-CertKeyPass.ps1
  scripts/automation/Radius/Functions/Private/CertGeneration/Generate-UserCert.ps1
  scripts/automation/Radius/Functions/Private/CertGeneration/Invoke-UserCertProcess.ps1
  scripts/automation/Radius/Functions/Public/Get-JCRGlobalVars.ps1
  scripts/automation/Radius/Functions/Public/Start-DeployUserCerts.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateRootCert.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateUserCerts.ps1
  scripts/automation/Radius/images/deployMenu.png
  scripts/automation/Radius/images/expireCert.png
  scripts/automation/Radius/images/expireCertFromWindow.png
  scripts/automation/Radius/images/mainMenu.png
  scripts/automation/Radius/images/mainMenuNoCA.png
  scripts/automation/Radius/readme.md
Due: RadiusDistributeCertModified

cleanup
  scripts/automation/Radius/Functions/Private/menus/Get-ResponsePrompt.ps1
  scripts/automation/Radius/Functions/Public/Start-DeployUserCerts.ps1
  scripts/automation/Radius/JumpCloud-Radius.psm1
Due: RadiusDistributeCertModified

remove hashes
  PowerShell/JumpCloud Module/Public/Directory/Remove-JCGsuiteMember.ps1
Due: PowerShellModified

fix for user.json system table missing osFamily
  scripts/automation/Radius/Functions/Private/SystemTable/New-SystemTable.ps1
Due: RadiusDistributeCertModified

BAN-2126: Changes to Linux RAA install script
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - remote-assist - Installation script.md
Due: CommandsGalleryModified

BAN-2126: changes in json file
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

description "rempte" vs "remote"
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - remote-assist - Installation script.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

Update scripts/automation/Radius/Changelog.md
  scripts/automation/Radius/Changelog.md
Due: RadiusDistributeCertModified

cleanup Get-UserFromTable
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
  scripts/automation/Radius/Functions/Private/CertGeneration/Invoke-UserCertProcess.ps1
  scripts/automation/Radius/Functions/Private/UserTable/Get-UserFromTable.ps1
  scripts/automation/Radius/Functions/Private/UserTable/Set-UserTable.ps1
  scripts/automation/Radius/Functions/Private/commands/invoke-commandByUserId.ps1
  scripts/automation/Radius/Functions/Private/settings/Update-JCRUsersJson.ps1
  scripts/automation/Radius/Functions/Public/Start-DeployUserCerts.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateUserCerts.ps1
Due: RadiusDistributeCertModified

camelCase function names
  scripts/automation/Radius/Functions/Private/Commands/Clear-JCQueuedCommand.ps1
  scripts/automation/Radius/Functions/Private/Commands/Get-CommandByUsername.ps1
  scripts/automation/Radius/Functions/Private/Commands/Get-JCQueuedCommands.ps1
  scripts/automation/Radius/Functions/Private/Commands/Get-QueuedCommandByUser.ps1
  scripts/automation/Radius/Functions/Private/Commands/Invoke-CommandByUserId.ps1
  scripts/automation/Radius/Functions/Private/Commands/Invoke-CommandsRetry.ps1
  scripts/automation/Radius/Functions/Private/Commands/New-JCCommandFile.ps1
  scripts/automation/Radius/Functions/Private/Menus/Get-ResponsePrompt.ps1
  scripts/automation/Radius/Functions/Private/Menus/PadCenter.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-CertDeploymentMenu.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-DistributionMenu.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-GenerationMenu.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-RadiusMainMenu.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-RadiusProgress.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-StatusMessage.ps1
  scripts/automation/Radius/Functions/Private/Settings/Get-JCRSettingsFile.ps1
  scripts/automation/Radius/Functions/Private/Settings/New-JCRSettingsFile.ps1
  scripts/automation/Radius/Functions/Private/Settings/Set-JCRAssociationHash.ps1
  scripts/automation/Radius/Functions/Private/Settings/Set-JCRSettingsFile.ps1
  scripts/automation/Radius/Functions/Private/Settings/Update-JCRUsersJson.ps1
Due: RadiusDistributeCertModified

remove empty begin block
  scripts/automation/Radius/Functions/Private/Menus/Show-DistributionMenu.ps1
Due: RadiusDistributeCertModified

cleanup Invoke-CommandsRetry
  scripts/automation/Radius/Functions/Private/Commands/Invoke-CommandsRetry.ps1
  scripts/automation/Radius/Functions/Public/Start-MonitorCertDeployment.ps1
Due: RadiusDistributeCertModified

mandatory userId
  scripts/automation/Radius/Functions/Private/SystemTable/New-SystemTable.ps1
Due: RadiusDistributeCertModified

menu messaging
  scripts/automation/Radius/Functions/Private/Menus/Show-CertDeploymentMenu.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-DistributionMenu.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-GenerationMenu.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-RadiusMainMenu.ps1
Due: RadiusDistributeCertModified

Get-CommandByUsername param
  scripts/automation/Radius/Functions/Private/Commands/Get-CommandByUsername.ps1
Due: RadiusDistributeCertModified

remove debug messaging
  scripts/automation/Radius/Functions/Private/Settings/New-JCRSettingsFile.ps1
Due: RadiusDistributeCertModified

remove unnecessary todos
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
Due: RadiusDistributeCertModified

command object ne $null
  scripts/automation/Radius/Functions/Private/CertResults/Get-CommandObjectTable.ps1
  scripts/automation/Radius/Functions/Private/Settings/Update-JCRUsersJson.ps1
Due: RadiusDistributeCertModified

global vars namespace
  scripts/automation/Radius/Config.ps1
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-CertInfo.ps1
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-ExpiringCertInfo.ps1
  scripts/automation/Radius/Functions/Private/CertGeneration/Generate-UserCert.ps1
  scripts/automation/Radius/Functions/Private/CertGeneration/Invoke-UserCertProcess.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-RadiusMainMenu.ps1
  scripts/automation/Radius/Functions/Public/Get-JCRGlobalVars.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateRootCert.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateUserCerts.ps1
  scripts/automation/Radius/JumpCloud-Radius.psm1
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-GenerateRootCert.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-GenerateUserCerts.Tests.ps1
  scripts/automation/Radius/Tests/SetupRadiusOrg.ps1
  scripts/automation/Radius/readme.md
Due: RadiusDistributeCertModified

global variables namespce
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-ExpiringCertInfo.ps1
  scripts/automation/Radius/Functions/Private/CertGeneration/Generate-UserCert.ps1
  scripts/automation/Radius/Functions/Private/CertGeneration/Invoke-UserCertProcess.ps1
  scripts/automation/Radius/Tests/Public/Start-GenerateRootCert.Tests.ps1
Due: RadiusDistributeCertModified

order of expire cert calculation, once after re-write
  scripts/automation/Radius/Functions/Public/Start-GenerateUserCerts.ps1
Due: RadiusDistributeCertModified

version on config
  scripts/automation/Radius/Config.ps1
Due: RadiusDistributeCertModified

review comment changes
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - remote-assist - Installation script.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

python test changes commit
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

Fix misspelling
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - remote-assist - Installation script.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

update description and troubleshooting
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Set Desktop Background.md
Due: CommandsGalleryModified

Update commands.json
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified
