Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1
workflows:
  version: 2
  check-updated-files:
    jobs:
    - path-filtering/filter:
        mapping: |
          PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).* PowerShellModified true
        base-revision: master
        config-path: .circleci/workflows.yml
    - path-filtering/filter:
        mapping: |
          PowerShell\/(JumpCloud\sCommands\sGallery).* CommandsGalleryModified true
        base-revision: master
        config-path: .circleci/workflows.yml

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Get-JCCommandResult.md
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

lint fix
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Exclude Update from Install.md
Due: CommandsGalleryModified

last lint fix...
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install Remote Assist.md
Due: CommandsGalleryModified

Updating Commands.json;[skip ci]
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install Remote Assist.md
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Exclude Update from Install.md
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install Remote Assist.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

manual api call
  PowerShell/JumpCloud Module/Public/Commands/CommandResults/Get-JCCommandResult.ps1
Due: PowerShellModified

added powershell version requirement
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Exclude Update from Install.md
Due: CommandsGalleryModified

Updating Commands.json;[skip ci]
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

test updates for detailed param
  PowerShell/JumpCloud Module/Tests/Public/Commands/CommandResults/Get-JCCommandResult.tests.ps1
Due: PowerShellModified

documentation/ hide -BYId and one more test
  PowerShell/JumpCloud Module/Docs/Get-JCCommandResult.md
  PowerShell/JumpCloud Module/Public/Commands/CommandResults/Get-JCCommandResult.ps1
  PowerShell/JumpCloud Module/Tests/Public/Commands/CommandResults/Get-JCCommandResult.tests.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Get-JCCommandResult.md
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

useragent fix
  PowerShell/JumpCloud Module/Public/Commands/CommandResults/Get-JCCommandResult.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
Due: PowerShellModified

changelog + release on merge
  .circleci/workflows.yml
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/JumpCloud.nuspec
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

more state handling
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Exclude Update from Install.md
Due: CommandsGalleryModified

fixed dumb copy paste error
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Exclude Update from Install.md
Due: CommandsGalleryModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  .circleci/workflows.yml
  PowerShell/JumpCloud Module/JumpCloud.nuspec
Due: PowerShellModified

update psscriptanalyzer settings and test
  PowerShell/JumpCloud Module/Tests/ModuleValidation/PSScriptAnalyzer.Tests.ps1
  PowerShell/JumpCloud Module/Tests/ModuleValidation/PSScriptAnalyzerSettings.psd1
Due: PowerShellModified

update changelog releasedate [skip ci]
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

update
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Update-JCUsersFromCSV.ps1
  PowerShell/JumpCloud Module/Tests/ModuleValidation/PSScriptAnalyzer.Tests.ps1
Due: PowerShellModified

scope headers variable in Get-JCCommandResult
  .circleci/workflows.yml
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Public/Commands/CommandResults/Get-JCCommandResult.ps1
  PowerShell/ModuleBanner.md
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

fixed spelling
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Exclude Update from Install.md
Due: CommandsGalleryModified

publish on release
  .circleci/workflows.yml
Due: none

updated check if installed
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Exclude Update from Install.md
Due: CommandsGalleryModified

added var back
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Exclude Update from Install.md
Due: CommandsGalleryModified

to pr
  .circleci/workflows.yml
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleBanner.md
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEvent.ps1
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEventCount.ps1
Due: PowerShellModified

test
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

excluded files
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEvent.ps1
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEventCount.ps1
  PowerShell/JumpCloud Module/Tests/ModuleValidation/PSScriptAnalyzer.Tests.ps1
Due: PowerShellModified
