Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified, RadiusDistributeCertModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

Update Get-JCResults.ps1
  PowerShell/JumpCloud Module/Private/NestedFunctions/Get-JCResults.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

set policy dynamic param
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
Due: PowerShellModified

registry file cleanup
  PowerShell/JumpCloud Module/Public/Policies/New-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Set-JCPolicy.md
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

registryOverrwrite param, update tests, fix for single reg item file
  PowerShell/JumpCloud Module/Private/Policies/Convert-RegToPSObject.ps1
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.tests.ps1
Due: PowerShellModified

remove testing vars
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

Throw error when policy with multiple names are matched w/ policyName parameter
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.tests.ps1
Due: PowerShellModified

documentation [skip ci]
  PowerShell/JumpCloud Module/Docs/New-JCPolicy.md
  PowerShell/JumpCloud Module/Docs/Set-JCPolicy.md
Due: PowerShellModified

Update Changelog.md
  scripts/automation/Radius/Changelog.md
Due: RadiusDistributeCertModified

fix closing }
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
Due: PowerShellModified

fix closing {}
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
Due: PowerShellModified

fix doc headers
  PowerShell/JumpCloud Module/Docs/Set-JCPolicy.md
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/New-JCPolicy.md
  PowerShell/JumpCloud Module/Docs/Set-JCPolicy.md
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

dynamicparam not closed correctly
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
Due: PowerShellModified

fix dynamicparam block
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
Due: PowerShellModified

fix date
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  .circleci/workflows.yml
  PowerShell/JumpCloud Module/JumpCloud.nuspec
Due: PowerShellModified

update AppData path for pwm install
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install JumpCloud Password Manager App.md
Due: CommandsGalleryModified

Updating Commands.json;[skip ci]
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

Update jc agent install script
  scripts/windows/InstallWindowsAgent.ps1
Due: none

add get-service check
  scripts/windows/InstallWindowsAgent.ps1
Due: none

comment clean
  scripts/windows/InstallWindowsAgent.ps1
Due: none

cleanup
  scripts/windows/InstallWindowsAgent.ps1
Due: none

'manager'
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install JumpCloud Password Manager App.md
Due: CommandsGalleryModified

parallel pester
  PowerShell/JumpCloud Module/Tests/InvokePester.ps1
Due: PowerShellModified

Update workflows.yml
  .circleci/workflows.yml
Due: none

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

remove defineenvironment from parallel tests
  PowerShell/JumpCloud Module/Tests/InvokePester.ps1
Due: PowerShellModified

update test changelog
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Fix windows JC PWM installer
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install JumpCloud Password Manager App.md
Due: CommandsGalleryModified

version
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install JumpCloud Password Manager App.md
Due: CommandsGalleryModified

Backup AD Agent Logs and Config in AD server
  scripts/windows/BackupADLog_JCSupportTeam.ps1
Due: none

suggestion changes
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install JumpCloud Password Manager App.md
Due: CommandsGalleryModified

Path conditions:
  PowerShellModified: any of: PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).*
  CommandsGalleryModified: any of: PowerShell\/(JumpCloud\sCommands\sGallery).*
  RadiusDistributeCertModified: any of: scripts\/automation\/Radius.*
