Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1
workflows:
  version: 2
  check-updated-files:
    jobs:
    - path-filtering/filter:
        mapping: |
          PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).* PowerShellModified true
        base-revision: master
        config-path: .circleci/workflows.yml
    - path-filtering/filter:
        mapping: |
          PowerShell\/(JumpCloud\sCommands\sGallery).* CommandsGalleryModified true
        base-revision: master
        config-path: .circleci/workflows.yml

update links
  .circleci/scripts/setLinks.py
Due: none

update name & change link script to command
  .circleci/scripts/parse_commands_to_json.py
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - Set Agent Log Level to Default.md
Due: CommandsGalleryModified

Updating Commands.json;[skip ci]
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

Version change, short url removal
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Private/NestedFunctions/New-JCCommandFromURL.ps1
  PowerShell/JumpCloud Module/Tests/Public/Commands/Import-JCCommand.tests.ps1
  PowerShell/ModuleBanner.md
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleBanner.md
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

patch
  .circleci/workflows.yml
Due: none

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleBanner.md
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

banner changelog
  PowerShell/ModuleBanner.md
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

init commit for config.json
  .gitignore
  PowerShell/JumpCloud Module/Private/NestedFunctions/Get-JCParallelValidation.ps1
  PowerShell/JumpCloud Module/Private/settings/Get-JCSettings.ps1
  PowerShell/JumpCloud Module/Private/settings/New-JCSettingsFile.ps1
  PowerShell/JumpCloud Module/Private/settings/Set-JCSettings.ps1
Due: PowerShellModified

psm1 should check config
  PowerShell/JumpCloud Module/JumpCloud.psm1
  PowerShell/JumpCloud Module/Public/Systems/Get-JCSystem.ps1
Due: PowerShellModified

strip backticks
  .circleci/scripts/parse_commands_to_json.py
Due: none

remove old commands
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Cache Latest MacOS Installer.md
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install Latest MacOS Installer.md
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Start Quick Assist Session.md
Due: CommandsGalleryModified

update parallel settings on load
  PowerShell/JumpCloud Module/JumpCloud.psm1
  PowerShell/JumpCloud Module/Private/NestedFunctions/Get-JCParallelValidation.ps1
  PowerShell/JumpCloud Module/Private/settings/New-JCSettingsFile.ps1
  PowerShell/JumpCloud Module/Private/settings/Set-JCSettings.ps1
Due: PowerShellModified

variable cleanup
  PowerShell/JumpCloud Module/JumpCloud.psm1
  PowerShell/JumpCloud Module/Private/settings/Get-JCSettings.ps1
  PowerShell/JumpCloud Module/Private/settings/New-JCSettingsFile.ps1
  PowerShell/JumpCloud Module/Private/settings/Set-JCSettings.ps1
Due: PowerShellModified

Update Mac - Install CrowdStrike Falcon Agent.md
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install CrowdStrike Falcon Agent.md
Due: CommandsGalleryModified

Update workflows.yml
  .circleci/workflows.yml
Due: none

Updating PowerShell Module;[skip ci]
  .circleci/workflows.yml
Due: none

Add script for Windows
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install Remote Assist.md
Due: CommandsGalleryModified

function names and tests
  PowerShell/JumpCloud Module/JumpCloud.psm1
  PowerShell/JumpCloud Module/Private/settings/Get-JCSettingsFile.ps1
  PowerShell/JumpCloud Module/Private/settings/New-JCSettingsFile.ps1
  PowerShell/JumpCloud Module/Private/settings/Set-JCSettingsFile.ps1
  PowerShell/JumpCloud Module/Private/settings/Update-JCSettingsFile.ps1
  PowerShell/JumpCloud Module/Tests/Private/settings/Get-JCSettingsFile.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Private/settings/New-JCSettingsFile.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Private/settings/Set-JCSettingsFile.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Private/settings/Update-JCSettingsFile.Tests.ps1
Due: PowerShellModified

Check signature on Mac before installation
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install Remote Assist.md
Due: CommandsGalleryModified

Clean up temp file
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install Remote Assist.md
Due: CommandsGalleryModified

move private function to public + update jcmodule
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Private/settings/New-JCSettingsFile.ps1
  PowerShell/JumpCloud Module/Public/Authentication/Connect-JCOnline.ps1
  PowerShell/JumpCloud Module/Public/Authentication/Update-JCModule.ps1
  PowerShell/JumpCloud Module/Public/settings/Set-JCSettingsFile.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Get-JCSystem.md
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Tests/Public/settings/Set-JCSettingsFile.Tests.ps1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

fixup! Clean up temp file
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install Remote Assist.md
Due: CommandsGalleryModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

Add Command to install RAS for EA on Mac
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install Remote Assist.md
Due: CommandsGalleryModified

Add command to install RAS for EA on Windows
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install Remote Assist.md
Due: CommandsGalleryModified

fixup! Add Command to install RAS for EA on Mac
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install Remote Assist.md
Due: CommandsGalleryModified

test for config in connect-jconline
  PowerShell/JumpCloud Module/Public/Authentication/Connect-JCOnline.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
Due: PowerShellModified

one more directory up
  PowerShell/JumpCloud Module/Public/Authentication/Connect-JCOnline.ps1
Due: PowerShellModified

Stop the existing RAS app before installation
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install Remote Assist.md
Due: CommandsGalleryModified
