Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified, RadiusDistributeCertModified

removed duplicate Policy functions from Public/Policies/PolicyGroups
  PowerShell/JumpCloud Module/Public/Policies/PolicyGroups/Get-JCPolicyGroup.ps1
  PowerShell/JumpCloud Module/Public/Policies/PolicyGroups/Get-JCPolicyGroupMember.ps1
  PowerShell/JumpCloud Module/Public/Policies/PolicyGroups/New-JCPolicyGroup.ps1
  PowerShell/JumpCloud Module/Public/Policies/PolicyGroups/Remove-JCPolicyGroup.ps1
  PowerShell/JumpCloud Module/Public/Policies/PolicyGroups/Set-JCPolicyGroup.ps1
Due: PowerShellModified

changelog updated
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

some tests files capitalization fixed. Removed tests for older policy groups
  PowerShell/JumpCloud Module/Tests/Public/Groups/PolicyGroups/Set-JCPolicyGroupMember.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/PolicyGroups/Get-JCPolicyGroup.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/PolicyGroups/Get-JCPolicyGroupMember.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/PolicyGroups/New-JCPolicyGroup.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/PolicyGroups/Remove-JCPolicyGroup.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/PolicyGroups/Set-JCPolicyGroup.Tests.ps1
Due: PowerShellModified

Updated patch mangement logs to collect and function. Along with creating a new directory path to house all related PM logging.
  scripts/macos/log_collection.sh
Due: none

Add RS Clare & Co Ltd network topology diagram
  rs-clare-network-diagram.html
Due: none

only install for managed users
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install JumpCloud Password Manager App.md
Due: CommandsGalleryModified

managed user check
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install JumpCloud Password Manager App.md
Due: CommandsGalleryModified

versioning
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install JumpCloud Password Manager App.md
Due: CommandsGalleryModified

Update commands.json
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

Update Connect-JCOnline.md
  PowerShell/JumpCloud Module/Docs/Connect-JCOnline.md
Due: PowerShellModified

Update Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
Due: PowerShellModified

Create Windows - Enable Quick Machine Recovery & Set Parameters for JumpCloud
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Enable Quick Machine Recovery & Set Parameters for JumpCloud
Due: CommandsGalleryModified

reg import data types
  PowerShell/JumpCloud Module/Private/Policies/Convert-RegToPSObject.ps1
  PowerShell/JumpCloud Module/Tests/Private/Policies/Convert-RegToPSObject.Tests.ps1
Due: PowerShellModified

Update readme.md
  scripts/automation/Radius/readme.md
Due: RadiusDistributeCertModified

Updating logs gathered, Credential Manager logging, gathering System User info, and Improved OS Version details
  scripts/windows/log_collection.ps1
Due: none

SUP-1556 Updated logs gathered, Credential Manager logging, gathering System User info, and Improved OS Version details
  scripts/windows/log_collection.ps1
Due: none

Add collection of tray logs from c:\programdata\jumpcloud\tray directory
  scripts/windows/log_collection.ps1
Due: none

Update tray log collection to include all *.log files
  scripts/windows/log_collection.ps1
Due: none

"SUP-1556 Updated logs gathered, Credential Manager logging, gathering System User info, and Improved OS Version details"
  scripts/windows/log_collection.ps1
Due: none

changelog date
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

psd1 date
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

regen from sdk
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEvent.ps1
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEventCount.ps1
  PowerShell/JumpCloud Module/Public/Groups/PolicyGroups/Get-JCPolicyGroup.ps1
  PowerShell/JumpCloud Module/Public/Groups/PolicyGroups/Get-JCPolicyGroupMember.ps1
  PowerShell/JumpCloud Module/Public/Groups/PolicyGroups/Remove-JCPolicyGroup.ps1
  PowerShell/JumpCloud Module/Public/Groups/PolicyGroups/Set-JCPolicyGroupMember.ps1
  PowerShell/JumpCloud Module/Public/Groups/SystemGroups/Get-JCSystemGroup.ps1
  PowerShell/JumpCloud Module/Public/Groups/UserGroups/Get-JCUserGroup.ps1
Due: PowerShellModified

Run CI on release branch
  .github/workflows/powershell-module-ci.yml
Due: none

build Module
  PowerShell/Deploy/Build-Module.ps1
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

generate docs
  PowerShell/JumpCloud Module/Docs/Get-JCGroup.md
  PowerShell/JumpCloud Module/Docs/Get-JCPolicyGroup.md
  PowerShell/JumpCloud Module/Docs/Get-JCPolicyGroupMember.md
  PowerShell/JumpCloud Module/Docs/Get-JCSystemGroup.md
  PowerShell/JumpCloud Module/Docs/Get-JCUserGroup.md
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/New-JCPolicyGroup.md
  PowerShell/JumpCloud Module/Docs/Remove-JCPolicyGroup.md
  PowerShell/JumpCloud Module/Docs/Set-JCPolicyGroupMember.md
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

missing tag
  PowerShell/JumpCloud Module/Tests/Public/Groups/PolicyGroups/Set-JCPolicyGroupMember.Tests.ps1
Due: PowerShellModified

module generation
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

ci on release branch
  .github/workflows/powershell-module-ci.yml
Due: none

rename tests casing
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Tests/Public/Groups/PolicyGroups/Get-JCPolicyGroupMember.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Groups/PolicyGroups/New-JCPolicyGroup.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Groups/PolicyGroups/Remove-JCPolicyGroup.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Groups/SystemGroups/Get-JCSystemGroup.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Groups/UserGroups/Get-JCUserGroup.Tests.ps1
Due: PowerShellModified

missing functions
  PowerShell/Deploy/SdkSync/jcapiToSupportSync.ps1
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/Set-JCPolicyGroup.md
  PowerShell/JumpCloud Module/Docs/Set-JCSystemGroup.md
  PowerShell/JumpCloud Module/Docs/Set-JCUserGroup.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Public/Groups/PolicyGroups/Set-JCPolicyGroup.ps1
  PowerShell/JumpCloud Module/Public/Groups/SystemGroups/Set-JCSystemGroup.ps1
  PowerShell/JumpCloud Module/Public/Groups/UserGroups/Set-JCUserGroup.ps1
  PowerShell/JumpCloud Module/Tests/Public/Groups/PolicyGroups/Get-JCPolicyGroup.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Groups/PolicyGroups/Set-JCPolicyGroup.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Groups/SystemGroups/Set-JCSystemGroup.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Groups/UserGroups/Set-JCUserGroup.Tests.ps1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

missing pester tests + date
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Tests/Public/Groups/PolicyGroups/Set-JCPolicyGroup.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Groups/PolicyGroups/Set-JCPolicyGroupMember.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Groups/SystemGroups/Set-JCSystemGroup.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Groups/UserGroups/Set-JCUserGroup.Tests.ps1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

changelog
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

pester params org
  .github/workflows/powershell-module-ci.yml
  PowerShell/JumpCloud Module/Tests/Public/Authentication/Connect-JCOnline.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Authentication/Set-JCOrganization.Tests.ps1
Due: PowerShellModified

set-jcpolicyGroupMemberTest validation
  PowerShell/JumpCloud Module/Tests/Public/Groups/PolicyGroups/Set-JCPolicyGroupMember.Tests.ps1
Due: PowerShellModified

JCPolicyGroupTests validated
  PowerShell/JumpCloud Module/Tests/Public/Groups/PolicyGroups/New-JCPolicyGroup.Tests.ps1
Due: PowerShellModified

remove
  PowerShell/JumpCloud Module/Tests/Public/Groups/PolicyGroups/New-JCPolicyGroup.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Groups/PolicyGroups/New-JcPolicyGroup.Tests.ps1
Due: PowerShellModified

new-jcpolicyGroup tests
  PowerShell/JumpCloud Module/Tests/Public/Groups/PolicyGroups/New-JCPolicyGroup.Tests.ps1
Due: PowerShellModified

Path conditions:
  PowerShellModified: any of: PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).*
  CommandsGalleryModified: any of: PowerShell\/(JumpCloud\sCommands\sGallery).*
  RadiusDistributeCertModified: any of: scripts\/automation\/Radius.*
