Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified, RadiusDistributeCertModified

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3
workflows:
  version: 2
  check-updated-files:
    jobs:
      - path-filtering/filter:
          mapping: |
            PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).* PowerShellModified true
            PowerShell\/(JumpCloud\sCommands\sGallery).* CommandsGalleryModified true
            scripts\/automation\/Radius.* RadiusDistributeCertModified true
          base-revision: master
          config-path: .circleci/workflows.yml

radius-module ci task
  .github/workflows/radius-module-ci.yml
Due: none

pester location
  .github/workflows/radius-module-ci.yml
Due: none

checkout scripts directory
  .github/workflows/radius-module-ci.yml
Due: none

cache + setup order
  .github/workflows/radius-module-ci.yml
  scripts/automation/Radius/Tests/Invoke-Pester.ps1
Due: RadiusDistributeCertModified

cache
  .github/workflows/radius-module-ci.yml
Due: none

remove artifact download
  .github/workflows/radius-module-ci.yml
Due: none

just run pester
  .github/workflows/radius-module-ci.yml
Due: none

radius org setup
  scripts/automation/Radius/Tests/SetupRadiusOrg.ps1
Due: RadiusDistributeCertModified

config path
  scripts/automation/Radius/Tests/SetupRadiusOrg.ps1
Due: RadiusDistributeCertModified

gci debugging
  .github/workflows/radius-module-ci.yml
Due: none

item.fullname
  .github/workflows/radius-module-ci.yml
Due: none

config.ps1 casing
  scripts/automation/Radius/Functions/Private/CertGeneration/Generate-UserCert.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateRootCert.ps1
  scripts/automation/Radius/JumpCloud-Radius.psm1
  scripts/automation/Radius/Start-RadiusDeployment.ps1
  scripts/automation/Radius/Tests/ModuleValidation/ModuleVersion.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-GenerateUserCerts.Tests.ps1
  scripts/automation/Radius/Tests/SetupRadiusOrg.ps1
Due: RadiusDistributeCertModified

casing/ locations
  .github/workflows/radius-module-ci.yml
  scripts/automation/Radius/Tests/HelperFunctions.ps1
  scripts/automation/Radius/Tests/Public/Get-JCRGlobalVars.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
  scripts/automation/Radius/Tests/SetupRadiusOrg.ps1
Due: RadiusDistributeCertModified

cache v4
  .github/workflows/radius-module-ci.yml
Due: none

generate random cert pass
  scripts/automation/Radius/Tests/Public/Get-JCRGlobalVars.Tests.ps1
  scripts/automation/Radius/Tests/SetupRadiusOrg.ps1
Due: RadiusDistributeCertModified

populate cert /user cert dir + keyPass
  scripts/automation/Radius/JumpCloud-Radius.psm1
  scripts/automation/Radius/Tests/SetupRadiusOrg.ps1
Due: RadiusDistributeCertModified

same certificate pass
  scripts/automation/Radius/Tests/Public/Start-GenerateRootCert.Tests.ps1
Due: RadiusDistributeCertModified

generate root cert before deploy tests
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
Due: RadiusDistributeCertModified

tests
  scripts/automation/Radius/Tests/Public/Get-JCRGlobalVars.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
Due: RadiusDistributeCertModified

Create Get-JCScheduledUserstate.ps1
  PowerShell/JumpCloud Module/Public/Users/Get-JCScheduledUserstate.ps1
Due: PowerShellModified

account for multiple single userstate changes
  PowerShell/JumpCloud Module/Public/Users/Get-JCScheduledUserstate.ps1
Due: PowerShellModified

Get-JCScheduledUserstate tests
  PowerShell/JumpCloud Module/Tests/Public/Users/Get-JCScheduledUserstate.ps1
Due: PowerShellModified

multiple userstate changes for single user test
  PowerShell/JumpCloud Module/Tests/Public/Users/Get-JCScheduledUserstate.ps1
Due: PowerShellModified

return null if no results from sdk
  PowerShell/JumpCloud Module/Public/Users/Get-JCScheduledUserstate.ps1
Due: PowerShellModified

tests missing force invoke + moduleValidation exclude
  .github/workflows/radius-module-ci.yml
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
Due: RadiusDistributeCertModified

update manifest/changelog
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

macos-latest
  .github/workflows/radius-module-ci.yml
  scripts/automation/Radius/Tests/SetupRadiusOrg.ps1
Due: RadiusDistributeCertModified

filter using ubuntu runners
  .github/workflows/radius-module-ci.yml
Due: none

module location
  .github/workflows/radius-module-ci.yml
Due: none

fix file name
  PowerShell/JumpCloud Module/Tests/Public/Users/Get-JCScheduledUserstate.Tests.ps1
Due: PowerShellModified

update changelog/manifest
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

fix function name/userid input test
  PowerShell/JumpCloud Module/Tests/Public/Users/Get-JCScheduledUserstate.Tests.ps1
Due: PowerShellModified

cache + env
  .github/workflows/radius-module-ci.yml
Due: none

cache + correct env
  .github/workflows/radius-module-ci.yml
Due: none

generate root cert before user cert tests
  scripts/automation/Radius/Tests/Public/Start-GenerateUserCerts.Tests.ps1
Due: RadiusDistributeCertModified

print debug
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
Due: RadiusDistributeCertModified

fix misspellings
  PowerShell/JumpCloud Module/Tests/Public/Users/Get-JCScheduledUserstate.Tests.ps1
Due: PowerShellModified

jcapisupportsync
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEvent.ps1
Due: PowerShellModified

Add millisecond to Get-Date
  PowerShell/JumpCloud Module/Tests/Public/Users/Get-JCScheduledUserstate.Tests.ps1
Due: PowerShellModified

fix millisecond
  PowerShell/JumpCloud Module/Tests/Public/Users/Get-JCScheduledUserstate.Tests.ps1
Due: PowerShellModified
