Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified, RadiusDistributeCertModified

Update ModuleChangelog.md
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Update JumpCloud.psd1
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

set env, default param values
  PowerShell/JumpCloud Module/Public/Authentication/Connect-JCOnline.ps1
Due: PowerShellModified

JCEnvironment variable handling
  PowerShell/JumpCloud Module/Public/Authentication/Connect-JCOnline.ps1
Due: PowerShellModified

Set JCUrlBasePath based on JCEnvironment variable
  PowerShell/JumpCloud Module/Private/NestedFunctions/Invoke-JCApi.ps1
Due: PowerShellModified

Remove redundant JCAPIKEY check in Set-JCSettingsFile
  PowerShell/JumpCloud Module/Public/settings/Set-JCSettingsFile.ps1
Due: PowerShellModified

exclude Set-JCSettingsFile
  PowerShell/JumpCloud Module/Tests/ModuleValidation/FunctionFiles.Tests.ps1
Due: PowerShellModified

spellcheck
  .github/workflows/powershell-module-ci.yml
Due: none

update docs
  PowerShell/Deploy/Build-HelpFiles.ps1
  PowerShell/JumpCloud Module/Docs/Connect-JCOnline.md
  PowerShell/JumpCloud Module/Docs/Get-JCCommand.md
  PowerShell/JumpCloud Module/Docs/Get-JCReport.md
  PowerShell/JumpCloud Module/Docs/Get-JCSystem.md
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/New-JCReport.md
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

returnproperties
  PowerShell/JumpCloud Module/Public/Commands/Get-JCCommand.ps1
  PowerShell/JumpCloud Module/Public/Systems/Get-JCSystem.ps1
Due: PowerShellModified

properly set jcenvironment
  PowerShell/JumpCloud Module/Tests/Public/Authentication/Connect-JCOnline.Tests.ps1
Due: PowerShellModified

fix params
  PowerShell/JumpCloud Module/Public/Reports/Get-JCReport.ps1
  PowerShell/JumpCloud Module/Public/Reports/New-JCReport.ps1
Due: PowerShellModified

Update Connect-JCOnline.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Authentication/Connect-JCOnline.Tests.ps1
Due: PowerShellModified

fix policy test
  PowerShell/JumpCloud Module/Tests/Public/Policies/New-JCPolicy.Tests.ps1
Due: PowerShellModified

fix policy tests
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.Tests.ps1
Due: PowerShellModified

return object with new SDKs
  PowerShell/JumpCloud Module/Tests/Public/DirectoryInsights/Get-JCEventCount.Tests.ps1
Due: PowerShellModified

association tests new user, sdk generation, changelogs
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEvent.ps1
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEventCount.ps1
  PowerShell/JumpCloud Module/Tests/Public/Association/Get-JCAssociation.Tests.ps1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

3.0.0
  PowerShell/Deploy/SdkSync/jcapiToSupportSync.ps1
  PowerShell/JumpCloud Module/Docs/Get-JCEvent.md
  PowerShell/JumpCloud Module/Docs/Get-JCEventCount.md
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/PlatyPS.log
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEvent.ps1
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEventCount.ps1
  PowerShell/JumpCloud Module/Tests/HelperFunctions.ps1
  PowerShell/JumpCloud Module/Tests/ModuleValidation/HelpFiles.Tests.ps1
  PowerShell/JumpCloud Module/Tests/ModuleValidation/SDKImport.Tests.ps1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

skip jcapi gen tests until we fix SDK help gen
  PowerShell/JumpCloud Module/Tests/ModuleValidation/SDKImport.Tests.ps1
Due: PowerShellModified

sdk help url
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEvent.ps1
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEventCount.ps1
Due: PowerShellModified

remove docs log/ event examples
  PowerShell/JumpCloud Module/.gitignore
  PowerShell/JumpCloud Module/Docs/PlatyPS.log
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEvent.ps1
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEventCount.ps1
Due: PowerShellModified

settings file set JCEnvironment variable
  PowerShell/JumpCloud Module/JumpCloud.psm1
Due: PowerShellModified

clone PSDefaultParameterValues
  scripts/automation/Radius/JumpCloud.Radius.psd1
  scripts/automation/Radius/JumpCloud.Radius.psm1
Due: RadiusDistributeCertModified

parallel threads consoleHost/apiHost
  scripts/automation/Radius/Functions/Public/Start-DeployUserCerts.ps1
Due: RadiusDistributeCertModified

set Env
  scripts/automation/Radius/Functions/Public/Start-DeployUserCerts.ps1
Due: RadiusDistributeCertModified

test set psDefaultParameterValues directly
  scripts/automation/Radius/Functions/Public/Start-DeployUserCerts.ps1
Due: RadiusDistributeCertModified

set env as standard
  scripts/automation/Radius/Functions/Public/Start-DeployUserCerts.ps1
Due: RadiusDistributeCertModified

write-debug
  scripts/automation/Radius/Functions/Public/Start-DeployUserCerts.ps1
Due: RadiusDistributeCertModified

debug deploye
  scripts/automation/Radius/Functions/Public/Start-DeployUserCerts.ps1
Due: RadiusDistributeCertModified

correct apihost/ console host
  scripts/automation/Radius/Functions/Public/Start-DeployUserCerts.ps1
Due: RadiusDistributeCertModified

set env
  scripts/automation/Radius/Functions/Private/CertJson/Get-CertHash.ps1
  scripts/automation/Radius/Functions/Public/Start-DeployUserCerts.ps1
Due: RadiusDistributeCertModified

warning msgs/ comments
  scripts/automation/Radius/Functions/Public/Start-DeployUserCerts.ps1
Due: RadiusDistributeCertModified

changelog
  scripts/automation/Radius/Changelog.md
  scripts/automation/Radius/JumpCloud.Radius.psd1
Due: RadiusDistributeCertModified

MDM Removal Script Update
  scripts/windows/remove_windowsMDM.ps1
Due: none

Update scripts/windows/remove_windowsMDM.ps1
  scripts/windows/remove_windowsMDM.ps1
Due: none

3.0.1
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/JumpCloud.psm1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Path conditions:
  PowerShellModified: any of: PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).*
  CommandsGalleryModified: any of: PowerShell\/(JumpCloud\sCommands\sGallery).*
  RadiusDistributeCertModified: any of: scripts\/automation\/Radius.*
