Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified, RadiusDistributeCertModified

validate radius dir outside module path
  scripts/automation/Radius/Functions/Private/Config/Test-JCRRadiusDirectory.ps1
  scripts/automation/Radius/Functions/Public/Config/Set-JCRConfigFile.ps1
  scripts/automation/Radius/Tests/SetupRadiusOrg.ps1
Due: RadiusDistributeCertModified

create radius directory if it does not exist
  scripts/automation/Radius/Tests/ModuleValidation/ModuleVersion.Tests.ps1
Due: RadiusDistributeCertModified

write-hosts
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-CertInfo.ps1
  scripts/automation/Radius/Functions/Private/CertGeneration/Invoke-UserCertProcess.ps1
  scripts/automation/Radius/Functions/Public/Start-DeployUserCerts.ps1
  scripts/automation/Radius/Tests/Public/Module/Update-JCRModule.Tests.ps1
Due: RadiusDistributeCertModified

module name for Build-HelpFiles
  PowerShell/Deploy/Build-HelpFiles.ps1
Due: PowerShellModified

deploy first pass
  scripts/automation/Radius/Functions/Private/Settings/Set-JCRSettingsFile.ps1
  scripts/automation/Radius/JumpCloud.Radius.psd1
  scripts/automation/Radius/deploy/BuildNuspecFromPsd1.ps1
  scripts/automation/Radius/deploy/build.ps1
  scripts/automation/Radius/deploy/output/JumpCloud.Radius.nuspec
  scripts/automation/Radius/docs/Get-JCRCertReport.md
  scripts/automation/Radius/docs/Get-JCRGlobalVars.md
  scripts/automation/Radius/docs/JumpCloud.Radius.md
  scripts/automation/Radius/docs/Set-JCRConfigFile.md
  scripts/automation/Radius/docs/Start-DeployUserCerts.md
  scripts/automation/Radius/docs/Start-GenerateRootCert.md
  scripts/automation/Radius/docs/Start-GenerateUserCerts.md
  scripts/automation/Radius/docs/Start-MonitorCertDeployment.md
  scripts/automation/Radius/docs/Start-RadiusDeployment.md
  scripts/automation/Radius/docs/Update-JCRModule.md
  scripts/automation/Radius/docs/about_JumpCloud.Radius.md
  scripts/automation/Radius/en-Us/JumpCloud.Radius-help.xml
  scripts/automation/Radius/en-Us/about_JumpCloud.Radius.help.txt
Due: RadiusDistributeCertModified

consolidate JCRConfig Subject Headers
  scripts/automation/Radius/Functions/Private/CertGeneration/Generate-UserCert.ps1
  scripts/automation/Radius/Functions/Private/CertGeneration/Set-JCRExtensionFile.ps1
  scripts/automation/Radius/Functions/Private/CertGeneration/Test-JCRExtensionFile.ps1
  scripts/automation/Radius/Functions/Private/Config/Test-JCRRadiusDirectory.ps1
  scripts/automation/Radius/Functions/Public/Config/Set-JCRConfigFile.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateRootCert.ps1
  scripts/automation/Radius/JumpCloud.Radius.psm1
  scripts/automation/Radius/Tests/Public/Module/Update-JCRModule.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-GenerateRootCert.Tests.ps1
Due: RadiusDistributeCertModified

remove config.ps1 and update refs
  scripts/automation/Radius/Config.ps1
  scripts/automation/Radius/Functions/Private/CertGeneration/Generate-UserCert.ps1
  scripts/automation/Radius/Functions/Private/Config/Confirm-JCRConfigFile.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-RadiusMainMenu.ps1
  scripts/automation/Radius/Functions/Private/Module/Get-OpenSSLVersion.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateRootCert.ps1
  scripts/automation/Radius/Tests/ModuleValidation/ModuleVersion.Tests.ps1
  scripts/automation/Radius/Tests/Private/Config/Confirm-JCRConfigFile.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-GenerateUserCerts.Tests.ps1
  scripts/automation/Radius/readme.md
Due: RadiusDistributeCertModified

update module version tests
  scripts/automation/Radius/Tests/ModuleValidation/ModuleVersion.Tests.ps1
Due: RadiusDistributeCertModified

update setup org
  scripts/automation/Radius/Tests/SetupRadiusOrg.ps1
Due: RadiusDistributeCertModified

set the contents of the config to the value from before
  scripts/automation/Radius/Tests/Private/Config/Confirm-JCRConfigFile.Tests.ps1
Due: RadiusDistributeCertModified

update tests with hashtable values
  scripts/automation/Radius/Tests/Private/Config/Confirm-JCRConfigFile.Tests.ps1
  scripts/automation/Radius/Tests/Public/Module/Update-JCRModule.Tests.ps1
Due: RadiusDistributeCertModified

$param and confirm with a forced config file
  scripts/automation/Radius/Tests/Private/Config/Confirm-JCRConfigFile.Tests.ps1
Due: RadiusDistributeCertModified

confirm tests
  scripts/automation/Radius/Tests/Private/Config/Confirm-JCRConfigFile.Tests.ps1
Due: RadiusDistributeCertModified

reset config
  scripts/automation/Radius/Tests/Private/Config/Confirm-JCRConfigFile.Tests.ps1
Due: RadiusDistributeCertModified

update module tests
  scripts/automation/Radius/Tests/Public/Module/Update-JCRModule.Tests.ps1
Due: RadiusDistributeCertModified

adding ps1 file
  scripts/automation/assign_primary_user.ps1
Due: none

exclude config.json, update the config with update module
  scripts/automation/Radius/Functions/Private/Config/Get-JCRConfigFile.ps1
  scripts/automation/Radius/Functions/Private/Config/Update-JCRConfigFile.ps1
  scripts/automation/Radius/Functions/Public/Module/Update-JCRModule.ps1
  scripts/automation/Radius/Tests/Public/Module/Update-JCRModule.Tests.ps1
Due: RadiusDistributeCertModified

remove module if lingering
  scripts/automation/Radius/Tests/Public/Module/Update-JCRModule.Tests.ps1
Due: RadiusDistributeCertModified

remove extensions file changes in .gitignore
  .gitignore
Due: none

Added logic to collect diagnostic information for CertificateService
  scripts/macos/log_collection.sh
Due: none

extensions file generation + confirm JCR tests
  scripts/automation/Radius/Functions/Private/CertGeneration/Set-JCRExtensionFile.ps1
  scripts/automation/Radius/Functions/Private/CertGeneration/Test-JCRExtensionFile.ps1
  scripts/automation/Radius/Functions/Private/Config/Confirm-JCRConfigFile.ps1
  scripts/automation/Radius/Functions/Private/Config/Get-JCRConfig.ps1
  scripts/automation/Radius/Functions/Public/Config/Set-JCRConfigFile.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateRootCert.ps1
  scripts/automation/Radius/Tests/Private/Config/Confirm-JCRConfigFile.Tests.ps1
Due: RadiusDistributeCertModified

JCRConfig rename
  scripts/automation/Radius/Functions/Private/Config/Confirm-JCRConfig.ps1
  scripts/automation/Radius/Functions/Private/Config/Get-JCRConfig.ps1
  scripts/automation/Radius/Functions/Private/Config/New-JCRConfig.ps1
  scripts/automation/Radius/Functions/Private/Config/Test-JCRRadiusDirectory.ps1
  scripts/automation/Radius/Functions/Private/Config/Update-JCRConfig.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-RadiusMainMenu.ps1
  scripts/automation/Radius/Functions/Private/Module/Get-OpenSSLVersion.ps1
  scripts/automation/Radius/Functions/Public/Config/Set-JCRConfig.ps1
  scripts/automation/Radius/Functions/Public/Get-JCRGlobalVars.ps1
  scripts/automation/Radius/Functions/Public/Module/Update-JCRModule.ps1
  scripts/automation/Radius/Functions/Public/Start-RadiusDeployment.ps1
  scripts/automation/Radius/JumpCloud.Radius.psd1
  scripts/automation/Radius/JumpCloud.Radius.psm1
  scripts/automation/Radius/Tests/ModuleValidation/ModuleVersion.Tests.ps1
  scripts/automation/Radius/Tests/Private/Config/Confirm-JCRConfig.Tests.ps1
  scripts/automation/Radius/Tests/Public/Get-JCRGlobalVars.Tests.ps1
  scripts/automation/Radius/Tests/Public/Module/Update-JCRModule.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-GenerateUserCerts.Tests.ps1
  scripts/automation/Radius/Tests/SetupRadiusOrg.ps1
  scripts/automation/Radius/multi_group_radius.ps1
Due: RadiusDistributeCertModified

docs
  scripts/automation/Radius/JumpCloud.Radius.psd1
  scripts/automation/Radius/docs/JumpCloud.Radius.md
  scripts/automation/Radius/docs/Set-JCRConfig.md
  scripts/automation/Radius/en-Us/JumpCloud.Radius-help.xml
Due: RadiusDistributeCertModified

update emailSan extensions
  scripts/automation/Radius/Functions/Private/CertGeneration/Generate-UserCert.ps1
  scripts/automation/Radius/Functions/Private/CertGeneration/Set-JCRExtensionFile.ps1
  scripts/automation/Radius/Tests/Private/Config/Confirm-JCRConfig.Tests.ps1
Due: RadiusDistributeCertModified

openSSL validation
  scripts/automation/Radius/Functions/Private/Config/Confirm-JCRConfig.ps1
Due: RadiusDistributeCertModified

JCRConfig in readme.md
  scripts/automation/Radius/readme.md
Due: RadiusDistributeCertModified

openssl location
  scripts/automation/Radius/Tests/ModuleValidation/ModuleVersion.Tests.ps1
Due: RadiusDistributeCertModified

remove items from multiGroupRadius automation script
  scripts/automation/Radius/multi_group_radius.ps1
Due: RadiusDistributeCertModified

update set-JCRConfig to hide true/false from validating radius directory
  scripts/automation/Radius/Functions/Public/Config/Set-JCRConfig.ps1
Due: RadiusDistributeCertModified

warn if openssl is null + 2.1.0 version
  scripts/automation/Radius/Functions/Private/Config/Confirm-JCRConfig.ps1
  scripts/automation/Radius/JumpCloud.Radius.psd1
Due: RadiusDistributeCertModified

tests run on branch 'master'
  .github/workflows/radius-module-ci.yml
Due: none

release workflow Dependencies
  .github/workflows/release-workflow.yml
Due: none

radius module release workflow init commit
  .github/workflows/radius-release-workflow.yml
Due: none

test radius release
  .github/workflows/radius-release-workflow.yml
Due: none

test release workflow
  .github/workflows/radius-module-ci.yml
  .github/workflows/radius-release-workflow.yml
Due: none

test release workflow
  .github/workflows/radius-release-workflow.yml
Due: none

Update License
  PowerShell/JumpCloud Module/LICENSE
  scripts/automation/Radius/LICENSE
Due: PowerShellModified, RadiusDistributeCertModified

update output path + nuspec/nupkg location
  .github/workflows/radius-release-workflow.yml
  scripts/automation/Radius/JumpCloud.Radius.nuspec
  scripts/automation/Radius/deploy/BuildNuspecFromPsd1.ps1
Due: RadiusDistributeCertModified

paths to test release workflow
  .github/workflows/radius-release-workflow.yml
Due: none

Path conditions:
  PowerShellModified: any of: PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).*
  CommandsGalleryModified: any of: PowerShell\/(JumpCloud\sCommands\sGallery).*
  RadiusDistributeCertModified: any of: scripts\/automation\/Radius.*
