Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1
workflows:
  version: 2
  check-updated-files:
    jobs:
    - path-filtering/filter:
        mapping: |
          PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).* PowerShellModified true
        base-revision: master
        config-path: .circleci/workflows.yml
    - path-filtering/filter:
        mapping: |
          PowerShell\/(JumpCloud\sCommands\sGallery).* CommandsGalleryModified true
        base-revision: master
        config-path: .circleci/workflows.yml

description
  _posts/2022-08-04-Report-Commands-To-Systems-And-Groups.md
Due: none

remove non-null value to test
  PowerShell/JumpCloud Module/Private/settings/New-JCSettingsFile.ps1
Due: PowerShellModified

test for null values in settings file
  PowerShell/JumpCloud Module/Tests/Private/settings/New-JCSettingsFile.Tests.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

Use /S to stop the process
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install Remote Assist.md
Due: CommandsGalleryModified

Updates to New, Import and Update CSV
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Import-JCUsersFromCSV.ps1
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/New-JCImportTemplate.ps1
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Update-JCUsersFromCSV.ps1
Due: PowerShellModified

changelog and version
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

changelog edit
  .circleci/workflows.yml
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleBanner.md
Due: PowerShellModified

Log exceptions
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install Remote Assist.md
Due: CommandsGalleryModified

update-jcmodule testing
  PowerShell/JumpCloud Module/Private/Authentication/Get-JCInstalledModule.ps1
  PowerShell/JumpCloud Module/Private/Authentication/Get-JCLatestModule.ps1
  PowerShell/JumpCloud Module/Public/Authentication/Update-JCModule.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Tests/Private/Authentication/Get-JCInstalledModule.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Private/Authentication/Get-JCLatestModule.Tests.ps1
Due: PowerShellModified

remove updates block for testing
  PowerShell/JumpCloud Module/Private/settings/New-JCSettingsFile.ps1
Due: PowerShellModified

restore updates in config for tests
  PowerShell/JumpCloud Module/Private/settings/New-JCSettingsFile.ps1
Due: PowerShellModified

import priv functions in update jcmodule & revert settings
  PowerShell/JumpCloud Module/Private/settings/New-JCSettingsFile.ps1
  PowerShell/JumpCloud Module/Public/Authentication/Update-JCModule.ps1
Due: PowerShellModified

restore settings for update test
  PowerShell/JumpCloud Module/Private/settings/New-JCSettingsFile.ps1
Due: PowerShellModified

Update error messages
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install Remote Assist.md
Due: CommandsGalleryModified

Update wording and try more carefully to clean up
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install Remote Assist.md
Due: CommandsGalleryModified

Update messaging
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install Remote Assist.md
Due: CommandsGalleryModified

update module cleanup
  PowerShell/JumpCloud Module/Private/settings/New-JCSettingsFile.ps1
  PowerShell/JumpCloud Module/Public/Authentication/Update-JCModule.ps1
Due: PowerShellModified

Rework ending the process
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install Remote Assist.md
Due: CommandsGalleryModified

get config on new settings file
  PowerShell/JumpCloud Module/Public/settings/Set-JCSettingsFile.ps1
Due: PowerShellModified

Update Module Changes for PSGallery
  PowerShell/JumpCloud Module/Private/Authentication/Get-JCInstalledModule.ps1
  PowerShell/JumpCloud Module/Private/settings/New-JCSettingsFile.ps1
  PowerShell/JumpCloud Module/Public/Authentication/Connect-JCOnline.ps1
  PowerShell/JumpCloud Module/Public/Authentication/Update-JCModule.ps1
  PowerShell/JumpCloud Module/Public/settings/Set-JCSettingsFile.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/Docs/Update-JCModule.md
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

parameter update for update-JCModule tests
  PowerShell/JumpCloud Module/Tests/Public/Authentication/Update-JCModule.Tests.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/JumpCloud.nuspec
Due: PowerShellModified

module settings case & docs update
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/Private/settings/New-JCSettingsFile.ps1
Due: PowerShellModified

skip jcassociation tests during testing
  .circleci/workflows.yml
Due: none

Update-JCModule updates/ tests
  PowerShell/JumpCloud Module/Private/settings/New-JCSettingsFile.ps1
  PowerShell/JumpCloud Module/Public/Authentication/Update-JCModule.ps1
  PowerShell/JumpCloud Module/Tests/Public/Authentication/Update-JCModule.Tests.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

test import
  PowerShell/JumpCloud Module/Public/Authentication/Update-JCModule.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.nuspec
Due: PowerShellModified

Revert "test import"
  PowerShell/JumpCloud Module/Public/Authentication/Update-JCModule.ps1
Due: PowerShellModified

update-jcmodule import next version private functions
  PowerShell/JumpCloud Module/Public/Authentication/Update-JCModule.ps1
Due: PowerShellModified
