Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified, RadiusDistributeCertModified

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3
workflows:
  version: 2
  check-updated-files:
    jobs:
      - path-filtering/filter:
          mapping: |
            PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).* PowerShellModified true
            PowerShell\/(JumpCloud\sCommands\sGallery).* CommandsGalleryModified true
            scripts\/automation\/Radius.* RadiusDistributeCertModified true
          base-revision: master
          config-path: .circleci/workflows.yml

bumped script version
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

PWM Mac Additional Fodler Ownership for auto-updater
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

Added Version checks for PWM mac & windows
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

Update version of scripts to 2.0.0
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

Updated name of script
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

Changed boolean values to true by default
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install JumpCloud Password Manager App.md
Due: CommandsGalleryModified

Lint
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

Added missing semicolumn
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

psd1 date
  scripts/automation/Radius/JumpCloud.Radius.psd1
Due: RadiusDistributeCertModified

check changelog
  scripts/automation/Radius/Changelog.md
Due: RadiusDistributeCertModified

check workflow
  .github/workflows/radius-module-ci.yml
Due: none

global settings/ variables in config.json
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-CertInfo.ps1
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-CertKeyPass.ps1
  scripts/automation/Radius/Functions/Private/CertGeneration/Generate-UserCert.ps1
  scripts/automation/Radius/Functions/Private/CertGeneration/Invoke-UserCertProcess.ps1
  scripts/automation/Radius/Functions/Private/Config/Confirm-JCRConfigFile.ps1
  scripts/automation/Radius/Functions/Private/Config/New-JCRConfigFile.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-RadiusMainMenu.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-RootCAGenerationMenu.ps1
  scripts/automation/Radius/Functions/Private/Module/Get-OpenSSLVersion.ps1
  scripts/automation/Radius/Functions/Private/Module/Validate-JCRModuleRequirements.ps1
  scripts/automation/Radius/Functions/Public/Get-JCRGlobalVars.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateRootCert.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateUserCerts.ps1
  scripts/automation/Radius/JumpCloud.Radius.psm1
  scripts/automation/Radius/Tests/Public/Get-JCRGlobalVars.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-GenerateRootCert.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-GenerateUserCerts.Tests.ps1
Due: RadiusDistributeCertModified

Module version Tests
  scripts/automation/Radius/Tests/ModuleValidation/ModuleVersion.Tests.ps1
Due: RadiusDistributeCertModified

cache path
  .github/workflows/radius-module-ci.yml
Due: none

private functions load before setupRadiusOrg
  scripts/automation/Radius/Tests/Invoke-Pester.ps1
Due: RadiusDistributeCertModified

import module
  scripts/automation/Radius/Tests/Invoke-Pester.ps1
Due: RadiusDistributeCertModified

settingsFille -> ConfigFile
  scripts/automation/Radius/Functions/Public/Get-JCRGlobalVars.ps1
Due: RadiusDistributeCertModified

setup org with variables
  scripts/automation/Radius/Tests/SetupRadiusOrg.ps1
Due: RadiusDistributeCertModified

generate cert variables
  scripts/automation/Radius/Functions/Private/CertGeneration/Generate-UserCert.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateRootCert.ps1
Due: RadiusDistributeCertModified

variables from config
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
  scripts/automation/Radius/Functions/Private/CertGeneration/Generate-UserCert.ps1
  scripts/automation/Radius/Functions/Private/CertGeneration/Invoke-UserCertProcess.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateUserCerts.ps1
Due: RadiusDistributeCertModified

paths with new variables
  scripts/automation/Radius/Tests/Public/Start-GenerateRootCert.Tests.ps1
Due: RadiusDistributeCertModified

lastUpdate
  scripts/automation/Radius/Tests/Public/Get-JCRGlobalVars.Tests.ps1
Due: RadiusDistributeCertModified

global vars changes
  scripts/automation/Radius/Functions/Public/Get-JCRGlobalVars.ps1
Due: RadiusDistributeCertModified

user cert paths
  scripts/automation/Radius/Functions/Private/CertGeneration/Generate-UserCert.ps1
Due: RadiusDistributeCertModified

pester variables
  scripts/automation/Radius/Tests/Invoke-Pester.ps1
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
  scripts/automation/Radius/Tests/SetupRadiusOrg.ps1
Due: RadiusDistributeCertModified

test update in get-CertInfo
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-CertInfo.ps1
Due: RadiusDistributeCertModified

Revert "test update in get-CertInfo"
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-CertInfo.ps1
Due: RadiusDistributeCertModified

get global vars on import
  scripts/automation/Radius/JumpCloud.Radius.psm1
Due: RadiusDistributeCertModified

module validation with API key
  .github/workflows/radius-module-ci.yml
  scripts/automation/Radius/Tests/Invoke-Pester.ps1
Due: RadiusDistributeCertModified

set env
  .github/workflows/radius-module-ci.yml
Due: none

multiple param sets
  scripts/automation/Radius/Tests/Invoke-Pester.ps1
Due: RadiusDistributeCertModified

module load order
  scripts/automation/Radius/Tests/Invoke-Pester.ps1
Due: RadiusDistributeCertModified

setup Org
  scripts/automation/Radius/Tests/Invoke-Pester.ps1
Due: RadiusDistributeCertModified

order
  scripts/automation/Radius/Tests/Invoke-Pester.ps1
Due: RadiusDistributeCertModified

functions load order
  scripts/automation/Radius/Tests/Invoke-Pester.ps1
Due: RadiusDistributeCertModified

session import
  scripts/automation/Radius/Functions/Public/Get-JCRCertReport.ps1
  scripts/automation/Radius/Functions/Public/Get-JCRGlobalVars.ps1
  scripts/automation/Radius/Functions/Public/Start-DeployUserCerts.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateRootCert.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateUserCerts.ps1
  scripts/automation/Radius/Functions/Public/Start-RadiusDeployment.ps1
  scripts/automation/Radius/JumpCloud.Radius.psm1
Due: RadiusDistributeCertModified

user cert location log
  scripts/automation/Radius/Functions/Public/Start-GenerateUserCerts.ps1
Due: RadiusDistributeCertModified

resolve path
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
Due: RadiusDistributeCertModified

resolve path
  scripts/automation/Radius/Functions/Private/CertGeneration/Invoke-UserCertProcess.ps1
  scripts/automation/Radius/Functions/Public/Start-DeployUserCerts.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateRootCert.ps1
Due: RadiusDistributeCertModified

update filter
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
Due: RadiusDistributeCertModified
