Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified, RadiusDistributeCertModified

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3
workflows:
  version: 2
  check-updated-files:
    jobs:
      - path-filtering/filter:
          mapping: |
            PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).* PowerShellModified true
            PowerShell\/(JumpCloud\sCommands\sGallery).* CommandsGalleryModified true
            scripts\/automation\/Radius.* RadiusDistributeCertModified true
          base-revision: master
          config-path: .circleci/workflows.yml

remove if always
  .github/workflows/powershell-module-ci.yml
Due: none

on label
  .github/workflows/powershell-module-ci.yml
Due: none

fix pwsh for filter type
  .github/workflows/powershell-module-ci.yml
Due: none

set env var
  .github/workflows/powershell-module-ci.yml
Due: none

release type variable
  .github/workflows/powershell-module-ci.yml
  PowerShell/JumpCloud Module/Tests/ModuleValidation/moduleValidation.Tests.ps1
Due: PowerShellModified

Get output var
  .github/workflows/powershell-module-ci.yml
Due: none

output variable
  .github/workflows/powershell-module-ci.yml
Due: none

step name
  .github/workflows/powershell-module-ci.yml
Due: none

same name
  .github/workflows/powershell-module-ci.yml
Due: none

output by id
  .github/workflows/powershell-module-ci.yml
Due: none

env var RELEASE_TYPE
  .github/workflows/powershell-module-ci.yml
  PowerShell/JumpCloud Module/Tests/ModuleValidation/moduleValidation.Tests.ps1
Due: PowerShellModified

character env location
  .github/workflows/powershell-module-ci.yml
Due: none

skip jcpolicyconfig test
  PowerShell/JumpCloud Module/Tests/Private/Policies/Get-JCPolicyConfigMapping.Tests.ps1
Due: PowerShellModified

MSP tests env variables
  PowerShell/JumpCloud Module/Tests/InvokePester.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Import-JCMSPFromCSV.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Import-JCMspFromCSV.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCMSPFromCSV.Tests.ps1
Due: PowerShellModified

cancel in progress + order
  .github/workflows/powershell-module-ci.yml
Due: none

module date
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

msp tests
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Tests/InvokePester.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Import-JCMspFromCSV.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/New-JCMSPImportTemplate.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCMSPFromCSV.Tests.ps1
Due: PowerShellModified

Generated .json file
  .github/scripts/tests/__pycache__/test_build_commands_gallery.cpython-39-pytest-7.4.2.pyc
  .github/scripts/tests/test_build_commands_gallery.py
Due: none

env jcapikey
  PowerShell/JumpCloud Module/Tests/InvokePester.ps1
Due: PowerShellModified

init
  .circleci/scripts/parse_commands_to_json.py
  .circleci/scripts/setLinks.py
  .circleci/scripts/validate_commands_gallery_md.py
  .github/scripts/__init__.py
  .github/scripts/build_commands_gallery.py
  .github/scripts/tests/__init__.py
  .github/scripts/tests/test_build_commands_gallery.py
  .gitignore
Due: none

test
  .github/scripts/requirements.txt
  .github/scripts/tests/__pycache__/test_build_commands_gallery.cpython-39-pytest-7.4.2.pyc
  .github/workflows/commands-gallery-ci.yml
Due: none

test
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Set Auto Logout Delay.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

test
  .github/workflows/commands-gallery-ci.yml
Due: none

test requirements
  .github/workflows/commands-gallery-ci.yml
Due: none

test
  .github/scripts/tests/test_build_commands_gallery.py
Due: none

Update release-workflow.yml
  .github/workflows/release-workflow.yml
Due: none

test
  .github/scripts/tests/test_build_commands_gallery.py
  .github/workflows/commands-gallery-ci.yml
Due: none

test
  .github/scripts/build_commands_gallery.py
  .github/scripts/tests/test_build_commands_gallery.py
Due: none
