Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified, RadiusDistributeCertModified

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3
workflows:
  version: 2
  check-updated-files:
    jobs:
      - path-filtering/filter:
          mapping: |
            PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).* PowerShellModified true
            PowerShell\/(JumpCloud\sCommands\sGallery).* CommandsGalleryModified true
            scripts\/automation\/Radius.* RadiusDistributeCertModified true
          base-revision: master
          config-path: .circleci/workflows.yml

date
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

force import powershell-yaml
  PowerShell/JumpCloud Module/Tests/ModuleValidation/ReturnProperties.Tests.ps1
Due: PowerShellModified

jobs
  PowerShell/JumpCloud Module/Tests/ModuleValidation/HelpFiles.Tests.ps1
Due: PowerShellModified

macos log_collection
  scripts/macos/log_collection.sh
Due: none

log
  scripts/macos/log_collection.sh
Due: none

Add windows log collection script
  scripts/windows/log_collection.ps1
Due: none

auto formatting
  scripts/windows/log_collection.ps1
Due: none

Add windows MDM removal script.
  scripts/windows/remove_windowsMDM.ps1
Due: none

do not skip associations
  scripts/automation/Radius/Functions/Public/Get-JCRGlobalVars.ps1
Due: RadiusDistributeCertModified

associate manually menu / cache support
  scripts/automation/Radius/Functions/Public/Get-JCRGlobalVars.ps1
  scripts/automation/Radius/Start-RadiusDeployment.ps1
Due: RadiusDistributeCertModified

VSCode extensions & settings
  .vscode/cspell.json
  .vscode/custom-words.txt
  .vscode/extensions.json
  .vscode/settings.json
Due: none

Create Get-JCAdmin.ps1
  PowerShell/JumpCloud Module/Public/Administrators/Get-JCAdmin.ps1
Due: PowerShellModified

Get-JCAdmin tests
  PowerShell/JumpCloud Module/Tests/Public/Administrators/Get-JCAdmin-MSP.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Administrators/Get-JCAdmin.Tests.ps1
Due: PowerShellModified

Create Get-JCAdmin.md
  PowerShell/JumpCloud Module/Docs/Get-JCAdmin.md
Due: PowerShellModified

Build-Module
  PowerShell/JumpCloud Module/Docs/Get-JCAdmin.md
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Update Get-JCAdmin.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Administrators/Get-JCAdmin.Tests.ps1
Due: PowerShellModified

Update ModuleChangelog.md
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

remove test
  PowerShell/JumpCloud Module/Tests/Public/Administrators/Get-JCAdmin.Tests.ps1
Due: PowerShellModified

fix tests
  PowerShell/JumpCloud Module/Tests/Public/Administrators/Get-JCAdmin.Tests.ps1
Due: PowerShellModified

Update Get-JCAdmin.ps1
  PowerShell/JumpCloud Module/Public/Administrators/Get-JCAdmin.ps1
Due: PowerShellModified

update docs
  PowerShell/JumpCloud Module/Docs/Get-JCAdmin.md
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

Added "install.log*" to collected assets.
  scripts/macos/log_collection.sh
Due: none

rename remove custom attribute
  PowerShell/JumpCloud Module/Public/Users/Set-JCUser.ps1
  PowerShell/JumpCloud Module/Tests/Public/Users/Set-JCUser.Tests.ps1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

custom attribute
  PowerShell/JumpCloud Module/Public/Users/Set-JCUser.ps1
Due: PowerShellModified

edit doc
  PowerShell/JumpCloud Module/Docs/Set-JCUser.md
Due: PowerShellModified

2.13.1 version + docs
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/Docs/Set-JCUser.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Add required alias for backwards compatibility, missing in previous commits
  PowerShell/JumpCloud Module/Public/Users/Set-JCUser.ps1
Due: PowerShellModified

add test for validating backwards compatibility, missing from previous commits
  PowerShell/JumpCloud Module/Tests/Public/Users/Set-JCUser.Tests.ps1
Due: PowerShellModified

docs regenerate
  PowerShell/JumpCloud Module/Docs/Connect-JCOnline.md
  PowerShell/JumpCloud Module/Docs/Set-JCUser.md
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

exclude dynamic param functions from test diffs
  PowerShell/JumpCloud Module/Tests/ModuleValidation/HelpFiles.Tests.ps1
Due: PowerShellModified

Date + docs update
  PowerShell/JumpCloud Module/Docs/Set-JCUser.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Use secure-upload-artifacts
  .github/workflows/powershell-module-ci.yml
  .github/workflows/release-workflow.yml
Due: none

Emulate a release
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

docs
  PowerShell/JumpCloud Module/Docs/Set-JCUser.md
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

(test): upload dir with one item
  .github/workflows/powershell-module-ci.yml
Due: none

Updated saves to more secure locations, reorganized checks and fixed couple typos.
  scripts/macos/log_collection.sh
Due: none

validate certInfo object before generating certificate
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
Due: RadiusDistributeCertModified

get certs by sha in parallel
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-CertInfo.ps1
  scripts/automation/Radius/Functions/Private/CertJson/Get-CertBySHA.ps1
  scripts/automation/Radius/Functions/Private/CertJson/Get-CertHash.ps1
  scripts/automation/Radius/Functions/Private/Settings/Update-JCRUsersJson.ps1
  scripts/automation/Radius/Functions/Public/Get-JCRGlobalVars.ps1
Due: RadiusDistributeCertModified

limit number of times commands are checked while deploying / fix "generated" text
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
Due: RadiusDistributeCertModified
