Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified, RadiusDistributeCertModified

test
  .github/scripts/tests/test_build_commands_gallery.py
Due: none

msp tests
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Import-JCMspFromCSV.Tests.ps1
Due: PowerShellModified

cache cleanup job
  .github/workflows/release-workflow.yml
Due: none

test
  .github/scripts/tests/test_build_commands_gallery.py
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Set Auto Logout Delay.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

test
  .github/scripts/tests/test_build_commands_gallery.py
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Set Agent Log Level to Default.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

test
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Set Agent Log Level to Default.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

refactor job positions
  .github/workflows/release-workflow.yml
Due: none

Delete fancyscript.ps1
  scripts/automation/fancyscript.ps1
Due: none

remove nuget key
  .github/workflows/release-workflow.yml
Due: none

comment out CodeArtifact work
  .github/workflows/release-workflow.yml
Due: none

rename secret
  .github/workflows/release-workflow.yml
Due: none

remove-jc*group tests fix + parallel test
  PowerShell/JumpCloud Module/Tests/Public/Groups/SystemGroups/Remove-JCSystemGroup.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Groups/UserGroups/Remove-JCUserGroup.Tests.ps1
Due: PowerShellModified

test msp + pester at same time
  .github/workflows/powershell-module-ci.yml
Due: none

set msp api key
  PowerShell/JumpCloud Module/Tests/InvokePester.ps1
Due: PowerShellModified

test without import
  .github/scripts/tests/test_build_commands_gallery.py
Due: none

test commit and we expect a failure
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - 64-Bit Command.md
Due: CommandsGalleryModified

Revert "test commit and we expect a failure"
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - 64-Bit Command.md
Due: CommandsGalleryModified

remove standalone dependancies workflow
  .github/workflows/build_setup_dependancies.yml
Due: none

module validate tests for psd1 and changelog
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Tests/ModuleValidation/moduleValidation.Tests.ps1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

release date
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

reorder ci file [skip ci]
  .github/workflows/powershell-module-ci.yml
Due: none

update changelog
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Create draft-gh-release-test.yml
  .github/workflows/draft-gh-release-test.yml
Due: none

fix env variables
  .github/workflows/draft-gh-release-test.yml
Due: none

echo things
  .github/workflows/draft-gh-release-test.yml
Due: none

remove working directory
  .github/workflows/draft-gh-release-test.yml
Due: none

Update draft-gh-release-test.yml
  .github/workflows/draft-gh-release-test.yml
Due: none

change shell
  .github/workflows/draft-gh-release-test.yml
Due: none

fix changelog
  .github/workflows/draft-gh-release-test.yml
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

remove dot notation
  .github/workflows/draft-gh-release-test.yml
Due: none

remove gh cli call
  .github/workflows/draft-gh-release-test.yml
Due: none

remove echo
  .github/workflows/draft-gh-release-test.yml
Due: none

2.8.0 + validation tests
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Tests/ModuleValidation/moduleValidation.Tests.ps1
Due: PowerShellModified

Path conditions:
  PowerShellModified: any of: PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).*
  CommandsGalleryModified: any of: PowerShell\/(JumpCloud\sCommands\sGallery).*
  RadiusDistributeCertModified: any of: scripts\/automation\/Radius.*
