Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified, RadiusDistributeCertModified

debug username match
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-CertInfo.ps1
Due: RadiusDistributeCertModified

windows match tests
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
Due: RadiusDistributeCertModified

update user manually for association tests
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-CertInfo.ps1
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
Due: RadiusDistributeCertModified

Update Mac - Install Chrome DMG.md
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Application Installs/Mac - Install Chrome DMG.md
Due: CommandsGalleryModified

update test for duplicate commands already existing
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
Due: RadiusDistributeCertModified

tests
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
Due: RadiusDistributeCertModified

update global variables by users (including new users)
  scripts/automation/Radius/Functions/Public/Get-JCRGlobalVars.ps1
Due: RadiusDistributeCertModified

start command on the ID
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
Due: RadiusDistributeCertModified

manual association
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
Due: RadiusDistributeCertModified

fix for EmailSAN replacement certs
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
Due: RadiusDistributeCertModified

remove todo
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
Due: RadiusDistributeCertModified

CUT-4505 resolve EmailSAN Replacement
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
Due: RadiusDistributeCertModified

cascade manager
  PowerShell/JumpCloud Module/Public/Users/Remove-JCUser.ps1
Due: PowerShellModified

tests
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/New-JCDeviceUpdateTemplate.Test.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCDeviceFromCSV.Tests.ps1
Due: PowerShellModified

cascade manager param added
  PowerShell/JumpCloud Module/Private/Users/Delete-JcUser.ps1
  PowerShell/JumpCloud Module/Public/Users/Remove-JCUser.ps1
Due: PowerShellModified

fix file name
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/New-JCDeviceUpdateTemplate.Tests.ps1
Due: PowerShellModified

Build-Module
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/New-JCDeviceUpdateTemplate.md
  PowerShell/JumpCloud Module/Docs/Update-JCDeviceFromCSV.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Update-JCDeviceFromCSV.ps1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

build-module
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/New-JCDeviceUpdateTemplate.md
  PowerShell/JumpCloud Module/Docs/Update-JCDeviceFromCSV.md
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

additional checks
  PowerShell/JumpCloud Module/Private/Users/Delete-JcUser.ps1
  PowerShell/JumpCloud Module/Public/Users/Remove-JCUser.ps1
Due: PowerShellModified

docs
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/Remove-JCUser.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Public/Users/Remove-JCUser.ps1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

tests
  PowerShell/JumpCloud Module/Public/Users/Remove-JCUser.ps1
  PowerShell/JumpCloud Module/Tests/Public/Users/Remove-JCUser.Tests.ps1
Due: PowerShellModified

fix test
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCDeviceFromCSV.Tests.ps1
Due: PowerShellModified

test
  PowerShell/JumpCloud Module/Tests/Private/Users/Delete-JcUser.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Users/Remove-JCUser.Tests.ps1
Due: PowerShellModified

test
  PowerShell/JumpCloud Module/Private/Users/Delete-JcUser.ps1
  PowerShell/JumpCloud Module/Public/Users/Remove-JCUser.ps1
  PowerShell/JumpCloud Module/Tests/Private/Users/Delete-JcUser.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Users/Remove-JCUser.Tests.ps1
Due: PowerShellModified

manager
  PowerShell/JumpCloud Module/Tests/Private/Users/Delete-JcUser.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Users/Remove-JCUser.Tests.ps1
Due: PowerShellModified

add check for less than 4 characters in app name
  PowerShell/JumpCloud Module/Tests/Public/Systems/Get-JCSystemApp.Tests.ps1
Due: PowerShellModified

fix systeminsights check
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCDeviceFromCSV.Tests.ps1
Due: PowerShellModified

add check contains app when using name param
  PowerShell/JumpCloud Module/Public/Systems/Get-JCSystemApp.ps1
Due: PowerShellModified

update docs
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

linting
  PowerShell/JumpCloud Module/Public/Systems/Get-JCSystemApp.ps1
Due: PowerShellModified

fix dynamicparam
  PowerShell/JumpCloud Module/Public/Users/Remove-JCUser.ps1
  PowerShell/JumpCloud Module/Tests/Private/Users/Delete-JcUser.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Users/Remove-JCUser.Tests.ps1
Due: PowerShellModified

skip commandresults
  PowerShell/JumpCloud Module/Tests/Public/Commands/CommandResults/Get-JCCommandResult.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Commands/CommandResults/Remove-JCCommandResult.Tests.ps1
  PowerShell/JumpCloud Module/Tests/SetupOrg.ps1
Due: PowerShellModified

mock
  PowerShell/JumpCloud Module/Docs/Remove-JCUser.md
  PowerShell/JumpCloud Module/Public/Users/Remove-JCUser.ps1
  PowerShell/JumpCloud Module/Tests/Private/Users/Delete-JcUser.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Users/Remove-JCUser.Tests.ps1
Due: PowerShellModified

mock
  PowerShell/JumpCloud Module/Public/Users/Remove-JCUser.ps1
  PowerShell/JumpCloud Module/Tests/Public/Users/Remove-JCUser.Tests.ps1
Due: PowerShellModified

get reports with the sdk functions
  scripts/automation/Radius/Functions/Private/Reports/Get-LatestUserToDeviceReport.ps1
  scripts/automation/Radius/Functions/Private/Reports/Get-ReportByID.ps1
  scripts/automation/Radius/Functions/Public/Get-JCRGlobalVars.ps1
Due: RadiusDistributeCertModified

hide debug write-hosts
  scripts/automation/Radius/Functions/Private/Reports/Get-LatestUserToDeviceReport.ps1
  scripts/automation/Radius/Functions/Private/Reports/Get-ReportByID.ps1
Due: RadiusDistributeCertModified

test
  PowerShell/JumpCloud Module/Tests/Public/Users/Remove-JCUser.Tests.ps1
Due: PowerShellModified

delete jcuser test
  PowerShell/JumpCloud Module/Private/Users/Delete-JcUser.ps1
  PowerShell/JumpCloud Module/Public/Users/Remove-JCUser.ps1
  PowerShell/JumpCloud Module/Tests/Private/Users/Delete-JcUser.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Users/Remove-JCUser.Tests.ps1
Due: PowerShellModified

date
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Path conditions:
  PowerShellModified: any of: PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).*
  CommandsGalleryModified: any of: PowerShell\/(JumpCloud\sCommands\sGallery).*
  RadiusDistributeCertModified: any of: scripts\/automation\/Radius.*
