Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified, RadiusDistributeCertModified

Cert Generation Tests + SN in Commands
  scripts/automation/Radius/Config.ps1
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
  scripts/automation/Radius/Functions/Private/CertGeneration/Invoke-UserCertProcess.ps1
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
Due: RadiusDistributeCertModified

support for spaces in filepath + settings file generation
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-CertInfo.ps1
  scripts/automation/Radius/Functions/Private/CertGeneration/Generate-UserCert.ps1
  scripts/automation/Radius/Functions/Private/Settings/New-JCRSettingsFile.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateRootCert.ps1
Due: RadiusDistributeCertModified

Removing installRemoteAssist.sh as not required in public repo
  scripts/macos/InstallRemoteAssist.sh
Due: none

removed installRemoteAssist.ps1 script
  scripts/windows/InstallRemoteAssist.ps1
Due: none

BAN-2184: Updating the thumbprint as signing cert is changed
  scripts/windows/InstallRemoteAssist.ps1
Due: none

Update Invoke-UserCertProcess.ps1
  scripts/automation/Radius/Functions/Private/CertGeneration/Invoke-UserCertProcess.ps1
Due: RadiusDistributeCertModified

remove linux install command
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - remote-assist - Installation script.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

Remove CircleCI config
  .circleci/config.yml
  .circleci/workflows.yml
Due: none

Readme and contributing documentation
  CONTRIBUTING.md
  README.md
Due: none

Create Split-JcBulkUserJob.ps1
  PowerShell/JumpCloud Module/Private/BulkUser/Split-JcBulkUserJob.ps1
Due: PowerShellModified

Create Wait-JcBulkUserJob.ps1
  PowerShell/JumpCloud Module/Private/BulkUser/Wait-JcBulkUserJob.ps1
Due: PowerShellModified

returnProperties + changelog + version
  .github/CODEOWNERS
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Public/Commands/Get-JCCommand.ps1
  PowerShell/JumpCloud Module/Public/Systems/Get-JCSystem.ps1
  PowerShell/JumpCloud Module/Public/Users/Get-JCUser.ps1
  PowerShell/JumpCloud Module/Tests/ModuleValidation/ReturnProperties.Tests.ps1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

specify function in test
  PowerShell/JumpCloud Module/Tests/ModuleValidation/ReturnProperties.Tests.ps1
Due: PowerShellModified

install powershell-yaml required for test
  .github/workflows/powershell-module-ci.yml
  PowerShell/JumpCloud Module/Tests/ModuleValidation/ReturnProperties.Tests.ps1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

account for mdm default group
  PowerShell/JumpCloud Module/Tests/SetupOrg.ps1
Due: PowerShellModified

setup org
  PowerShell/JumpCloud Module/Tests/SetupOrg.ps1
Due: PowerShellModified

releaseDate
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Update SetupOrg.ps1
  PowerShell/JumpCloud Module/Tests/SetupOrg.ps1
Due: PowerShellModified

group switch
  PowerShell/JumpCloud Module/Tests/SetupOrg.ps1
Due: PowerShellModified

Replace Msonline cmdlets with MgGraph
  PowerShell/JumpCloud.Office365.SSO/JumpCloud.Office365.SSO.psd1
  PowerShell/JumpCloud.Office365.SSO/Private/HelperFunctions/Get-MGGraphDomains.ps1
  PowerShell/JumpCloud.Office365.SSO/Private/HelperFunctions/Get-MSOnlineDomains.ps1
  PowerShell/JumpCloud.Office365.SSO/Private/HelperFunctions/Test-MGGraph.ps1
  PowerShell/JumpCloud.Office365.SSO/Private/HelperFunctions/Test-MSOnline.ps1
  PowerShell/JumpCloud.Office365.SSO/Public/Disable-JumpCloud.Office365.SSO.ps1
  PowerShell/JumpCloud.Office365.SSO/Public/Enable-JumpCloud.Office365.SSO.ps1
  PowerShell/JumpCloud.Office365.SSO/Public/Show-JumpCloud.Office365.SSO.ps1
  scripts/windows/ImmutableIDUpdate.ps1
Due: PowerShellModified

bug fix
  PowerShell/JumpCloud.Office365.SSO/Private/HelperFunctions/Get-MGGraphDomains.ps1
  PowerShell/JumpCloud.Office365.SSO/Private/HelperFunctions/Test-MGGraph.ps1
  PowerShell/JumpCloud.Office365.SSO/Public/Disable-JumpCloud.Office365.SSO.ps1
  PowerShell/JumpCloud.Office365.SSO/Public/Enable-JumpCloud.Office365.SSO.ps1
Due: PowerShellModified

JCDirectory Tests
  PowerShell/JumpCloud Module/Tests/Public/Directory/Add-JCGsuiteMember.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Directory/Add-JCOffice365Member.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Directory/Remove-JCGsuiteMember.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Directory/Remove-JCOffice365Member.Tests.ps1
Due: PowerShellModified

release date
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Revert "JCDirectory Tests"
  PowerShell/JumpCloud Module/Tests/Public/Directory/Add-JCGsuiteMember.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Directory/Add-JCOffice365Member.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Directory/Remove-JCGsuiteMember.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Directory/Remove-JCOffice365Member.Tests.ps1
Due: PowerShellModified

bug fix
  scripts/windows/ImmutableIDUpdate.ps1
Due: none

add/remove commands
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Public/Directory/Add-JCGsuiteMember.ps1
  PowerShell/JumpCloud Module/Public/Directory/Add-JCOffice365Member.ps1
  PowerShell/JumpCloud Module/Public/Directory/Remove-JCGsuiteMember.ps1
  PowerShell/JumpCloud Module/Public/Directory/Remove-JCOffice365Member.ps1
  PowerShell/JumpCloud Module/Public/Groups/SystemGroups/Add-JCSystemGroupMember.ps1
  PowerShell/JumpCloud Module/Public/Groups/SystemGroups/Remove-JCSystemGroupMember.ps1
  PowerShell/JumpCloud Module/Public/Groups/UserGroups/Add-JCUserGroupMember.ps1
  PowerShell/JumpCloud Module/Public/Groups/UserGroups/Remove-JCUserGroupMember.ps1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

sdk generate function + tests
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEvent.ps1
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEventCount.ps1
  PowerShell/JumpCloud Module/Tests/Public/Directory/Add-JCGsuiteMember.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Directory/Add-JCOffice365Member.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Directory/Remove-JCGsuiteMember.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Directory/Remove-JCOffice365Member.Tests.ps1
Due: PowerShellModified

get-jcobject + tests
  PowerShell/JumpCloud Module/Private/NestedFunctions/Get-JCObject.ps1
  PowerShell/JumpCloud Module/Public/Directory/Add-JCOffice365Member.ps1
  PowerShell/JumpCloud Module/Public/Directory/Remove-JCOffice365Member.ps1
Due: PowerShellModified

replace git.io links in command gallery
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Application Installs/Mac - Generic DMG Installer.md
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Application Installs/Mac - Install FireFox DMG.md
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Application Installs/Mac - Install Microsoft Office.md
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Application Installs/Mac - Install Slack DMG.md
  PowerShell/JumpCloud Commands Gallery/Mac Commands/LaunchDaemons/Mac - List All Launch Daemons.md
  PowerShell/JumpCloud Commands Gallery/Mac Commands/LaunchDaemons/Mac - Remove Daily System Restart Daemon.md
  PowerShell/JumpCloud Commands Gallery/Mac Commands/LaunchDaemons/Mac - Schedule Daily System Restart Daemon.md
Due: CommandsGalleryModified

event examples
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEvent.ps1
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEventCount.ps1
Due: PowerShellModified

dates
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Revert "event examples"
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEvent.ps1
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEventCount.ps1
Due: PowerShellModified

changelog
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

documentation update
  _posts/2022-02-10-Grant-Admin-Rights.md
Due: none

fix: mac users not having ownership of the pwm app
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

fix: wrong chown command
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

changelog/ changes
  PowerShell/JumpCloud.Office365.SSO/JumpCloud.Office365.SSO.psd1
  PowerShell/JumpCloud.Office365.SSO/Public/Disable-JumpCloud.Office365.SSO.ps1
  PowerShell/JumpCloud.Office365.SSO/Public/Enable-JumpCloud.Office365.SSO.ps1
Due: PowerShellModified

Update JumpCloud-Radius.psm1
  scripts/automation/Radius/JumpCloud-Radius.psm1
Due: RadiusDistributeCertModified

fix expire notification warning
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-ExpiringCertInfo.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-RadiusMainMenu.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateUserCerts.ps1
  scripts/automation/Radius/JumpCloud-Radius.psm1
  scripts/automation/Radius/Tests/Public/Start-GenerateUserCerts.Tests.ps1
Due: RadiusDistributeCertModified

idna version
  .github/scripts/requirements.txt
Due: none

Path conditions:
  PowerShellModified: any of: PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).*
  CommandsGalleryModified: any of: PowerShell\/(JumpCloud\sCommands\sGallery).*
  RadiusDistributeCertModified: any of: scripts\/automation\/Radius.*
