Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified, RadiusDistributeCertModified

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3
workflows:
  version: 2
  check-updated-files:
    jobs:
      - path-filtering/filter:
          mapping: |
            PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).* PowerShellModified true
            PowerShell\/(JumpCloud\sCommands\sGallery).* CommandsGalleryModified true
            scripts\/automation\/Radius.* RadiusDistributeCertModified true
          base-revision: master
          config-path: .circleci/workflows.yml

fix date
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Update Get-JCPolicyResult.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/PolicyResults/Get-JCPolicyResult.Tests.ps1
Due: PowerShellModified

Update Policy Results Tests to run without SetupOrg
  PowerShell/JumpCloud Module/Tests/Public/Policies/PolicyResults/Get-JCPolicyResult.Tests.ps1
Due: PowerShellModified

modified regex pattern for usernames including non alphanum chars
  scripts/macos/log_collection.sh
Due: none

pulling user scoped config profile details
  scripts/macos/log_collection.sh
Due: none

check for emails with 'del'
  PowerShell/JumpCloud Module/Tests/SetupOrg.ps1
Due: PowerShellModified

changlog + version date
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

changelog date
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

updated remote assist log folder name and added root user for collect
  scripts/macos/log_collection.sh
Due: none

UTC Time
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-CertInfo.ps1
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-ExpiringCertInfo.ps1
  scripts/automation/Radius/Functions/Private/Commands/Invoke-CommandsRetry.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-GenerationMenu.ps1
  scripts/automation/Radius/Functions/Private/Settings/New-JCRSettingsFile.ps1
  scripts/automation/Radius/Functions/Public/Get-JCRGlobalVars.ps1
Due: RadiusDistributeCertModified

ISO 8601 timestamps
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-CertInfo.ps1
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-ExpiringCertInfo.ps1
  scripts/automation/Radius/Functions/Private/Commands/Invoke-CommandsRetry.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-GenerationMenu.ps1
  scripts/automation/Radius/Functions/Public/Get-JCRGlobalVars.ps1
Due: RadiusDistributeCertModified

fix for one user in usergroup
  scripts/automation/Radius/Functions/Private/UserTable/Set-UserTable.ps1
  scripts/automation/Radius/Functions/Public/Get-JCRGlobalVars.ps1
Due: RadiusDistributeCertModified

Test single user addition
  scripts/automation/Radius/Tests/Public/Start-GenerateUserCerts.Tests.ps1
Due: RadiusDistributeCertModified

fix param
  scripts/automation/Radius/Tests/Public/Start-GenerateUserCerts.Tests.ps1
Due: RadiusDistributeCertModified

syntax error in test
  scripts/automation/Radius/Tests/Public/Start-GenerateUserCerts.Tests.ps1
Due: RadiusDistributeCertModified

foreach
  scripts/automation/Radius/Tests/Public/Start-GenerateUserCerts.Tests.ps1
Due: RadiusDistributeCertModified

create a certificate if it's been removed even if it's not associated
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
Due: RadiusDistributeCertModified

exit bug + validate ca password entry
  scripts/automation/Radius/Functions/Private/Menus/Get-ResponsePrompt.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateRootCert.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateUserCerts.ps1
Due: RadiusDistributeCertModified

changelog + messaging
  scripts/automation/Radius/Changelog.md
  scripts/automation/Radius/Functions/Public/Start-GenerateRootCert.ps1
Due: RadiusDistributeCertModified

hide write-host
  scripts/automation/Radius/Functions/Public/Start-GenerateRootCert.ps1
Due: RadiusDistributeCertModified

fix
  scripts/automation/Radius/Functions/Public/Start-GenerateRootCert.ps1
Due: RadiusDistributeCertModified

BAN-2695: MQTT troubleshooting script added to commands gallery
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - MQTT-troubleshooting.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

BAN-2695: MQTT troubleshooting script added to windows commands gallery
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - MQTT troubleshooting.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

BAN-2695: MQTT troubleshooting script added to mac commands gallery
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - MQTT Troubleshooting.md
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - MQTT Troubleshooting.md
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - MQTT Troubleshooting.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

BAN-2695: few corrections to the links
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - MQTT Troubleshooting.md
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - MQTT Troubleshooting.md
Due: CommandsGalleryModified

BAN-2695: minor changes in the name
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - MQTT Troubleshooting.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

update filtering to look for win 7 sensor version
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install CrowdStrike Falcon Agent.md
Due: CommandsGalleryModified

Update commands.json
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

more verbose output
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install CrowdStrike Falcon Agent.md
Due: CommandsGalleryModified

add primarysystemuser column
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/New-JCDeviceUpdateTemplate.ps1
Due: PowerShellModified

added PWM daemon log collection
  scripts/macos/log_collection.sh
Due: none

primarySystemUser
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Update-JCDeviceFromCSV.ps1
Due: PowerShellModified

Update Update-JCDeviceFromCSV.ps1
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Update-JCDeviceFromCSV.ps1
Due: PowerShellModified

roll primarySystemUser changes into Set-JCSystem
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Update-JCDeviceFromCSV.ps1
Due: PowerShellModified

primarySystemUser
  PowerShell/JumpCloud Module/Public/Systems/Set-JCSystem.ps1
Due: PowerShellModified

root cert menu
  .gitignore
  scripts/automation/Radius/Changelog.md
  scripts/automation/Radius/Functions/Private/Menus/Get-ResponsePrompt.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-RadiusMainMenu.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-RootCAGenerationMenu.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateRootCert.ps1
  scripts/automation/Radius/Tests/Public/Start-GenerateRootCert.Tests.ps1
Due: RadiusDistributeCertModified
