Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified

-not -throw
  PowerShell/JumpCloud Module/Tests/Public/Systems/Set-JCSystem.tests.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

multi system support + cleanup
  PowerShell/JumpCloud Module/Public/Systems/Get-JCSystem.ps1
Due: PowerShellModified

function descriptions & help messages
  PowerShell/JumpCloud Module/Private/NestedFunctions/Get-PipelineDetails.ps1
  PowerShell/JumpCloud Module/Private/NestedFunctions/Get-PipelinePositionBefore.ps1
Due: PowerShellModified

pipeline validation
  PowerShell/JumpCloud Module/Private/NestedFunctions/Get-PipelineDetails.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  .circleci/workflows.yml
  PowerShell/JumpCloud Module/JumpCloud.nuspec
Due: PowerShellModified

restore ids
  .circleci/workflows.yml
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Public/Systems/Get-JCSystem.ps1
  PowerShell/JumpCloud Module/Public/Users/Get-JCUser.ps1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

Changed agent url to CDN
  scripts/macos/install_agent_and_serviceaccount.sh
  scripts/windows/InstallWindowsAgent.ps1
Due: none

Changed agent url to CDN (#449)
  scripts/macos/install_agent_and_serviceaccount.sh
  scripts/windows/InstallWindowsAgent.ps1
Due: none

Revert "Changed agent url to CDN (#449)"
  scripts/macos/install_agent_and_serviceaccount.sh
  scripts/windows/InstallWindowsAgent.ps1
Due: none

update password manager install
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install JumpCloud Password Manager App.md
Due: CommandsGalleryModified

Updating Commands.json;[skip ci]
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

check for app/ home directory
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install JumpCloud Password Manager App.md
Due: CommandsGalleryModified

init commit for Radius work
  .gitignore
  scripts/automation/Radius/Extensions/extensions-CreateCert-emailSAN.cnf
  scripts/automation/Radius/Extensions/extensions-emailDN.cnf
  scripts/automation/Radius/Extensions/extensions-usernameCN.cnf
  scripts/automation/Radius/Generate-Cert.ps1
  scripts/automation/Radius/Generate-UserCerts.ps1
Due: none

remove app from /Applications if it exists
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install JumpCloud Password Manager App.md
Due: CommandsGalleryModified

update radius automation
  scripts/automation/Radius/Config.ps1
  scripts/automation/Radius/Extensions/extensions-CreateCert-emailSAN.cnf
  scripts/automation/Radius/Extensions/extensions-emailSAN.cnf
  scripts/automation/Radius/Extensions/extensions-usernameCN.cnf
  scripts/automation/Radius/Generate-Cert.ps1
  scripts/automation/Radius/Generate-UserCerts.ps1
Due: none

remove out null
  scripts/automation/Radius/Generate-UserCerts.ps1
Due: none

readme
  scripts/automation/Radius/readme.md
Due: none

update pfx user pass & cleanup step
  scripts/automation/Radius/Config.ps1
  scripts/automation/Radius/Generate-UserCerts.ps1
  scripts/automation/Radius/readme.md
Due: none

validate openssl/libressl
  scripts/automation/Radius/Generate-UserCerts.ps1
Due: none

required keyID
  scripts/automation/Radius/Extensions/extensions-emailSAN.cnf
Due: none

fix for emailSAN generation
  scripts/automation/Radius/Extensions/extensions-emailSAN.cnf
  scripts/automation/Radius/Generate-Cert.ps1
  scripts/automation/Radius/Generate-UserCerts.ps1
Due: none

config ssl check
  scripts/automation/Radius/Config.ps1
Due: none

Update to use CDN url
  scripts/macos/install_agent_and_serviceaccount.sh
  scripts/windows/InstallWindowsAgent.ps1
Due: none

Get-OpenSSLVersion
  scripts/automation/Radius/Config.ps1
Due: none

notes about openssl file path; throw error if cannot find binary
  scripts/automation/Radius/Config.ps1
Due: none

cleanup functions + add example
  scripts/automation/Radius/Config.ps1
  scripts/automation/Radius/Generate-UserCerts.ps1
Due: none

tested changes
  scripts/automation/Radius/Config.ps1
  scripts/automation/Radius/Generate-UserCerts.ps1
Due: none

remove unused emailSAN attributes
  scripts/automation/Radius/Extensions/extensions-emailSAN.cnf
Due: none

Update scripts/automation/Radius/Config.ps1
  scripts/automation/Radius/Config.ps1
Due: none

remove extra variable
  scripts/automation/Radius/Generate-Cert.ps1
Due: none

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Get-JCEvent.md
  PowerShell/JumpCloud Module/Docs/Get-JCEventCount.md
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEvent.ps1
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEventCount.ps1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

restore deleted example scripts
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - 64-Bit Command.md
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - 64-Bit MultiLine Command.md
Due: CommandsGalleryModified

mac command creation
  scripts/automation/Radius/Distribute-Cert.ps1
Due: none

fix command creation
  scripts/automation/Radius/Distribute-Cert.ps1
Due: none

Path conditions:
  PowerShellModified: any of: PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).*
  CommandsGalleryModified: any of: PowerShell\/(JumpCloud\sCommands\sGallery).*
