Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1
workflows:
  version: 2
  check-updated-files:
    jobs:
    - path-filtering/filter:
        mapping: |
          PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).* PowerShellModified true
        base-revision: master
        config-path: .circleci/workflows.yml
    - path-filtering/filter:
        mapping: |
          PowerShell\/(JumpCloud\sCommands\sGallery).* CommandsGalleryModified true
        base-revision: master
        config-path: .circleci/workflows.yml

*-JCSettingsFile compatible w/ PowerShell 5.1
  PowerShell/JumpCloud Module/Private/settings/New-JCSettingsFile.ps1
  PowerShell/JumpCloud Module/Private/settings/Update-JCSettingsFile.ps1
  PowerShell/JumpCloud Module/Public/settings/Set-JCSettingsFile.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

Set-JCsettings PS5.1 Compatible
  PowerShell/JumpCloud Module/Public/settings/Set-JCSettingsFile.ps1
Due: PowerShellModified

Update-JCModule PS5.1 compatible changes
  PowerShell/JumpCloud Module/Public/Authentication/Update-JCModule.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.nuspec
Due: PowerShellModified

Use system temp folder
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install Remote Assist.md
Due: CommandsGalleryModified

fixup! Use system temp folder
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install Remote Assist.md
Due: CommandsGalleryModified

capitalization matters in paths
  PowerShell/JumpCloud Module/Public/Authentication/Update-JCModule.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

JCAssociation Tests
  .circleci/workflows.yml
Due: none

Specify the version of TLS to use
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install Remote Assist.md
Due: CommandsGalleryModified

fixup! Specify the version of TLS to use
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install Remote Assist.md
Due: CommandsGalleryModified

Use only TLS1.2 as 1.3 is not supported on some Windowses
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install Remote Assist.md
Due: CommandsGalleryModified

Require TLS1.3 unless the OS is W2012R2
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install Remote Assist.md
Due: CommandsGalleryModified

add error message/ update tests
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Import-JCUsersFromCSV.ps1
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Update-JCUsersFromCSV.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Import-JCUsersFromCSV.tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCUsersFromCSV.tests.ps1
Due: PowerShellModified

re-order prompts for New-JCUserTemplate
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/New-JCImportTemplate.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

Permit TLS1.2 on all OSes [skip ci]
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install Remote Assist.md
Due: CommandsGalleryModified

Update URL to prod [skip ci]
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install Remote Assist.md
Due: CommandsGalleryModified

Update to prod URL [skip ci]
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install Remote Assist.md
Due: CommandsGalleryModified

Update PowerShell/JumpCloud Module/Private/settings/New-JCSettingsFile.ps1
  PowerShell/JumpCloud Module/Private/settings/New-JCSettingsFile.ps1
Due: PowerShellModified

Oops fix cleanup
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install Remote Assist.md
Due: CommandsGalleryModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

fix from merge
  PowerShell/Deploy/Setup-Dependencies.ps1
  PowerShell/JumpCloud Module/Public/Users/Get-JCUser.ps1
Due: PowerShellModified

Get-JCUser fix after merge
  PowerShell/JumpCloud Module/Public/Users/Get-JCUser.ps1
  PowerShell/JumpCloud Module/Tests/SetupOrg.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/JumpCloud.nuspec
Due: PowerShellModified

Get-JCUser Fixes
  PowerShell/JumpCloud Module/Public/Users/Get-JCUser.ps1
  PowerShell/JumpCloud Module/Tests/Public/Users/Get-JCUser.tests.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Get-JCUser.md
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

Update prod URL [skip ci]
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install Remote Assist.md
Due: CommandsGalleryModified

Update prod URL [skip ci]
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install Remote Assist.md
Due: CommandsGalleryModified

added hide windows update script
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Exclude Update from Install.md
Due: CommandsGalleryModified

detailed param
  PowerShell/JumpCloud Module/Public/Commands/CommandResults/Get-JCCommandResult.ps1
Due: PowerShellModified

updated url
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Exclude Update from Install.md
Due: CommandsGalleryModified

ability to use Get-JCCommandResult in parallel scope
  PowerShell/JumpCloud Module/Public/Commands/CommandResults/Get-JCCommandResult.ps1
Due: PowerShellModified

tests and changelog
  PowerShell/JumpCloud Module/Tests/Public/Commands/CommandResults/Get-JCCommandResult.tests.ps1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified
