Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified, RadiusDistributeCertModified

CUT-4559: add groupID alias
  PowerShell/JumpCloud Module/Public/Groups/UserGroups/Get-JCUserGroupMember.ps1
Due: PowerShellModified

CUT-4559 Update Changelog
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

update forget command to include SSID
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Forget RADIUS WiFi Network.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

Fix example script
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install CrowdStrike Falcon Agent.md
Due: CommandsGalleryModified

Create Get-JCRCertReport.ps1
  scripts/automation/Radius/Functions/Public/Get-JCRCertReport.ps1
Due: RadiusDistributeCertModified

add filter to sensors/combined/installers/v1 call
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install CrowdStrike Falcon Agent.md
Due: CommandsGalleryModified

Update commands.json
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

increment version
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

increment version
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install CrowdStrike Falcon Agent.md
Due: CommandsGalleryModified

Fix casing of config.ps1 references to Config.ps1 in Radius automation scripts
  scripts/automation/Radius/Config.ps1
  scripts/automation/Radius/Functions/Private/Generate-UserCert.ps1
  scripts/automation/Radius/Functions/Public/Distribute-UserCerts.ps1
  scripts/automation/Radius/Functions/Public/Generate-RootCert.ps1
  scripts/automation/Radius/Functions/Public/Generate-UserCerts.ps1
  scripts/automation/Radius/Functions/Public/Monitor-CertDeployment.ps1
  scripts/automation/Radius/Start-RadiusDeployment.ps1
  scripts/automation/Radius/readme.md
Due: RadiusDistributeCertModified

Update Get-JCRCertReport.ps1
  scripts/automation/Radius/Functions/Public/Get-JCRCertReport.ps1
Due: RadiusDistributeCertModified

add new reports
  PowerShell/JumpCloud Module/Public/Reports/New-JCReport.ps1
Due: PowerShellModified

Build-Module
  PowerShell/JumpCloud Module/Docs/Get-JCUserGroupMember.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

arraylist
  scripts/automation/Radius/Functions/Public/Get-JCRCertReport.ps1
Due: RadiusDistributeCertModified

update .psd1
  scripts/automation/Radius/JumpCloud-Radius.psd1
Due: RadiusDistributeCertModified

test path and remove useless loop
  scripts/automation/Radius/Functions/Public/Get-JCRCertReport.ps1
Due: RadiusDistributeCertModified

fix path validation
  scripts/automation/Radius/Functions/Public/Get-JCRCertReport.ps1
Due: RadiusDistributeCertModified

Create Get-JCRCertReport.Tests.ps1
  scripts/automation/Radius/Tests/Public/Get-JCRCertReport.Tests.ps1
Due: RadiusDistributeCertModified

Delete PlatyPS.log
  PowerShell/JumpCloud Module/Docs/PlatyPS.log
Due: PowerShellModified

Update .gitignore
  .gitignore
Due: none

Update README.md
  README.md
Due: none

add tag
  scripts/automation/Radius/Tests/Public/Get-JCRCertReport.Tests.ps1
Due: RadiusDistributeCertModified

Revert "Update .gitignore"
  .gitignore
Due: none

getting mac remove agent script in sync with removeAgent script
  scripts/macos/remove_mac_agent.sh
Due: none

multi group radius added
  scripts/automation/Radius/images/command_list.png
  scripts/automation/Radius/images/create_task.png
  scripts/automation/Radius/images/log_example.png
  scripts/automation/Radius/images/mgr_running.png
  scripts/automation/Radius/images/pass_prompt.png
  scripts/automation/Radius/images/task_action.png
  scripts/automation/Radius/images/task_running.png
  scripts/automation/Radius/images/task_schedule.png
  scripts/automation/Radius/images/user_cert_list.png
  scripts/automation/Radius/multi_group_radius.ps1
  scripts/automation/Radius/readme.md
Due: RadiusDistributeCertModified

spacing in readme
  scripts/automation/Radius/readme.md
Due: RadiusDistributeCertModified

remove set desktop background command
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Set Desktop Background.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

Added lines for capturing Device Cert and running JumpCloud services
  scripts/macos/log_collection.sh
Due: none

Updated handling of Device Cert capture for a more friednly response to no cert being found. Also updated copy of user logs to be wrapped in an IF statement to avoid no directory output.
  scripts/macos/log_collection.sh
Due: none

Amended output message for if no Device Cert is found. Have also amended some of the formatting for the terminal message when script is run locally.
  scripts/macos/log_collection.sh
Due: none

Amended DTC if statment to avoid repeating code - Command now wrapped in a var.
  scripts/macos/log_collection.sh
Due: none

set jcDeviceCert variable as a command
  scripts/macos/log_collection.sh
Due: none

revert automate variable
  scripts/macos/log_collection.sh
Due: none

Amended jcDeviceCert var on line 125 to help remove keychain output in the terminal.
  scripts/macos/log_collection.sh
Due: none

fixing variable syntax error
  scripts/macos/remove_mac_agent.sh
Due: none

Added additional log files to the LOGS list to be captured
  scripts/linux/log_collection.sh
Due: none

Update log_collection.sh
  scripts/macos/log_collection.sh
Due: none

Update log_collection.sh - upgrade script patch number
  scripts/macos/log_collection.sh
Due: none

Path conditions:
  PowerShellModified: any of: PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).*
  CommandsGalleryModified: any of: PowerShell\/(JumpCloud\sCommands\sGallery).*
  RadiusDistributeCertModified: any of: scripts\/automation\/Radius.*
