Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified

Update Config.ps1
  scripts/automation/Radius/Config.ps1
Due: none

basic pipeline input for set/new jcpolicy
  PowerShell/JumpCloud Module/Public/Policies/Get-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Policies/New-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
Due: PowerShellModified

file dynamic params
  PowerShell/JumpCloud Module/Public/Policies/New-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
Due: PowerShellModified

listbox/ table parameters
  PowerShell/JumpCloud Module/Public/Policies/New-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
Due: PowerShellModified

first pass at set jcpolicy tests
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.tests.ps1
Due: PowerShellModified

Set-JCpoilcy tests second pass
  PowerShell/JumpCloud Module/Public/Policies/Get-JCPolicy.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.tests.ps1
Due: PowerShellModified

remove old set-jcpolicy2 work
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy2.ps1
Due: PowerShellModified

todos
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.tests.ps1
Due: PowerShellModified

dynamic table test
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.tests.ps1
Due: PowerShellModified

added new-jcpolicy
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Private/Policies/Dispatch-JCPolicyConfigFiels.ps1
  PowerShell/JumpCloud Module/Private/Policies/Get-JCPolicyConfigField.ps1
  PowerShell/JumpCloud Module/Tests/Private/Policies/Get-JCPolicyConfigField.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/New-JCPolicy.tests.ps1
Due: PowerShellModified

updated prompts
  PowerShell/JumpCloud Module/Public/Policies/New-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
Due: PowerShellModified

new params, showtable and hideall option
  PowerShell/JumpCloud Module/Private/Policies/Show-JCPolicyValues.ps1
Due: PowerShellModified

Added set tests
  PowerShell/JumpCloud Module/Tests/Public/Policies/New-JCPolicy.tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.tests.ps1
Due: PowerShellModified

New-JCPolicy Name set to default if not specifed
  PowerShell/JumpCloud Module/Private/Policies/Get-JCPolicyTemplateConfigField.ps1
  PowerShell/JumpCloud Module/Public/Policies/New-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.tests.ps1
Due: PowerShellModified

fix broken config field mapping
  PowerShell/JumpCloud Module/Private/Policies/Get-JCPolicyTemplateConfigField.ps1
  PowerShell/JumpCloud Module/Public/Policies/New-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
Due: PowerShellModified

object mapping on set tests
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.tests.ps1
Due: PowerShellModified

BAN-1163: enable disable wayland
  scripts/linux/wayland_enable_disable.sh
Due: none

help message
  PowerShell/JumpCloud Module/Private/Policies/Get-JCPolicyTemplateConfigField.ps1
  PowerShell/JumpCloud Module/Private/Policies/Show-JCPolicyValues.ps1
  PowerShell/JumpCloud Module/Public/Policies/New-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
Due: PowerShellModified

help + label options for set-jcpolicy
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
Due: PowerShellModified

set-jcpolicy values only sets specified field
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.tests.ps1
Due: PowerShellModified

case for missing help text
  PowerShell/JumpCloud Module/Public/Policies/New-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
Due: PowerShellModified

dynamic parameter sets
  PowerShell/JumpCloud Module/Tests/Public/Policies/New-JCPolicy.tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.tests.ps1
Due: PowerShellModified

before all blocks in correct context + clean up file test
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.tests.ps1
Due: PowerShellModified

registry dynamic param fix for new-JCPolicy
  PowerShell/JumpCloud Module/Public/Policies/New-JCPolicy.ps1
Due: PowerShellModified

added pipeline tests
  PowerShell/JumpCloud Module/Tests/Public/Policies/New-JCPolicy.tests.ps1
Due: PowerShellModified

new-jcpolicy values tests
  PowerShell/JumpCloud Module/Tests/Public/Policies/New-JCPolicy.tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.tests.ps1
Due: PowerShellModified

fix
  PowerShell/JumpCloud Module/Tests/Public/Policies/New-JCPolicy.tests.ps1
Due: PowerShellModified

policy param helpmessage
  PowerShell/JumpCloud Module/Public/Policies/New-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
Due: PowerShellModified

cleanup errors
  PowerShell/JumpCloud Module/Tests/Public/Policies/New-JCPolicy.tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.tests.ps1
Due: PowerShellModified

Argument Completer for New-JCpolicy cleanup SystemInsights
  PowerShell/JumpCloud Module/JumpCloud.psm1
  PowerShell/JumpCloud Module/Public/Authentication/Connect-JCOnline.ps1
  PowerShell/JumpCloud Module/Public/Policies/New-JCPolicy.ps1
Due: PowerShellModified

table set
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.tests.ps1
Due: PowerShellModified

BAN-1163: Adding wayland enable and disable commands
  scripts/linux/wayland_disable.sh
  scripts/linux/wayland_enable.sh
Due: none

removed the old file: wayland_enable_disable.sh
  scripts/linux/wayland_enable_disable.sh
Due: none

BAN-1163: Command for enabling wayland added to commands template library
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - remote-assist - Enable wayland windowing system.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

Updating Commands.json;[skip ci]
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - remote-assist - Enable wayland windowing system.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

version update
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - remote-assist - Enable wayland windowing system.md
Due: CommandsGalleryModified

Updating command version
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

Updating Commands.json;[skip ci]
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

Wayland disable command
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - remote-assist - Disable wayland windowing system.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

Path conditions:
  PowerShellModified: any of: PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).*
  CommandsGalleryModified: any of: PowerShell\/(JumpCloud\sCommands\sGallery).*
