Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified, RadiusDistributeCertModified

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3
workflows:
  version: 2
  check-updated-files:
    jobs:
      - path-filtering/filter:
          mapping: |
            PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).* PowerShellModified true
            PowerShell\/(JumpCloud\sCommands\sGallery).* CommandsGalleryModified true
            scripts\/automation\/Radius.* RadiusDistributeCertModified true
          base-revision: master
          config-path: .circleci/workflows.yml

duplicate cmds replace and force generate commands
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
  scripts/automation/Radius/Functions/Public/Start-DeployUserCerts.ps1
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
  scripts/automation/Radius/Tests/SetupRadiusOrg.ps1
Due: RadiusDistributeCertModified

tests for existing sha cert cmd
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
  scripts/automation/Radius/Tests/SetupRadiusOrg.ps1
Due: RadiusDistributeCertModified

Import/Update CSV attribute bug fix
  1
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Import-JCUsersFromCSV.ps1
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Update-JCUsersFromCSV.ps1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

test for multiple duplicate commands
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
Due: RadiusDistributeCertModified

fix radius wifi network commands.json
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Forget RADIUS WiFi Network.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

tests
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Import-JCUsersFromCSV.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCUsersFromCSV.Tests.ps1
Due: PowerShellModified

test
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCUsersFromCSV.Tests.ps1
Due: PowerShellModified

date
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

date
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

consolidate tests
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
Due: RadiusDistributeCertModified

do not force generate commands when using the GUI
  scripts/automation/Radius/Functions/Public/Start-DeployUserCerts.ps1
Due: RadiusDistributeCertModified

parallel cert distribution first pass
  scripts/automation/Radius/Functions/Public/Start-DeployUserCerts.ps1
Due: RadiusDistributeCertModified

clean up start deploy
  scripts/automation/Radius/Functions/Public/Start-DeployUserCerts.ps1
Due: RadiusDistributeCertModified

Added filters for JumpCloudGo entries in system log
  scripts/macos/log_collection.sh
Due: none

fix for deployment not generating commands for windows only users
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
Due: RadiusDistributeCertModified

tests for parallel command generation + new behavior
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
Due: RadiusDistributeCertModified

formatting + Throttle Limit
  scripts/automation/Radius/Functions/Public/Start-DeployUserCerts.ps1
Due: RadiusDistributeCertModified

Tests generate cert
  scripts/automation/Radius/Tests/Public/Get-JCRGlobalVars.Tests.ps1
  scripts/automation/Radius/Tests/SetupRadiusOrg.ps1
Due: RadiusDistributeCertModified

Initial dev version of linux log collection script
  scripts/linux/log_collection.sh
Due: none

Added variable for uninstall GUID, Fixed Error Msg
  scripts/windows/UninstallWindowsAgent.ps1
Due: none

Added PS ver Check, added files, fixed the broke.
  scripts/windows/log_collection.ps1
Due: none

Added osquery users & last events
  scripts/linux/log_collection.sh
Due: none

API Key
  PowerShell/JumpCloud Module/Public/Authentication/Connect-JCOnline.ps1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Delete 1
  1
Due: none

skip MSP CSV tests
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Import-JCMSPFromCSV.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCMSPFromCSV.Tests.ps1
Due: PowerShellModified

New/Set/Get Policy Notes param
  PowerShell/JumpCloud Module/Public/Policies/Get-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Policies/New-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
Due: PowerShellModified

update tests for JCPolicy
  PowerShell/JumpCloud Module/Tests/Public/Policies/Get-JCPolicy.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/New-JCPolicy.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.Tests.ps1
Due: PowerShellModified

Limit time required to return error
  PowerShell/JumpCloud Module/JumpCloud.psm1
Due: PowerShellModified

2.14.3
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/New-JCPolicy.md
  PowerShell/JumpCloud Module/Docs/Set-JCPolicy.md
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

modified permissions to make resultant files read-only.
  scripts/linux/log_collection.sh
Due: none

Adjusted file permissions for readability & corrected jcosquery command
  scripts/linux/log_collection.sh
Due: none

Update JumpCloud.psd1
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

Update ModuleChangelog.md
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Update SetupOrg.ps1
  PowerShell/JumpCloud Module/Tests/SetupOrg.ps1
Due: PowerShellModified

Update Set-JCPolicy.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.Tests.ps1
Due: PowerShellModified

Update New-JCPolicy.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/New-JCPolicy.Tests.ps1
Due: PowerShellModified

Update Get-JCPolicy.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Get-JCPolicy.Tests.ps1
Due: PowerShellModified

Update Set-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
Due: PowerShellModified
