Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified, RadiusDistributeCertModified

hide output
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
Due: RadiusDistributeCertModified

test for user cert hash generation
  scripts/automation/Radius/Tests/Public/Get-JCRGlobalVars.Tests.ps1
Due: RadiusDistributeCertModified

cleanup certHash.json
  scripts/automation/Radius/Functions/Private/CertJson/Get-CertHash.ps1
Due: RadiusDistributeCertModified

Fixed backtick mistake on line 160
  scripts/macos/log_collection.sh
Due: none

Create Get-JCSystemKB.ps1
  PowerShell/JumpCloud Module/Public/Systems/Get-JCSystemKB.ps1
Due: PowerShellModified

Added device architecture detection, redirection to ARM download
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

ran commands.json cmd
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

RKT-2364: Use upload-secure-artifact action
  .github/workflows/powershell-module-ci.yml
  .github/workflows/release-workflow.yml
Due: none

(test): run workflows
  .github/workflows/powershell-module-ci.yml
  .github/workflows/release-workflow.yml
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

param alias
  PowerShell/JumpCloud Module/Public/Systems/Get-JCSystemKB.ps1
Due: PowerShellModified

JCSystemKB Tests
  PowerShell/JumpCloud Module/Tests/Public/Systems/Get-JCSystemKB.Tests.ps1
Due: PowerShellModified

build module
  PowerShell/JumpCloud Module/Docs/Connect-JCOnline.md
  PowerShell/JumpCloud Module/Docs/Get-JCSystemKB.md
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

(fix): Make upload-secure-artifact a local action
  .github/actions/upload-secure-artifact/action.yml
  .github/workflows/powershell-module-ci.yml
  .github/workflows/release-workflow.yml
Due: none

(fix): Ensure local action is available
  .github/workflows/powershell-module-ci.yml
Due: none

Revert "(test): run workflows"
  .github/workflows/powershell-module-ci.yml
  .github/workflows/release-workflow.yml
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

run as user if admin
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Enroll MDM System in DEP.md
Due: CommandsGalleryModified

exit 1 if not admin
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Enroll MDM System in DEP.md
Due: CommandsGalleryModified

version change
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Enroll MDM System in DEP.md
Due: CommandsGalleryModified

update commands.json
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

Verify DEP in function + commands.json
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Enroll MDM System in DEP.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

fix for multiple templateIDs per policy
  PowerShell/JumpCloud Module/Public/Policies/Get-JCPolicy.ps1
Due: PowerShellModified

update changelog/psd1
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Update Get-JCSystemKB.md
  PowerShell/JumpCloud Module/Docs/Get-JCSystemKB.md
Due: PowerShellModified

Remove param type for manager field/allow null value for managervalue
  PowerShell/JumpCloud Module/Public/Users/Set-JCUser.ps1
Due: PowerShellModified

manager null tests
  PowerShell/JumpCloud Module/Tests/Public/Users/Set-JCUser.Tests.ps1
Due: PowerShellModified

updating windows install script
  scripts/windows/InstallWindowsAgent.ps1
Due: none

Creating logging output folder
  scripts/windows/InstallWindowsAgent.ps1
Due: none

Revert "Update windows install script"
  scripts/windows/InstallWindowsAgent.ps1
Due: none

fixing the msiexec command
  scripts/windows/InstallWindowsAgent.ps1
Due: none

resetting log location path
  scripts/windows/InstallWindowsAgent.ps1
Due: none

Initial commit of the Windows uninstall script
  scripts/windows/UninstallWindowsAgent.ps1
Due: none

Build-Module
  PowerShell/JumpCloud Module/Docs/Connect-JCOnline.md
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/Set-JCUser.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

date
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

added Nudge .json file collection
  scripts/macos/log_collection.sh
Due: none

update deploy-userCert functions, only update if trigger SHA does not match
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
  scripts/automation/Radius/Functions/Private/Commands/Get-CommandByUsername.ps1
  scripts/automation/Radius/Functions/Public/Start-DeployUserCerts.ps1
  scripts/automation/Radius/JumpCloud-Radius.psm1
Due: RadiusDistributeCertModified

cleanup comments
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
Due: RadiusDistributeCertModified

fix for duplicate macOS commands
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
Due: RadiusDistributeCertModified

Forget WiFi Network Command
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Forget RADIUS WiFi Network.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

Update Windows - Forget RADIUS WiFi Network.md
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Forget RADIUS WiFi Network.md
Due: CommandsGalleryModified

Path conditions:
  PowerShellModified: any of: PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).*
  CommandsGalleryModified: any of: PowerShell\/(JumpCloud\sCommands\sGallery).*
  RadiusDistributeCertModified: any of: scripts\/automation\/Radius.*
