Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1
workflows:
  version: 2
  check-updated-files:
    jobs:
    - path-filtering/filter:
        mapping: |
          PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).* PowerShellModified true
        base-revision: master
        config-path: .circleci/workflows.yml
    - path-filtering/filter:
        mapping: |
          PowerShell\/(JumpCloud\sCommands\sGallery).* CommandsGalleryModified true
        base-revision: master
        config-path: .circleci/workflows.yml

remove duplicate name catch
  PowerShell/JumpCloud Module/Public/Policies/Remove-JCPolicy.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Remove-JCPolicy.tests.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/Remove-JCPolicy.md
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

adjust policy object to correctly account for properties
  PowerShell/JumpCloud Module/Public/Policies/Remove-JCPolicy.ps1
Due: PowerShellModified

include template
  PowerShell/JumpCloud Module/Tests/Public/Policies/Remove-JCPolicy.tests.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Remove-JCPolicy.md
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.nuspec
Due: PowerShellModified

update docs
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/Remove-JCPolicy.md
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

fix non-existant test
  PowerShell/JumpCloud Module/Tests/Public/Policies/Remove-JCPolicy.tests.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

Revert "SA-3318: Remove-JCPolicy"
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/Remove-JCPolicy.md
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Public/Policies/Remove-JCPolicy.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Remove-JCPolicy.tests.ps1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Create Remove-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Policies/Remove-JCPolicy.ps1
Due: PowerShellModified

Create Remove-JCPolicy.tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Remove-JCPolicy.tests.ps1
Due: PowerShellModified

Update workflows.yml
  .circleci/workflows.yml
Due: none

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/Remove-JCPolicy.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Update changelog/docs
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/Remove-JCPolicy.md
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Remove-JCPolicy.md
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  .circleci/workflows.yml
  PowerShell/JumpCloud Module/JumpCloud.nuspec
Due: PowerShellModified

Replace Get-JCCommandResult call
  scripts/automation/Radius/Functions/Private/Get-CommandObjectTable.ps1
Due: none

fix commandresults
  scripts/automation/Radius/Functions/Private/Get-CommandObjectTable.ps1
Due: none

SA-3345 permission fix
  scripts/automation/Radius/Functions/Public/Distribute-UserCerts.ps1
Due: none

add windows quick assist script
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Start Quick Assist Session.md
Due: CommandsGalleryModified

Updating Commands.json;[skip ci]
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

replace commandresults call with sdk
  scripts/automation/Radius/Functions/Private/Invoke-CommandsRetry.ps1
Due: none

BAN-1365: remote assist application installation script for Linux
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - remote-assist - Installation script.md
Due: CommandsGalleryModified

Update Changelog.md
  scripts/automation/Radius/Changelog.md
Due: none

BAN-1365: review comment change
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - remote-assist - Installation script.md
Due: CommandsGalleryModified

add windows quick assist script (#493)
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Start Quick Assist Session.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

work in progress, update/ import MSP orgs
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Import-JCMSPFromCSV.ps1
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/New-JCImportTemplate.ps1
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/New-JCMSPImportTemplate.ps1
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Update-JCMSPFromCSV.ps1
Due: PowerShellModified

tests/ error output in blanket catch statement
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Update-JCUsersFromCSV.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Import-JCUsersFromCSV.tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCUsersFromCSV.tests.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/Remove-JCPolicy.md
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

no users logged in / changelog updates
  scripts/automation/Radius/Changelog.md
  scripts/automation/Radius/Config.ps1
  scripts/automation/Radius/Functions/Public/Distribute-UserCerts.ps1
Due: none

changelog + patch version
  .circleci/workflows.yml
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

no users logged in / changelog updates (#496)
  scripts/automation/Radius/Changelog.md
  scripts/automation/Radius/Config.ps1
  scripts/automation/Radius/Functions/Public/Distribute-UserCerts.ps1
Due: none

tests/ error output in blanket catch statement (#495)
  .circleci/workflows.yml
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/Remove-JCPolicy.md
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Update-JCUsersFromCSV.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Import-JCUsersFromCSV.tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCUsersFromCSV.tests.ps1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

work in progress
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/New-JCMSPImportTemplate.ps1
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Update-JCMSPFromCSV.ps1
Due: PowerShellModified
