Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified, RadiusDistributeCertModified

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3
workflows:
  version: 2
  check-updated-files:
    jobs:
      - path-filtering/filter:
          mapping: |
            PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).* PowerShellModified true
            PowerShell\/(JumpCloud\sCommands\sGallery).* CommandsGalleryModified true
            scripts\/automation\/Radius.* RadiusDistributeCertModified true
          base-revision: master
          config-path: .circleci/workflows.yml

fix date
  PowerShell/JumpCloud Module/Tests/Public/Users/Get-JCScheduledUserstate.Tests.ps1
Due: PowerShellModified

Get the first date
  PowerShell/JumpCloud Module/Tests/Public/Users/Get-JCScheduledUserstate.Tests.ps1
Due: PowerShellModified

update docs
  PowerShell/JumpCloud Module/Docs/Get-JCCommand.md
  PowerShell/JumpCloud Module/Docs/Get-JCEvent.md
  PowerShell/JumpCloud Module/Docs/Get-JCScheduledUserstate.md
  PowerShell/JumpCloud Module/Docs/Get-JCSystem.md
  PowerShell/JumpCloud Module/Docs/Get-JCUser.md
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

update date
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

generate commandresults per test
  PowerShell/JumpCloud Module/Tests/Public/Commands/CommandResults/Remove-JCCommandResult.Tests.ps1
Due: PowerShellModified

timeout to wait for results to populate
  PowerShell/JumpCloud Module/Tests/DefineEnvironment.ps1
  PowerShell/JumpCloud Module/Tests/Public/Commands/CommandResults/Remove-JCCommandResult.Tests.ps1
Due: PowerShellModified

update readme
  scripts/automation/Radius/readme.md
Due: RadiusDistributeCertModified

command should not be invoked test
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
Due: RadiusDistributeCertModified

test on pester org
  .github/workflows/radius-module-ci.yml
Due: none

update tests
  scripts/automation/Radius/Tests/Public/Start-GenerateUserCerts.Tests.ps1
Due: RadiusDistributeCertModified

readable sizes
  PowerShell/JumpCloud Module/Public/Systems/Get-JCSystemInsights.ps1
Due: PowerShellModified

build-module
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

mount table base10 calculations
  PowerShell/JumpCloud Module/Public/Systems/Get-JCSystemInsights.ps1
Due: PowerShellModified

Update ModuleChangelog.md
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

jcapisdksync
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEvent.ps1
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEventCount.ps1
Due: PowerShellModified

JCEvent
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEvent.ps1
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEventCount.ps1
Due: PowerShellModified

NB-11852: Linux Set ReleaseChannel In JumpCloud Password Manager command
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - Set ReleaseChannel In JumpCloud Password Manager.md
Due: CommandsGalleryModified

NB-11852: Mac Set ReleaseChannel In JumpCloud Password Manager command
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Set ReleaseChannel In JumpCloud Password Manager.md
Due: CommandsGalleryModified

NB-11852: Windows Set ReleaseChannel In JumpCloud Password Manager command
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Set ReleaseChannel In JumpCloud Password Manager.md
Due: CommandsGalleryModified

feat: Updated commands.json to include the new macOS command related to setting the release channel fix: Removed linux and windows scripts related to setting the release channel
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - Set ReleaseChannel In JumpCloud Password Manager.md
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Set ReleaseChannel In JumpCloud Password Manager.md
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Set ReleaseChannel In JumpCloud Password Manager.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

feat: Added import JC command to the macOS release channel script
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Set ReleaseChannel In JumpCloud Password Manager.md
Due: CommandsGalleryModified

fix: Removed empty line at eof in commands.json
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

feat: Updated macOS md file
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Set ReleaseChannel In JumpCloud Password Manager.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

feat: Added windows set release channel script
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Set ReleaseChannel In JumpCloud Password Manager.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

feat: Added Linux set release channel script
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - Set ReleaseChannel In JumpCloud Password Manager.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

update restart from osascript to launchDaemon
  scripts/macos/RenameMacUserNameAndHomeDirectory.sh
Due: none

update rename script in macOS
  _posts/2023-03-23-Rename-Local-Username.md
Due: none

fix: release channel scripts
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - Set ReleaseChannel In JumpCloud Password Manager.md
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Set ReleaseChannel In JumpCloud Password Manager.md
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Set ReleaseChannel In JumpCloud Password Manager.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

fix: Mac - Set ReleaseChannel In JumpCloud Password Manager.md loops over users
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Set ReleaseChannel In JumpCloud Password Manager.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

fix: Linux - Set ReleaseChannel In JumpCloud Password Manager.md loops over users
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - Set ReleaseChannel In JumpCloud Password Manager.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

fix: addressed PR comments
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - Set ReleaseChannel In JumpCloud Password Manager.md
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Set ReleaseChannel In JumpCloud Password Manager.md
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Set ReleaseChannel In JumpCloud Password Manager.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

git diff helpfiles
  PowerShell/JumpCloud Module/Tests/ModuleValidation/HelpFiles.Tests.ps1
Due: PowerShellModified

Build-Module
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

change en-Us case
  PowerShell/Deploy/Build-HelpFiles.ps1
Due: PowerShellModified

fix: Mac - Set ReleaseChannel In JumpCloud Password Manager script releaseChannel variable to public
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Set ReleaseChannel In JumpCloud Password Manager.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

remove progressaction from docs and xml
  PowerShell/Deploy/Build-HelpFiles.ps1
Due: PowerShellModified

build-module
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

fix date
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

status text
  PowerShell/Deploy/Build-HelpFiles.ps1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified
