Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1
workflows:
  version: 2
  check-updated-files:
    jobs:
    - path-filtering/filter:
        mapping: |
          PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).* PowerShellModified true
        base-revision: master
        config-path: .circleci/workflows.yml
    - path-filtering/filter:
        mapping: |
          PowerShell\/(JumpCloud\sCommands\sGallery).* CommandsGalleryModified true
        base-revision: master
        config-path: .circleci/workflows.yml

v1.0.4, update distribute script
  scripts/automation/Radius/Changelog.md
  scripts/automation/Radius/Config.ps1
  scripts/automation/Radius/Functions/Public/Distribute-UserCerts.ps1
Due: none

update mac - generic dmg installer
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Application Installs/Mac - Generic DMG Installer.md
Due: CommandsGalleryModified

v1.0.4, update distribute script (#497)
  scripts/automation/Radius/Changelog.md
  scripts/automation/Radius/Config.ps1
  scripts/automation/Radius/Functions/Public/Distribute-UserCerts.ps1
Due: none

resolve
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Application Installs/Mac - Generic DMG Installer.md
Due: CommandsGalleryModified

MSP Import/ Update from CSV
  .circleci/workflows.yml
  PowerShell/Deploy/Get-Config.ps1
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/JumpCloud.psm1
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Import-JCMSPFromCSV.ps1
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Update-JCMSPFromCSV.ps1
  PowerShell/JumpCloud Module/Tests/InvokePester.ps1
  PowerShell/JumpCloud Module/Tests/Private/Policies/Get-JCPolicyConfigMapping.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Import-JCMspFromCSV.tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCMSPFromCSV.tests.ps1
  PowerShell/JumpCloud Module/Tests/SetupOrg.ps1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

params in workflow for msp invoke pester
  .circleci/workflows.yml
Due: none

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Import-JCMSPFromCSV.md
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/New-JCMSPImportTemplate.md
  PowerShell/JumpCloud Module/Docs/Remove-JCPolicy.md
  PowerShell/JumpCloud Module/Docs/Update-JCMSPFromCSV.md
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/New-JCMSPImportTemplate.Tests.ps1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

'None' exclude tag list
  .circleci/workflows.yml
Due: none

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
Due: PowerShellModified

msp tests invoke
  .circleci/workflows.yml
  PowerShell/Deploy/Get-Config.ps1
  PowerShell/JumpCloud Module/Tests/InvokePester.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Import-JCMspFromCSV.tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCMSPFromCSV.tests.ps1
Due: PowerShellModified

null object exception fix for tests
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Import-JCMspFromCSV.tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCMSPFromCSV.tests.ps1
Due: PowerShellModified

documentation
  PowerShell/JumpCloud Module/Docs/Import-JCMSPFromCSV.md
  PowerShell/JumpCloud Module/Docs/New-JCImportTemplate.md
  PowerShell/JumpCloud Module/Docs/New-JCMSPImportTemplate.md
  PowerShell/JumpCloud Module/Docs/Update-JCMSPFromCSV.md
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/New-JCMSPImportTemplate.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Import-JCMSPFromCSV.md
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/New-JCImportTemplate.md
  PowerShell/JumpCloud Module/Docs/New-JCMSPImportTemplate.md
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/Docs/Update-JCMSPFromCSV.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

Create Convert-RegToPSObject.ps1
  PowerShell/JumpCloud Module/Private/Policies/Convert-RegToPSObject.ps1
Due: PowerShellModified

forground color, same as update function
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Import-JCMSPFromCSV.ps1
Due: PowerShellModified

test cleanup and new import template tests
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Update-JCMSPFromCSV.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Import-JCMspFromCSV.tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/New-JCMSPImportTemplate.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCMSPFromCSV.tests.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/JumpCloud.nuspec
Due: PowerShellModified

Update Convert-RegToPSObject.ps1
  PowerShell/JumpCloud Module/Private/Policies/Convert-RegToPSObject.ps1
Due: PowerShellModified

test ci
  .circleci/config.yml
  .circleci/workflows.yml
  scripts/automation/Radius/build/installPrerequisites.sh
  scripts/automation/Radius/build/setupCA.sh
  scripts/automation/Radius/scripts/bash.sh
  scripts/automation/Radius/scripts/installCert.sh
  scripts/automation/Radius/test/deployment/macDeployment.tests.ps1
Due: none

sed for linux
  scripts/automation/Radius/build/setupCA.sh
Due: none

invoke pester and build dirs if null
  .circleci/workflows.yml
  scripts/automation/Radius/build/setupCA.sh
Due: none

add bash script for testing
  scripts/automation/Radius/scripts/bash.sh
Due: none

pwsh shell
  .circleci/workflows.yml
Due: none

invoke pester
  scripts/automation/Radius/test/invoke-pester.ps1
Due: none

Convert hex value to int
  PowerShell/JumpCloud Module/Private/Policies/Convert-RegToPSObject.ps1
Due: PowerShellModified

install pester print version
  .circleci/workflows.yml
  scripts/automation/Radius/build/setupCA.sh
Due: none

workflow syntax
  .circleci/workflows.yml
Due: none

22.04
  .circleci/workflows.yml
Due: none

remove legacy for 1.1.1 open ssl
  scripts/automation/Radius/build/setupCA.sh
Due: none

test temp script
  scripts/automation/Radius/test/deployment/macDeployment.tests.ps1
Due: none

macos build server
  .circleci/workflows.yml
Due: none

lowercase
  .circleci/workflows.yml
Due: none

run macos Tests
  .circleci/workflows.yml
Due: none

build order
  .circleci/workflows.yml
  .vscode/settings.json
  scripts/automation/Radius/Extensions/extensions-emailDN.cnf
  scripts/automation/Radius/Extensions/extensions-emailSAN.cnf
  scripts/automation/Radius/Extensions/extensions-usernameCN.cnf
  scripts/automation/Radius/Functions/Public/Distribute-UserCerts.ps1
  scripts/automation/Radius/build/setupUserCert.sh
  scripts/automation/Radius/scripts/installCert.ps1
Due: none

mac test setup
  scripts/automation/Radius/scripts/installCert.sh
  scripts/automation/Radius/test/deployment/macDeployment.tests.ps1
Due: none

zip cert
  scripts/automation/Radius/test/deployment/macDeployment.tests.ps1
Due: none

only build on mac
  .circleci/workflows.yml
  scripts/automation/Radius/build/setupCA.sh
Due: none

only build mac job
  .circleci/workflows.yml
Due: none

workflow format
  .circleci/workflows.yml
Due: none
