Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified, RadiusDistributeCertModified

fix: windows pwm app auto launching after installation
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install JumpCloud Password Manager App.md
Due: CommandsGalleryModified

test: command gallery pipeline
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

chore: update commands.json
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

fix: commands.json formatting
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

missing $
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
Due: RadiusDistributeCertModified

EmailSAN fix; rootCA cert var; try/catch for expiring certs
  scripts/automation/Radius/Config.ps1
  scripts/automation/Radius/Functions/Private/CertGeneration/Generate-UserCert.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-RadiusMainMenu.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateRootCert.ps1
Due: RadiusDistributeCertModified

mac/ windows Last Update Time display/ message
  scripts/automation/Radius/Functions/Private/Menus/Show-RadiusMainMenu.ps1
  scripts/automation/Radius/Functions/Public/Get-JCRGlobalVars.ps1
Due: RadiusDistributeCertModified

unnecessary legacy.dll messaging
  scripts/automation/Radius/Config.ps1
Due: RadiusDistributeCertModified

initial commit
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Remove Extra Bitlocker Recovery Passwords.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

addressed comment
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Remove Extra Bitlocker Recovery Passwords.md
Due: CommandsGalleryModified

Addressed CI failing
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

Attempt to fix spacing issue once again
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Remove Extra Bitlocker Recovery Passwords.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

Modified script to be able to be applied to several devices at a time.
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Remove Extra Bitlocker Recovery Passwords.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

entityID parsing and validation
  PowerShell/JumpCloud.Office365.SSO/Private/HelperFunctions/Get-MetadataFromXML.ps1
  PowerShell/JumpCloud.Office365.SSO/Public/Enable-JumpCloud.Office365.SSO.ps1
Due: PowerShellModified

domain messaging
  PowerShell/JumpCloud.Office365.SSO/Private/HelperFunctions/Get-MetadataFromXML.ps1
Due: PowerShellModified

version
  PowerShell/JumpCloud.Office365.SSO/JumpCloud.Office365.SSO.psd1
Due: PowerShellModified

Remove systemToken
  PowerShell/JumpCloud Module/Public/Systems/Get-JCSystem.ps1
Due: PowerShellModified

Update ModuleChangelog.md
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

update version/date
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

add new returnproperties via swagger
  PowerShell/JumpCloud Module/Public/Systems/Get-JCSystem.ps1
  PowerShell/JumpCloud Module/Public/Users/Get-JCUser.ps1
Due: PowerShellModified

date and regex match
  PowerShell/JumpCloud.Office365.SSO/JumpCloud.Office365.SSO.psd1
  PowerShell/JumpCloud.Office365.SSO/Private/HelperFunctions/Get-MetadataFromXML.ps1
Due: PowerShellModified

Fix Get-JCEvent examples
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEvent.ps1
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEventCount.ps1
Due: PowerShellModified

requests version
  .github/scripts/requirements.txt
Due: none

add staged state check to enable mfa
  PowerShell/JumpCloud Module/Public/Users/New-JCUser.ps1
  PowerShell/JumpCloud Module/Public/Users/Set-JCUser.ps1
Due: PowerShellModified

revert set-jcuser changes
  PowerShell/JumpCloud Module/Public/Users/Set-JCUser.ps1
Due: PowerShellModified

test if user state is STAGED
  PowerShell/JumpCloud Module/Tests/Public/Users/New-JCUser.Tests.ps1
Due: PowerShellModified

update module/changelog
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

remove get-date from staged check
  PowerShell/JumpCloud Module/Public/Users/New-JCUser.ps1
Due: PowerShellModified

track user certificates using system insight filters
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
  scripts/automation/Radius/Functions/Private/CertResults/Get-CertBySHA.ps1
  scripts/automation/Radius/Functions/Private/DeploymentTable/New-DeploymentTable.ps1
  scripts/automation/Radius/Functions/Private/Settings/Update-JCRUsersJson.ps1
  scripts/automation/Radius/Functions/Private/UserTable/Set-UserTable.ps1
Due: RadiusDistributeCertModified

only path and systemID in table
  scripts/automation/Radius/Functions/Private/CertResults/Get-CertBySHA.ps1
  scripts/automation/Radius/Functions/Private/DeploymentTable/New-DeploymentTable.ps1
  scripts/automation/Radius/Functions/Private/Settings/Update-JCRUsersJson.ps1
Due: RadiusDistributeCertModified

fix date
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

fix changelog/psd1
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

show status by certificate install
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
  scripts/automation/Radius/Functions/Private/Commands/Get-InstalledCertsFromUsersJson.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-CertDeploymentMenu.ps1
  scripts/automation/Radius/Functions/Public/Start-MonitorCertDeployment.ps1
Due: RadiusDistributeCertModified

null array for system list
  scripts/automation/Radius/Functions/Private/Commands/Invoke-CommandByUserId.ps1
Due: RadiusDistributeCertModified

determine work by certificate
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
  scripts/automation/Radius/Functions/Private/CertResults/Get-InstalledCertsFromUsersJson.ps1
  scripts/automation/Radius/Functions/Private/CertResults/Get-SystemsThatNeedCertWork.ps1
  scripts/automation/Radius/Functions/Private/CertResults/Get-UsersThatNeedCertWork.ps1
  scripts/automation/Radius/Functions/Private/Commands/Invoke-CommandByUserId.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-DistributionMenu.ps1
  scripts/automation/Radius/Functions/Private/UserTable/Set-UserTable.ps1
  scripts/automation/Radius/Functions/Public/Start-DeployUserCerts.ps1
Due: RadiusDistributeCertModified

upload certificate table
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
Due: RadiusDistributeCertModified

note progress with addition of system insights check
  scripts/automation/Radius/Functions/Private/Settings/Update-JCRUsersJson.ps1
Due: RadiusDistributeCertModified

passing tests baseline
  scripts/automation/Radius/Extensions/extensions-emailSAN.cnf
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
  scripts/automation/Radius/Functions/Private/Settings/Update-JCRUsersJson.ps1
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-GenerateRootCert.Tests.ps1
Due: RadiusDistributeCertModified

tests should run independently
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-CertInfo.ps1
  scripts/automation/Radius/Functions/Private/HashFunctions/Test-UserFromHash.ps1
  scripts/automation/Radius/Functions/Public/Get-JCRGlobalVars.ps1
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-GenerateRootCert.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-GenerateUserCerts.Tests.ps1
  scripts/automation/Radius/Tests/SetupRadiusOrg.ps1
Due: RadiusDistributeCertModified

module validation tests
  scripts/automation/Radius/Tests/Invoke-Pester.ps1
  scripts/automation/Radius/Tests/ModuleValidation/ModuleVersion.Tests.ps1
Due: RadiusDistributeCertModified

Path conditions:
  PowerShellModified: any of: PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).*
  CommandsGalleryModified: any of: PowerShell\/(JumpCloud\sCommands\sGallery).*
  RadiusDistributeCertModified: any of: scripts\/automation\/Radius.*
