Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified, RadiusDistributeCertModified

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3
workflows:
  version: 2
  check-updated-files:
    jobs:
      - path-filtering/filter:
          mapping: |
            PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).* PowerShellModified true
            PowerShell\/(JumpCloud\sCommands\sGallery).* CommandsGalleryModified true
            scripts\/automation\/Radius.* RadiusDistributeCertModified true
          base-revision: master
          config-path: .circleci/workflows.yml

Updating Commands.json;[skip ci]
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

Pester Parallel Implementation
  PowerShell/JumpCloud Module/Tests/InvokePester.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Update ModuleChangelog.md
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

fix mac workflow
  .circleci/workflows.yml
Due: none

fix results
  PowerShell/JumpCloud Module/Tests/InvokePester.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.nuspec
Due: PowerShellModified

change variable loading param name
  PowerShell/JumpCloud Module/Tests/InvokePester.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/JumpCloud.nuspec
Due: PowerShellModified

Set JCPolicy test fix (get value by config field because the order of values sometimes changes)
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.tests.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

parallel output [skip ci]
  PowerShell/JumpCloud Module/Tests/InvokePester.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
Due: PowerShellModified

Sorting test files [skip ci]
  PowerShell/JumpCloud Module/Tests/InvokePester.ps1
Due: PowerShellModified

include install token check
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install CrowdStrike Falcon Agent.md
Due: CommandsGalleryModified

include install token check
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install CrowdStrike Falcon Agent.md
Due: CommandsGalleryModified

Delete FixWindowsAgent.ps1
  scripts/windows/FixWindowsAgent.ps1
Due: none

update instructions to include CSInstallToken
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install CrowdStrike Falcon Agent.md
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install CrowdStrike Falcon Agent.md
Due: CommandsGalleryModified

Remove JCCommandTarget cleanup
  PowerShell/JumpCloud Module/Tests/Public/Commands/CommandTargets/Remove-JCCommandTarget.tests.ps1
Due: PowerShellModified

Invoke JCCommand Deployment cleanup
  PowerShell/JumpCloud Module/Tests/Public/Commands/Invoke-JCDeployment.tests.ps1
Due: PowerShellModified

get jcsystemuser cleanup
  PowerShell/JumpCloud Module/Tests/Public/SystemUsers/Get-JCSystemUser.tests.ps1
Due: PowerShellModified

Get-JCUser Cleanup
  PowerShell/JumpCloud Module/Tests/Public/Users/Get-JCUser.tests.ps1
Due: PowerShellModified

exclude MSP & JCOrg tests
  .circleci/workflows.yml
Due: none

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

circleCI refresh ui limit
  PowerShell/JumpCloud Module/Tests/InvokePester.ps1
Due: PowerShellModified

jcusergroup member test cleanup
  PowerShell/JumpCloud Module/Tests/Public/Groups/UserGroups/Add-JCUserGroupMember.tests.ps1
Due: PowerShellModified

add jcsystem group memeber test cleanup
  PowerShell/JumpCloud Module/Tests/Public/Groups/SystemGroups/Add-JCSystemGroupMember.tests.ps1
Due: PowerShellModified

workaround for remove JCSystemGroup in test
  PowerShell/JumpCloud Module/Tests/Public/Groups/SystemGroups/Get-JCSystemGroupMember.tests.ps1
Due: PowerShellModified

workaround for jcsystem group removal by name
  PowerShell/JumpCloud Module/Tests/Public/Groups/SystemGroups/Add-JCSystemGroupMember.tests.ps1
Due: PowerShellModified

no need to go get the id twice
  PowerShell/JumpCloud Module/Tests/Public/Groups/SystemGroups/Remove-JCSystemGroup.tests.ps1
Due: PowerShellModified

fix -force [skip ci]
  PowerShell/JumpCloud Module/Tests/Public/Groups/SystemGroups/Remove-JCSystemGroupMember.tests.ps1
Due: PowerShellModified

added sone mac fix
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install Sentinel One Agent.md
Due: CommandsGalleryModified

Update PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install Sentinel One Agent.md
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install Sentinel One Agent.md
Due: CommandsGalleryModified

Added set -e
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install Sentinel One Agent.md
Due: CommandsGalleryModified

2.8.0 changes to remove sys/usr groups
  PowerShell/JumpCloud Module/Public/Groups/SystemGroups/Remove-JCSystemGroup.ps1
  PowerShell/JumpCloud Module/Public/Groups/UserGroups/Remove-JCUserGroup.ps1
  PowerShell/JumpCloud Module/Tests/Public/Groups/SystemGroups/Remove-JCSystemGroup.tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Groups/UserGroups/Remove-JCUserGroup.tests.ps1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

fixed set -e
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install Sentinel One Agent.md
Due: CommandsGalleryModified
