Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified, RadiusDistributeCertModified

test behavior
  PowerShell/JumpCloud Module/Public/Policies/PolicyGroupTemplates/Get-JCPolicyGroupTemplateMember.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/PolicyGroupTemplates/Get-JCPolicyGroupTemplate.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/PolicyGroupTemplates/Get-JCPolicyGroupTemplateMember.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/PolicyGroupTemplates/Remove-JCPolicyGroupTemplate.Tests.ps1
Due: PowerShellModified

docs update
  PowerShell/JumpCloud Module/Docs/Get-JCPolicyGroupTemplateMember.md
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

git diffs and get-jcpolicygrouptemplate tests
  PowerShell/JumpCloud Module/Tests/ModuleValidation/SDKImport.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/PolicyGroupTemplates/Get-JCPolicyGroupTemplateMember.Tests.ps1
Due: PowerShellModified

update / import jcuser from csv tests
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Import-JCUsersFromCSV.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCUsersFromCSV.Tests.ps1
Due: PowerShellModified

csv tests and ignore whitespace
  PowerShell/JumpCloud Module/Tests/ModuleValidation/SDKImport.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCUsersFromCSV.Tests.ps1
Due: PowerShellModified

here string replacement
  PowerShell/Deploy/SdkSync/jcapiToSupportSync.ps1
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEvent.ps1
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEventCount.ps1
Due: PowerShellModified

module changelog
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

variable names
  PowerShell/Deploy/SdkSync/jcapiToSupportSync.ps1
Due: PowerShellModified

version date
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

update text to require only readOnly API Key
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - Rename System HostName from JumpCloud.md
Due: CommandsGalleryModified

update commands.json
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

change to windows uninstaller for more robustness
  scripts/windows/UninstallWindowsAgent.ps1
Due: none

Create New-JCDeviceUpdateTemplate.ps1
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/New-JCDeviceUpdateTemplate.ps1
Due: PowerShellModified

fix brackets
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/New-JCDeviceUpdateTemplate.ps1
Due: PowerShellModified

fix prompts and remove hostname
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/New-JCDeviceUpdateTemplate.ps1
Due: PowerShellModified

import update jcusers csv bug fix
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Import-JCUsersFromCSV.ps1
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Update-JCUsersFromCSV.ps1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

import update csv tests
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Import-JCUsersFromCSV.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCUsersFromCSV.Tests.ps1
Due: PowerShellModified

suppressing error when can't find app to uninstall
  scripts/windows/UninstallWindowsAgent.ps1
Due: none

test
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Update-JCUsersFromCSV.ps1
Due: PowerShellModified

Revert "test"
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Update-JCUsersFromCSV.ps1
Due: PowerShellModified

Revert "import update csv tests"
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Import-JCUsersFromCSV.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCUsersFromCSV.Tests.ps1
Due: PowerShellModified

Revert "Merge branch 'CUT-4394_JCDeviceFromCSV' of ssh://github.com/TheJumpCloud/support into CUT-4394_JCDeviceFromCSV"
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/New-JCDeviceUpdateTemplate.ps1
Due: PowerShellModified

Revert "import update jcusers csv bug fix"
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Import-JCUsersFromCSV.ps1
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Update-JCUsersFromCSV.ps1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

version
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

redo create branch
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Import-JCUsersFromCSV.ps1
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Update-JCUsersFromCSV.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Import-JCUsersFromCSV.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCUsersFromCSV.Tests.ps1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

version
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

Create Update-JCDeviceFromCSV.ps1
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Update-JCDeviceFromCSV.ps1
Due: PowerShellModified

fix bug with performing substring
  PowerShell/JumpCloud Module/Public/Systems/Get-JCSystemApp.ps1
Due: PowerShellModified

Update JumpCloud.psd1
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

username from parameter
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-CertInfo.ps1
Due: RadiusDistributeCertModified

test on 2.0.0 branch
  .github/workflows/radius-module-ci.yml
Due: none

use environment to test
  .github/workflows/radius-module-ci.yml
Due: none

env key
  .github/workflows/radius-module-ci.yml
Due: none

revert env
  .github/workflows/radius-module-ci.yml
Due: none

update user cert generation tests
  scripts/automation/Radius/Tests/Public/Start-GenerateUserCerts.Tests.ps1
Due: RadiusDistributeCertModified

hyphen and localUsername tests
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
Due: RadiusDistributeCertModified

test the command body
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
Due: RadiusDistributeCertModified

get usernames if calling -UserCerts as a list
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-CertInfo.ps1
Due: RadiusDistributeCertModified

do not test null strings
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-CertInfo.ps1
Due: RadiusDistributeCertModified

Path conditions:
  PowerShellModified: any of: PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).*
  CommandsGalleryModified: any of: PowerShell\/(JumpCloud\sCommands\sGallery).*
  RadiusDistributeCertModified: any of: scripts\/automation\/Radius.*
