Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1
workflows:
  version: 2
  check-updated-files:
    jobs:
    - path-filtering/filter:
        mapping: |
          PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).* PowerShellModified true
        base-revision: master
        config-path: .circleci/workflows.yml
    - path-filtering/filter:
        mapping: |
          PowerShell\/(JumpCloud\sCommands\sGallery).* CommandsGalleryModified true
        base-revision: master
        config-path: .circleci/workflows.yml

test fail
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install Sentinel One Agent.md
Due: CommandsGalleryModified

test
  .circleci/scripts/validate_commands_gallery_md.py
Due: none

scripts
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - Rename System HostName, LocalHostName and ComputerName from JumpCloud.md
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Rename System HostName, LocalHostName and ComputerName from JumpCloud.md
Due: CommandsGalleryModified

Updating Commands.json;[skip ci]
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - Rename System HostName, LocalHostName and ComputerName from JumpCloud.md
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Rename System HostName, LocalHostName and ComputerName from JumpCloud.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

update linux script to resemble mac and windows scripts
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - Rename System HostName, LocalHostName and ComputerName from JumpCloud.md
Due: CommandsGalleryModified

Updating Commands.json;[skip ci]
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

cleanup
  .circleci/scripts/validate_commands_gallery_md.py
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install Sentinel One Agent.md
Due: CommandsGalleryModified

condition to check if there are changes to commit
  .circleci/workflows.yml
Due: none

update description, requirements and url
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - Rename System HostName from JumpCloud.md
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Rename System HostName from JumpCloud.md
Due: CommandsGalleryModified

include note about netbios truncation
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Rename System HostName from JumpCloud.md
Due: CommandsGalleryModified

remove command types if specified in command body
  .circleci/scripts/parse_commands_to_json.py
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

fonts via commands example
  _posts/2022-10-04-Deploy-Fonts-Via-Comnmands.md
  images/fontsInstall/awss3.png
  images/fontsInstall/commandMac.png
  images/fontsInstall/installedFont.png
  images/fontsInstall/zipFiles.png
Due: none

Updating gh-pages;[skip ci]
  tag/fonts.md
Due: none

Install JumpCloud PM app scripts
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - AppImage - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install Sentinel One Agent.md
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install JumpCloud Password Manager App.md
Due: CommandsGalleryModified

Updating Commands.json;[skip ci]
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - AppImage - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

filepath
  _posts/2022-10-04-Deploy-Fonts-Via-Comnmands.md
Due: none

updated script for windows
  _posts/2022-10-04-Deploy-Fonts-Via-Comnmands.md
Due: none

ignore hidden files
  _posts/2022-10-04-Deploy-Fonts-Via-Comnmands.md
Due: none

remove Linux command will break out into new card
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - AppImage - Install JumpCloud Password Manager App.md
Due: CommandsGalleryModified

whitespace & remove one word
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install JumpCloud Password Manager App.md
Due: CommandsGalleryModified

rename local user automation
  _posts/2022-10-10-Deploy-Fonts-Via-Comnmands.md
Due: none

Updating gh-pages;[skip ci]
  tag/accounts.md
Due: none

update CrowdStrike scripts
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install CrowdStrike Falcon Agent.md
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install CrowdStrike Falcon Agent.md
Due: CommandsGalleryModified

Init. bug fix for commandType, launchType, timeout
  PowerShell/JumpCloud Module/Public/Commands/Set-JCCommand.ps1
Due: PowerShellModified

changelog
  .circleci/workflows.yml
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleBanner.md
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

set-jccommand tests
  PowerShell/JumpCloud Module/Tests/Public/Commands/Set-JCCommand.tests.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

test fix
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

launchtype help message change
  PowerShell/JumpCloud Module/Public/Commands/Set-JCCommand.ps1
Due: PowerShellModified

Update Mac - Install Chrome DMG.md
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Application Installs/Mac - Install Chrome DMG.md
Due: CommandsGalleryModified

Update PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install CrowdStrike Falcon Agent.md
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install CrowdStrike Falcon Agent.md
Due: CommandsGalleryModified
