Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified, RadiusDistributeCertModified

update function names
  scripts/automation/Radius/Functions/Private/Config/Get-JCRConfigFile.ps1
  scripts/automation/Radius/Functions/Private/Settings/Set-JCRSettingsFile.ps1
  scripts/automation/Radius/Functions/Public/Get-JCRGlobalVars.ps1
  scripts/automation/Radius/Tests/Public/Get-JCRGlobalVars.Tests.ps1
Due: RadiusDistributeCertModified

write last update needed when we set this in the module
  scripts/automation/Radius/Functions/Private/Config/New-JCRConfigFile.ps1
Due: RadiusDistributeCertModified

Set-JCRSettingsFile -> Set-JCRConfigFile
  scripts/automation/Radius/Functions/Public/Get-JCRGlobalVars.ps1
  scripts/automation/Radius/Tests/Public/Get-JCRGlobalVars.Tests.ps1
Due: RadiusDistributeCertModified

urilist
  PowerShell/JumpCloud Module/Private/Policies/Get-JCPolicyTemplateConfigField.ps1
  PowerShell/JumpCloud Module/Private/Policies/New-UriListItem.ps1
  PowerShell/JumpCloud Module/Private/Policies/Set-JCPolicyConfigField.ps1
  PowerShell/JumpCloud Module/Public/Policies/New-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/New-JCPolicy.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.Tests.ps1
Due: PowerShellModified

Moving the current logic of listing Device Certs into loop run against managed users.
  scripts/macos/log_collection.sh
Due: none

Updated version number
  scripts/macos/log_collection.sh
Due: none

Updated script version number
  scripts/linux/log_collection.sh
Due: none

Added logging functionality to be inline with our other log collection script - Also included logic to list JumpCloud Device Trust Certificate and running JumpCloud services on the device.
  scripts/linux/log_collection.sh
Due: none

changelog
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

test
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/New-JCPolicy.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.Tests.ps1
Due: PowerShellModified

tests
  PowerShell/JumpCloud Module/Private/Policies/Show-JCPolicyValues.ps1
  PowerShell/JumpCloud Module/Public/Policies/New-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
  PowerShell/JumpCloud Module/Tests/Private/Policies/New-UriList.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.Tests.ps1
Due: PowerShellModified

test fix
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Tests/Public/Policies/New-JCPolicy.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.Tests.ps1
Due: PowerShellModified

test fix
  PowerShell/JumpCloud Module/Tests/Public/Policies/New-JCPolicy.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.Tests.ps1
Due: PowerShellModified

added tests for invalid values/format
  PowerShell/JumpCloud Module/Public/Policies/New-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/New-JCPolicy.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.Tests.ps1
Due: PowerShellModified

test fixes
  PowerShell/JumpCloud Module/Private/Policies/New-UriListItem.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/New-JCPolicy.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.Tests.ps1
Due: PowerShellModified

update config
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-CertInfo.ps1
  scripts/automation/Radius/Functions/Private/Commands/Clear-JCQueuedCommand.ps1
  scripts/automation/Radius/Functions/Private/Config/Confirm-JCRConfigFile.ps1
  scripts/automation/Radius/Functions/Private/Config/Get-JCRConfig.ps1
  scripts/automation/Radius/Functions/Private/Config/Get-JCRConfigFile.ps1
  scripts/automation/Radius/Functions/Private/Config/New-JCRConfigFile.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-RadiusMainMenu.ps1
  scripts/automation/Radius/Functions/Private/Module/Get-JCRUserAgent.ps1
  scripts/automation/Radius/Functions/Private/Module/Get-OpenSSLVersion.ps1
  scripts/automation/Radius/Functions/Private/Module/Validate-JCRModuleRequirements.ps1
  scripts/automation/Radius/Functions/Public/Config/Set-JCRConfigFile.ps1
  scripts/automation/Radius/Functions/Public/Get-JCRGlobalVars.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateUserCerts.ps1
  scripts/automation/Radius/Functions/Public/Start-RadiusDeployment.ps1
  scripts/automation/Radius/JumpCloud.Radius.psd1
  scripts/automation/Radius/JumpCloud.Radius.psm1
  scripts/automation/Radius/Tests/Public/Get-JCRGlobalVars.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-GenerateRootCert.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-GenerateUserCerts.Tests.ps1
  scripts/automation/Radius/Tests/SetupRadiusOrg.ps1
  scripts/automation/Radius/multi_group_radius.ps1
Due: RadiusDistributeCertModified

update Build-HelpFiles files from main branch
  PowerShell/Deploy/Build-HelpFiles.ps1
Due: PowerShellModified

temp module validation tests
  scripts/automation/Radius/Tests/ModuleValidation/ModuleVersion.Tests.ps1
Due: RadiusDistributeCertModified

examples
  PowerShell/JumpCloud Module/Docs/New-JCPolicy.md
  PowerShell/JumpCloud Module/Docs/Set-JCPolicy.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

module
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Tests/ModuleValidation/ReturnProperties.Tests.ps1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

module validation
  PowerShell/JumpCloud Module/Docs/New-JCPolicy.md
  PowerShell/JumpCloud Module/Docs/Set-JCPolicy.md
  PowerShell/JumpCloud Module/Tests/ModuleValidation/ReturnProperties.Tests.ps1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

build module
  PowerShell/JumpCloud Module/Docs/Get-JCUserGroupMember.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

changelog
  PowerShell/JumpCloud Module/Tests/ModuleValidation/ReturnProperties.Tests.ps1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

fix setting null primarySystemUser
  PowerShell/JumpCloud Module/Public/Systems/Set-JCSystem.ps1
Due: PowerShellModified

update tests to account for associations
  PowerShell/JumpCloud Module/Tests/Public/Systems/Set-JCSystem.Tests.ps1
Due: PowerShellModified

date fix
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

associate user to system
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCDeviceFromCSV.Tests.ps1
Due: PowerShellModified

fix spelling
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCDeviceFromCSV.Tests.ps1
Due: PowerShellModified

should not set to null
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCDeviceFromCSV.Tests.ps1
Due: PowerShellModified

global JCRConfig settings
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-CertInfo.ps1
  scripts/automation/Radius/Functions/Private/Config/Confirm-JCRConfigFile.ps1
  scripts/automation/Radius/Functions/Private/Config/Get-JCRConfig.ps1
  scripts/automation/Radius/Functions/Private/Config/Get-JCRConfigFile.ps1
  scripts/automation/Radius/Functions/Private/Config/New-JCRConfigFile.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-RadiusMainMenu.ps1
  scripts/automation/Radius/Functions/Private/Settings/Set-JCRSettingsFile.ps1
  scripts/automation/Radius/Functions/Public/Config/Set-JCRConfigFile.ps1
  scripts/automation/Radius/Functions/Public/Get-JCRGlobalVars.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateUserCerts.ps1
  scripts/automation/Radius/JumpCloud.Radius.psd1
  scripts/automation/Radius/JumpCloud.Radius.psm1
  scripts/automation/Radius/Tests/ModuleValidation/ModuleVersion.Tests.ps1
  scripts/automation/Radius/Tests/Public/Get-JCRGlobalVars.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-GenerateRootCert.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-GenerateUserCerts.Tests.ps1
  scripts/automation/Radius/Tests/SetupRadiusOrg.ps1
Due: RadiusDistributeCertModified

Create LICENSE
  LICENSE
Due: none

Update Update-JCDeviceFromCSV.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCDeviceFromCSV.Tests.ps1
Due: PowerShellModified

dates
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

nuget install
  .github/workflows/release-workflow.yml
Due: none

Revert "Jumpcloud module 2.18"
  PowerShell/JumpCloud Module/Docs/Get-JCSystem.md
  PowerShell/JumpCloud Module/Docs/Get-JCUserGroupMember.md
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/New-JCPolicy.md
  PowerShell/JumpCloud Module/Docs/Set-JCPolicy.md
  PowerShell/JumpCloud Module/Docs/Set-JCSystem.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Private/NestedFunctions/Convert-JCUserToID.ps1
  PowerShell/JumpCloud Module/Private/Policies/Get-JCPolicyTemplateConfigField.ps1
  PowerShell/JumpCloud Module/Private/Policies/New-UriListItem.ps1
  PowerShell/JumpCloud Module/Private/Policies/Set-JCPolicyConfigField.ps1
  PowerShell/JumpCloud Module/Private/Policies/Show-JCPolicyValues.ps1
  PowerShell/JumpCloud Module/Public/Groups/UserGroups/Get-JCUserGroupMember.ps1
  PowerShell/JumpCloud Module/Public/Policies/New-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Systems/Get-JCSystem.ps1
  PowerShell/JumpCloud Module/Public/Systems/Set-JCSystem.ps1
  PowerShell/JumpCloud Module/Public/Users/New-JCUser.ps1
  PowerShell/JumpCloud Module/Public/Users/Set-JCUser.ps1
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/New-JCDeviceUpdateTemplate.ps1
  PowerShell/JumpCloud Module/Tests/ModuleValidation/ReturnProperties.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Private/NestedFunctions/Convert-JCUserToID.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Private/Policies/New-UriList.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/New-JCPolicy.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Systems/Set-JCSystem.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCDeviceFromCSV.Tests.ps1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Merge pull request #668 from TheJumpCloud/JumpCloudModule_2.18
  PowerShell/JumpCloud Module/Docs/Get-JCSystem.md
  PowerShell/JumpCloud Module/Docs/Get-JCUserGroupMember.md
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/New-JCPolicy.md
  PowerShell/JumpCloud Module/Docs/Set-JCPolicy.md
  PowerShell/JumpCloud Module/Docs/Set-JCSystem.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Private/NestedFunctions/Convert-JCUserToID.ps1
  PowerShell/JumpCloud Module/Private/Policies/Get-JCPolicyTemplateConfigField.ps1
  PowerShell/JumpCloud Module/Private/Policies/New-UriListItem.ps1
  PowerShell/JumpCloud Module/Private/Policies/Set-JCPolicyConfigField.ps1
  PowerShell/JumpCloud Module/Private/Policies/Show-JCPolicyValues.ps1
  PowerShell/JumpCloud Module/Public/Groups/UserGroups/Get-JCUserGroupMember.ps1
  PowerShell/JumpCloud Module/Public/Policies/New-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Systems/Get-JCSystem.ps1
  PowerShell/JumpCloud Module/Public/Systems/Set-JCSystem.ps1
  PowerShell/JumpCloud Module/Public/Users/New-JCUser.ps1
  PowerShell/JumpCloud Module/Public/Users/Set-JCUser.ps1
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/New-JCDeviceUpdateTemplate.ps1
  PowerShell/JumpCloud Module/Tests/ModuleValidation/ReturnProperties.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Private/NestedFunctions/Convert-JCUserToID.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Private/Policies/New-UriList.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/New-JCPolicy.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Systems/Set-JCSystem.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCDeviceFromCSV.Tests.ps1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

test nuget
  .github/workflows/powershell-module-ci.yml
Due: none

Path conditions:
  PowerShellModified: any of: PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).*
  CommandsGalleryModified: any of: PowerShell\/(JumpCloud\sCommands\sGallery).*
  RadiusDistributeCertModified: any of: scripts\/automation\/Radius.*
