Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified, RadiusDistributeCertModified

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3
workflows:
  version: 2
  check-updated-files:
    jobs:
      - path-filtering/filter:
          mapping: |
            PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).* PowerShellModified true
            PowerShell\/(JumpCloud\sCommands\sGallery).* CommandsGalleryModified true
            scripts\/automation\/Radius.* RadiusDistributeCertModified true
          base-revision: master
          config-path: .circleci/workflows.yml

update
  .github/workflows/powershell-module-ci.yml
Due: none

import
  .github/workflows/powershell-module-ci.yml
Due: none

validation
  .github/workflows/powershell-module-ci.yml
Due: none

validate
  .github/workflows/powershell-module-ci.yml
Due: none

remove cache
  .github/workflows/powershell-module-ci.yml
Due: none

cache
  .github/workflows/powershell-module-ci.yml
Due: none

nuspec
  .github/workflows/powershell-module-ci.yml
Due: none

path
  .github/workflows/powershell-module-ci.yml
Due: none

validation module
  .github/workflows/powershell-module-ci.yml
Due: none

test deploy path
  .github/workflows/powershell-module-ci.yml
Due: none

nuspec
  .github/workflows/powershell-module-ci.yml
  .github/workflows/release-workflow.yml
Due: none

nupkg path
  .github/workflows/powershell-module-ci.yml
Due: none

pack
  .github/workflows/powershell-module-ci.yml
Due: none

validate artifact pack
  .github/workflows/powershell-module-ci.yml
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/Tests/Private/Policies/New-UriListItem.Tests.ps1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

workflows update
  .github/workflows/powershell-module-ci.yml
  .github/workflows/release-workflow.yml
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Added some enhancements to PWM scripts
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

Update connect key check
  scripts/macos/install_agent_and_serviceaccount.sh
Due: none

update install script to support new connect key format
  scripts/macos/install_agent_and_serviceaccount.sh
Due: none

Removed unnecessary code
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

Added conditional
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

Update Windows - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install JumpCloud Password Manager App.md
Due: CommandsGalleryModified

Update Mac - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install JumpCloud Password Manager App.md
Due: CommandsGalleryModified

update commands.json
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

Update log_collection.ps1
  scripts/windows/log_collection.ps1
Due: none

path fix
  PowerShell/Deploy/BuildNuspecFromPsd1.ps1
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

module date
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

SUP-1521 Win Log Script Fixes
  scripts/windows/log_collection.ps1
Due: none

Added Shortcut creation on windows for silent installation
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

Update Generate-UserCert.ps1
  scripts/automation/Radius/Functions/Private/Generate-UserCert.ps1
Due: RadiusDistributeCertModified

Update Distribute-UserCerts.ps1
  scripts/automation/Radius/Functions/Public/Distribute-UserCerts.ps1
Due: RadiusDistributeCertModified

Update Generate-UserCerts.ps1
  scripts/automation/Radius/Functions/Public/Generate-UserCerts.ps1
Due: RadiusDistributeCertModified

Update Monitor-CertDeployment.ps1
  scripts/automation/Radius/Functions/Public/Monitor-CertDeployment.ps1
Due: RadiusDistributeCertModified

Update Start-RadiusDeployment.ps1
  scripts/automation/Radius/Start-RadiusDeployment.ps1
Due: RadiusDistributeCertModified

update remove windowsMDM script
  scripts/windows/remove_windowsMDM.ps1
Due: none

cleanup
  scripts/windows/remove_windowsMDM.ps1
Due: none
