Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified, RadiusDistributeCertModified

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3
workflows:
  version: 2
  check-updated-files:
    jobs:
      - path-filtering/filter:
          mapping: |
            PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).* PowerShellModified true
            PowerShell\/(JumpCloud\sCommands\sGallery).* CommandsGalleryModified true
            scripts\/automation\/Radius.* RadiusDistributeCertModified true
          base-revision: master
          config-path: .circleci/workflows.yml

Add Security policy export and policyconf file
  scripts/windows/log_collection.ps1
Due: none

Update scripts/windows/log_collection.ps1
  scripts/windows/log_collection.ps1
Due: none

require pwsh 7
  scripts/automation/assign_primary_user.ps1
Due: none

remove hardcoded paths
  scripts/windows/InstallWindowsAgent.ps1
Due: none

add provider.json file to the windows log collection script
  scripts/windows/log_collection.ps1
Due: none

update windows log collection to include all credential provider logs
  scripts/windows/log_collection.ps1
Due: none

Explicitly declare permissions in workflows
  .github/workflows/commands-gallery-ci.yml
  .github/workflows/powershell-module-ci.yml
  .github/workflows/radius-module-ci.yml
  .github/workflows/radius-release-workflow.yml
  .github/workflows/release-workflow.yml
Due: none

Add dependency logs
  scripts/windows/log_collection.ps1
Due: none

Added Dependency logs
  scripts/windows/log_collection.ps1
Due: none

Remove "C:" drive paths replace with Cim-Instance.SystemDrive
  scripts/api/system_context/windows_examples/system_delete_self.ps1
  scripts/api/system_context/windows_examples/system_get_command_associations.ps1
  scripts/api/system_context/windows_examples/system_get_self.ps1
  scripts/api/system_context/windows_examples/system_get_systemGroup.ps1
  scripts/api/system_context/windows_examples/system_get_user_associations.ps1
  scripts/api/system_context/windows_examples/system_post_systemgroup_add.ps1
  scripts/api/system_context/windows_examples/system_post_systemgroup_remove.ps1
  scripts/api/system_context/windows_examples/system_put_self.ps1
  scripts/windows/InstallWindowsAgent.ps1
Due: none

Update scripts/windows/InstallWindowsAgent.ps1
  scripts/windows/InstallWindowsAgent.ps1
Due: none

Install Agent changes for PWSH Core
  scripts/windows/InstallWindowsAgent.ps1
Due: none

lint
  PowerShell/JumpCloud Module/Public/Authentication/Connect-JCOnline.ps1
Due: PowerShellModified

Add EU region support to Connect-JCOnline
  PowerShell/JumpCloud Module/Public/Authentication/Connect-JCOnline.ps1
Due: PowerShellModified

lint
  PowerShell/JumpCloud Module/Private/settings/New-JCSettingsFile.ps1
Due: PowerShellModified

PowerShell code formatting settings
  .vscode/settings.json
Due: none

Update settings.json
  .vscode/settings.json
Due: none

fix cspell
  .vscode/settings.json
Due: none

update log collection scripts to add jcagent-proxy.conf for mac, windows, linux
  scripts/linux/log_collection.sh
  scripts/macos/log_collection.sh
  scripts/windows/log_collection.ps1
Due: none

updated commands.json for script templates
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

Add JCEnvironment location to settings file
  PowerShell/JumpCloud Module/Private/settings/New-JCSettingsFile.ps1
Due: PowerShellModified

Update region handling in Connect-JCOnline
  PowerShell/JumpCloud Module/Public/Authentication/Connect-JCOnline.ps1
Due: PowerShellModified

Add EU endpoint support to Get-JCReport
  PowerShell/JumpCloud Module/Public/Reports/Get-JCReport.ps1
Due: PowerShellModified

Expand settings file modification test
  PowerShell/JumpCloud Module/Tests/Public/settings/Set-JCSettingsFile.Tests.ps1
Due: PowerShellModified

Update JCEnvironment location check in Connect-JCOnline
  PowerShell/JumpCloud Module/Public/Authentication/Connect-JCOnline.ps1
Due: PowerShellModified

change not null or empty
  PowerShell/JumpCloud Module/Public/Authentication/Connect-JCOnline.ps1
Due: PowerShellModified

clone + psdefaultparam
  PowerShell/JumpCloud Module/JumpCloud.psm1
  PowerShell/JumpCloud Module/Public/Authentication/Connect-JCOnline.ps1
Due: PowerShellModified

Updated script version.
  scripts/macos/log_collection.sh
Due: none

Set JCEnvironment Location to static 'STANDARD'
  PowerShell/JumpCloud Module/Private/settings/New-JCSettingsFile.ps1
Due: PowerShellModified

Use JCEnvironment env variable in config file
  PowerShell/JumpCloud Module/Private/settings/New-JCSettingsFile.ps1
Due: PowerShellModified

set env variable for JCEnvironment
  PowerShell/JumpCloud Module/Public/settings/Set-JCSettingsFile.ps1
Due: PowerShellModified

Use global scope for PSDefaultParameterValues
  PowerShell/JumpCloud Module/Public/Authentication/Connect-JCOnline.ps1
Due: PowerShellModified

Update JCEnvironment variable assignment logic
  PowerShell/JumpCloud Module/Public/Authentication/Connect-JCOnline.ps1
Due: PowerShellModified

Update Set-JCSettingsFile.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/settings/Set-JCSettingsFile.Tests.ps1
Due: PowerShellModified

Add EU API key and org ID to CI workflow
  .github/workflows/powershell-module-ci.yml
Due: none

Add EU org connection tests
  PowerShell/JumpCloud Module/Tests/Public/Authentication/Connect-JCOnline.Tests.ps1
Due: PowerShellModified

use $global:JCUrlBasePath
  PowerShell/JumpCloud Module/Private/NestedFunctions/Invoke-JCApi.ps1
  PowerShell/JumpCloud Module/Private/Policies/Get-JCPolicyTemplateConfigField.ps1
  PowerShell/JumpCloud Module/Public/Administrators/Get-JCAdmin.ps1
  PowerShell/JumpCloud Module/Public/Authentication/Set-JCOrganization.ps1
  PowerShell/JumpCloud Module/Public/Policies/New-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Policies/PolicyGroupTemplates/Get-JCPolicyGroupTemplateMember.ps1
  PowerShell/JumpCloud Module/Public/Policies/PolicyGroups/Remove-JCPolicyGroup.ps1
  PowerShell/JumpCloud Module/Public/Policies/PolicyGroups/Set-JCPolicyGroup.ps1
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Import-JCMSPFromCSV.ps1
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/New-JCMSPImportTemplate.ps1
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Update-JCMSPFromCSV.ps1
Due: PowerShellModified

needs 0.1.1 sdks
  .github/workflows/powershell-module-ci.yml
Due: none

Refactor and expand JCEnvironment tests
  PowerShell/JumpCloud Module/Tests/Public/settings/Set-JCSettingsFile.Tests.ps1
Due: PowerShellModified
