Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified, RadiusDistributeCertModified

private function userobject conversion
  PowerShell/JumpCloud Module/Private/NestedFunctions/Convert-JCUserToID.ps1
Due: PowerShellModified

use privatefunction
  PowerShell/JumpCloud Module/Public/Systems/Set-JCSystem.ps1
Due: PowerShellModified

use Convert-JCUserToID
  PowerShell/JumpCloud Module/Public/Users/New-JCUser.ps1
  PowerShell/JumpCloud Module/Public/Users/Set-JCUser.ps1
Due: PowerShellModified

cleanup cli
  scripts/automation/Radius/Functions/Private/Menus/Get-ResponsePrompt.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateRootCert.ps1
  scripts/automation/Radius/Tests/Public/Start-GenerateRootCert.Tests.ps1
Due: RadiusDistributeCertModified

fix test prompts
  scripts/automation/Radius/Functions/Public/Start-GenerateRootCert.ps1
  scripts/automation/Radius/Tests/Public/Get-JCRGlobalVars.Tests.ps1
  scripts/automation/Radius/Tests/Public/Start-DeployUserCerts.Tests.ps1
Due: RadiusDistributeCertModified

test
  scripts/automation/Radius/Tests/Public/Start-GenerateUserCerts.Tests.ps1
Due: RadiusDistributeCertModified

Cert backups folder
  scripts/automation/Radius/JumpCloud-Radius.psm1
Due: RadiusDistributeCertModified

test
  scripts/automation/Radius/Functions/Public/Start-GenerateRootCert.ps1
  scripts/automation/Radius/Tests/Public/Start-GenerateRootCert.Tests.ps1
Due: RadiusDistributeCertModified

cert backups
  scripts/automation/Radius/Tests/Public/Start-GenerateRootCert.Tests.ps1
Due: RadiusDistributeCertModified

remove-item
  scripts/automation/Radius/Tests/Public/Start-GenerateRootCert.Tests.ps1
Due: RadiusDistributeCertModified

messaging
  scripts/automation/Radius/Functions/Public/Start-GenerateRootCert.ps1
Due: RadiusDistributeCertModified

terminating error
  PowerShell/JumpCloud Module/Private/NestedFunctions/Convert-JCUserToID.ps1
Due: PowerShellModified

spelling
  PowerShell/JumpCloud Module/Private/NestedFunctions/Convert-JCUserToID.ps1
Due: PowerShellModified

Tests
  PowerShell/JumpCloud Module/Tests/Public/Systems/Set-JCSystem.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCDeviceFromCSV.Tests.ps1
Due: PowerShellModified

aftereach
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCDeviceFromCSV.Tests.ps1
Due: PowerShellModified

allow null value for manager
  PowerShell/JumpCloud Module/Public/Users/Set-JCUser.ps1
Due: PowerShellModified

fix null check
  PowerShell/JumpCloud Module/Public/Users/Set-JCUser.ps1
Due: PowerShellModified

menu
  scripts/automation/Radius/Functions/Private/Menus/Show-RootCAGenerationMenu.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateRootCert.ps1
Due: RadiusDistributeCertModified

Adding changes to collect rolled logs and EventViewer exports
  scripts/windows/log_collection.ps1
Due: none

fix match
  PowerShell/JumpCloud Module/Tests/Public/Systems/Set-JCSystem.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCDeviceFromCSV.Tests.ps1
Due: PowerShellModified

Build-Module
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/Set-JCSystem.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Tests/Private/NestedFunctions/Convert-JCUserToID.Tests.ps1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

spacing on menu options
  scripts/automation/Radius/Functions/Private/Menus/Show-RootCAGenerationMenu.ps1
Due: RadiusDistributeCertModified

fix return properties
  PowerShell/JumpCloud Module/Public/Systems/Get-JCSystem.ps1
Due: PowerShellModified

primarysystemuser.id fix
  PowerShell/JumpCloud Module/Public/Systems/Set-JCSystem.ps1
Due: PowerShellModified

fix tests for primarysystemuser
  PowerShell/JumpCloud Module/Tests/Public/Systems/Set-JCSystem.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCDeviceFromCSV.Tests.ps1
Due: PowerShellModified

build-module
  PowerShell/JumpCloud Module/Docs/Get-JCSystem.md
  PowerShell/JumpCloud Module/Docs/Set-JCSystem.md
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

fix tests
  PowerShell/JumpCloud Module/Tests/Public/Systems/Set-JCSystem.Tests.ps1
Due: PowerShellModified

primarySystemUser to null test
  PowerShell/JumpCloud Module/Tests/Public/Systems/Set-JCSystem.Tests.ps1
Due: PowerShellModified

changelog
  scripts/automation/Radius/Changelog.md
Due: RadiusDistributeCertModified

dont allow pipeline for primarySystemUser
  PowerShell/JumpCloud Module/Docs/Set-JCSystem.md
  PowerShell/JumpCloud Module/Public/Systems/Set-JCSystem.ps1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

update invalid tests
  PowerShell/JumpCloud Module/Tests/Public/Systems/Set-JCSystem.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCDeviceFromCSV.Tests.ps1
Due: PowerShellModified

wiki for cert renewal
  scripts/automation/Radius/readme.md
Due: RadiusDistributeCertModified

spacing / auto-formatting
  scripts/windows/log_collection.ps1
Due: none

Tests for radius membership
  scripts/automation/Radius/Tests/Public/Get-JCRGlobalVars.Tests.ps1
Due: RadiusDistributeCertModified

user variable to test
  scripts/automation/Radius/Tests/Public/Get-JCRGlobalVars.Tests.ps1
Due: RadiusDistributeCertModified

remove duplicate code
  scripts/automation/Radius/Tests/Public/Start-GenerateRootCert.Tests.ps1
Due: RadiusDistributeCertModified

only return certs for the selected cert type and filter by users in the radius group
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-CertInfo.ps1
Due: RadiusDistributeCertModified

fix for returning users with an index of 0
  scripts/automation/Radius/Functions/Private/HashFunctions/Test-UserFromHash.ps1
Due: RadiusDistributeCertModified

validate user cert tests
  scripts/automation/Radius/Tests/Public/Start-GenerateUserCerts.Tests.ps1
Due: RadiusDistributeCertModified

Update Update-JCDeviceFromCSV.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCDeviceFromCSV.Tests.ps1
Due: PowerShellModified

Path conditions:
  PowerShellModified: any of: PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).*
  CommandsGalleryModified: any of: PowerShell\/(JumpCloud\sCommands\sGallery).*
  RadiusDistributeCertModified: any of: scripts\/automation\/Radius.*
