Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1
workflows:
  version: 2
  check-updated-files:
    jobs:
    - path-filtering/filter:
        mapping: |
          PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).* PowerShellModified true
        base-revision: master
        config-path: .circleci/workflows.yml
    - path-filtering/filter:
        mapping: |
          PowerShell\/(JumpCloud\sCommands\sGallery).* CommandsGalleryModified true
        base-revision: master
        config-path: .circleci/workflows.yml

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/JumpCloud.nuspec
Due: PowerShellModified

fixed failing test [skip ci]
  PowerShell/JumpCloud Module/Tests/Public/Policies/Get-JCPolicy.tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.tests.ps1
Due: PowerShellModified

dispatch cleanup [skip ci]
  PowerShell/JumpCloud Module/Private/Policies/Dispatch-JCPolicyConfigField.ps1
Due: PowerShellModified

mapping cleanup [skip ci]
  PowerShell/JumpCloud Module/Private/Policies/Get-JCPolicyTemplateConfigField.ps1
  PowerShell/JumpCloud Module/Private/Policies/Set-JCPolicyConfigField.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

Pipeline Cleanup
  PowerShell/JumpCloud Module/Public/Policies/New-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.tests.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Set-JCPolicy.md
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

cleanup from comments
  PowerShell/JumpCloud Module/Private/Policies/Dispatch-JCPolicyConfigField.ps1
  PowerShell/JumpCloud Module/Private/Policies/Get-JCPolicyConfigField.ps1
  PowerShell/JumpCloud Module/Private/Policies/Get-JCPolicyTemplateConfigField.ps1
  PowerShell/JumpCloud Module/Private/Policies/New-CustomRegistryTableRow.ps1
  PowerShell/JumpCloud Module/Private/Policies/Set-JCPolicyConfigField.ps1
  PowerShell/JumpCloud Module/Public/Policies/New-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
  PowerShell/JumpCloud Module/Tests/Private/Policies/Dispatch-JCPolicyConfigField.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Private/Policies/Get-JCPolicyConfigField.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Private/Policies/Get-JCPolicyConfigMapping.Tests.ps1
Due: PowerShellModified

manual test cases
  PowerShell/JumpCloud Module/Private/Policies/Get-JCPolicyConfigMapping.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/New-JCPolicy.tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.tests.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
Due: PowerShellModified

missing Out Nulls
  PowerShell/JumpCloud Module/Public/Policies/New-JCPolicy.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

Sa 3140 set new policy functions (#483)
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/New-JCPolicy.md
  PowerShell/JumpCloud Module/Docs/Set-JCPolicy.md
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/JumpCloud.psm1
  PowerShell/JumpCloud Module/Private/Policies/Get-JCPolicyConfigMapping.ps1
  PowerShell/JumpCloud Module/Private/Policies/Get-JCPolicyTemplateConfigField.ps1
  PowerShell/JumpCloud Module/Private/Policies/New-CustomRegistryTableRow.ps1
  PowerShell/JumpCloud Module/Private/Policies/Set-JCPolicyConfigField.ps1
  PowerShell/JumpCloud Module/Private/Policies/Show-JCPolicyValues.ps1
  PowerShell/JumpCloud Module/Public/Authentication/Connect-JCOnline.ps1
  PowerShell/JumpCloud Module/Public/Policies/Get-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Policies/New-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
  PowerShell/JumpCloud Module/Tests/Private/Policies/Get-JCPolicyConfigMapping.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Private/Policies/Get-JCPolicyTemplateConfigField.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Private/Policies/New-CustomRegistryTableRow.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Private/Policies/Set-JCPolicyConfigField.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Private/Policies/Show-JCPolicyValues.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Get-JCPolicy.tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/New-JCPolicy.tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.tests.ps1
  PowerShell/JumpCloud Module/Tests/SetupOrg.ps1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

localUserAccount field check
  scripts/automation/Radius/Functions/Private/Get-WebJCUser.ps1
Due: none

changelog + version
  scripts/automation/Radius/Changelog.md
  scripts/automation/Radius/Config.ps1
Due: none

Update scripts/automation/Radius/Functions/Private/Get-WebJCUser.ps1
  scripts/automation/Radius/Functions/Private/Get-WebJCUser.ps1
Due: none

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

publish on merge
  .circleci/workflows.yml
Due: none

changelog date
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

changlog date [skip ci]
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Sa 3140 set new policy functions (#483) (#485)
  .circleci/workflows.yml
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/New-JCPolicy.md
  PowerShell/JumpCloud Module/Docs/Set-JCPolicy.md
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/JumpCloud.psm1
  PowerShell/JumpCloud Module/Private/Policies/Get-JCPolicyConfigMapping.ps1
  PowerShell/JumpCloud Module/Private/Policies/Get-JCPolicyTemplateConfigField.ps1
  PowerShell/JumpCloud Module/Private/Policies/New-CustomRegistryTableRow.ps1
  PowerShell/JumpCloud Module/Private/Policies/Set-JCPolicyConfigField.ps1
  PowerShell/JumpCloud Module/Private/Policies/Show-JCPolicyValues.ps1
  PowerShell/JumpCloud Module/Public/Authentication/Connect-JCOnline.ps1
  PowerShell/JumpCloud Module/Public/Policies/Get-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Policies/New-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Policies/Set-JCPolicy.ps1
  PowerShell/JumpCloud Module/Tests/Private/Policies/Get-JCPolicyConfigMapping.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Private/Policies/Get-JCPolicyTemplateConfigField.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Private/Policies/New-CustomRegistryTableRow.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Private/Policies/Set-JCPolicyConfigField.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Private/Policies/Show-JCPolicyValues.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Get-JCPolicy.tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/New-JCPolicy.tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Set-JCPolicy.tests.ps1
  PowerShell/JumpCloud Module/Tests/SetupOrg.ps1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  .circleci/workflows.yml
  PowerShell/JumpCloud Module/JumpCloud.nuspec
Due: PowerShellModified

Replace hardcode certpass
  scripts/automation/Radius/Functions/Public/Distribute-UserCerts.ps1
Due: none

update changelog + config version
  scripts/automation/Radius/Changelog.md
  scripts/automation/Radius/Config.ps1
Due: none

clarification on user cert password purpose
  scripts/automation/Radius/Config.ps1
Due: none

update timeout
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install JumpCloud Password Manager App.md
Due: CommandsGalleryModified

Create Confirm-JCBulkUserData.ps1
  PowerShell/JumpCloud Module/Private/BulkUser/Confirm-JCBulkUserData.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Tests/Private/BulkUser/Confirm-JCBulkUserData.Tests.ps1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

Create Remove-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Policies/Remove-JCPolicy.ps1
Due: PowerShellModified

default timeout password manager
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install JumpCloud Password Manager App.md
Due: CommandsGalleryModified

Updating Commands.json;[skip ci]
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

update timeout (#487)
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install JumpCloud Password Manager App.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

Create Remove-JCPolicy.tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/Remove-JCPolicy.tests.ps1
Due: PowerShellModified

Update Remove-JCPolicy.ps1
  PowerShell/JumpCloud Module/Public/Policies/Remove-JCPolicy.ps1
Due: PowerShellModified
