Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified, RadiusDistributeCertModified

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3
workflows:
  version: 2
  check-updated-files:
    jobs:
      - path-filtering/filter:
          mapping: |
            PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).* PowerShellModified true
            PowerShell\/(JumpCloud\sCommands\sGallery).* CommandsGalleryModified true
            scripts\/automation\/Radius.* RadiusDistributeCertModified true
          base-revision: master
          config-path: .circleci/workflows.yml

module date
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

help version
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
Due: PowerShellModified

return delegatedAuthority
  PowerShell/JumpCloud Module/Public/Users/Get-JCUser.ps1
Due: PowerShellModified

Get-JCUser updated documentation
  PowerShell/JumpCloud Module/Docs/Get-JCUser.md
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

Remove Skip
  PowerShell/JumpCloud Module/Tests/Public/Systems/Get-JCSystemInsights.Tests.ps1
Due: PowerShellModified

changelog/manifest
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

add templatingRequired to returnProperties
  PowerShell/JumpCloud Module/Public/Commands/Get-JCCommand.ps1
Due: PowerShellModified

docs
  PowerShell/JumpCloud Module/Docs/Get-JCCommand.md
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

fix results and unskip tests
  PowerShell/JumpCloud Module/Public/Policies/PolicyGroupTemplates/Get-JCConfiguredTemplatePolicy.ps1
  PowerShell/JumpCloud Module/Tests/Public/Policies/PolicyGroupTemplates/Get-JCConfiguredTemplatePolicy.Tests.ps1
Due: PowerShellModified

docs
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

refactor remove_windowsMDM
  scripts/windows/remove_windowsMDM.ps1
Due: none

mmpcEnrollmentFlag check
  scripts/windows/remove_windowsMDM.ps1
Due: none

remove basepath check - this is done early in function
  scripts/windows/remove_windowsMDM.ps1
Due: none

move path logging out of function
  scripts/windows/remove_windowsMDM.ps1
Due: none

rename Get-WindowsMDMProvider
  scripts/windows/remove_windowsMDM.ps1
Due: none

if error occurred - end block return
  scripts/windows/remove_windowsMDM.ps1
Due: none

Update remove_windowsMDM.ps1
  scripts/windows/remove_windowsMDM.ps1
Due: none

can't use exit in function - change to return
  scripts/windows/remove_windowsMDM.ps1
Due: none

move mmpcEnrollment check to beginning of function
  scripts/windows/remove_windowsMDM.ps1
Due: none

change to throw instead of return to indicate error
  scripts/windows/remove_windowsMDM.ps1
Due: none

Change warn to warning
  scripts/windows/remove_windowsMDM.ps1
Due: none

change to warning
  scripts/windows/remove_windowsMDM.ps1
Due: none

EU support
  scripts/automation/Radius/Functions/Private/CertDeployment/Deploy-UserCertificate.ps1
  scripts/automation/Radius/Functions/Private/Commands/Clear-JCQueuedCommand.ps1
  scripts/automation/Radius/Functions/Private/Commands/Get-JCQueuedCommands.ps1
  scripts/automation/Radius/Functions/Private/Commands/Get-QueuedCommandByUser.ps1
  scripts/automation/Radius/Functions/Private/Commands/New-JCCommandFile.ps1
  scripts/automation/Radius/Functions/Private/Reports/Get-LatestUserToDeviceReport.ps1
  scripts/automation/Radius/readme.md
Due: RadiusDistributeCertModified

2.1.8
  scripts/automation/Radius/JumpCloud.Radius.nuspec
  scripts/automation/Radius/JumpCloud.Radius.psd1
  scripts/automation/Radius/docs/JumpCloud.Radius.md
  scripts/automation/Radius/docs/Set-JCRConfig.md
Due: RadiusDistributeCertModified

changelog
  scripts/automation/Radius/Changelog.md
Due: RadiusDistributeCertModified

connect-JCOnline validation
  scripts/automation/Radius/Functions/Public/Get-JCRCertReport.ps1
  scripts/automation/Radius/Functions/Public/Get-JCRGlobalVars.ps1
  scripts/automation/Radius/Functions/Public/Start-DeployUserCerts.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateRootCert.ps1
  scripts/automation/Radius/Functions/Public/Start-GenerateUserCerts.ps1
  scripts/automation/Radius/Functions/Public/Start-MonitorCertDeployment.ps1
  scripts/automation/Radius/Functions/Public/Start-RadiusDeployment.ps1
Due: RadiusDistributeCertModified

Updated Get-JCGroup to either call /api/v2/systemgroups , /api/v2/usergroups , /api/v2/policyGroups depending on the type passed in
  PowerShell/JumpCloud Module/Private/HashFunctions/Get-DynamicHash.ps1
  PowerShell/JumpCloud Module/Public/Groups/Get-JCGroup.ps1
Due: PowerShellModified

Test Updated for Get-JCGroup
  PowerShell/JumpCloud Module/Tests/Public/Groups/Get-JCGroup.Tests.ps1
Due: PowerShellModified

Added line to capture SoftwareUpdateDeviceID to aid with macOS patching troubleshooting
  scripts/macos/log_collection.sh
Due: none

Generated New functions - Get-JcSdkSystemGroup, Get-JcSdkUserGroup, Get-JcSdkPolicyGroup, New-JcSdkPolicyGroup, Remove-JcSdkPolicyGroup, Get-JcSdkPolicyGroupMember, Set-JcSdkPolicyGroupMember
  PowerShell/Deploy/SdkSync/jcapiToSupportSync.ps1
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEvent.ps1
  PowerShell/JumpCloud Module/Public/DirectoryInsights/Get-JCEventCount.ps1
  PowerShell/JumpCloud Module/Public/Groups/PolicyGroups/Get-JCPolicyGroup.ps1
  PowerShell/JumpCloud Module/Public/Groups/PolicyGroups/Get-JCPolicyGroupMember.ps1
  PowerShell/JumpCloud Module/Public/Groups/PolicyGroups/New-JCPolicyGroup.ps1
  PowerShell/JumpCloud Module/Public/Groups/PolicyGroups/Remove-JCPolicyGroup.ps1
  PowerShell/JumpCloud Module/Public/Groups/PolicyGroups/Set-JCPolicyGroupMember.ps1
  PowerShell/JumpCloud Module/Public/Groups/SystemGroups/Get-JCSystemGroup.ps1
  PowerShell/JumpCloud Module/Public/Groups/UserGroups/Get-JCUserGroup.ps1
Due: PowerShellModified

tests updated.
  PowerShell/Deploy/SdkSync/jcapiToSupportSync.ps1
  PowerShell/JumpCloud Module/Public/Groups/PolicyGroups/Set-JCPolicyGroupMember.ps1
  PowerShell/JumpCloud Module/Tests/Public/Groups/PolicyGroups/Get-JcPolicyGroup.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Groups/PolicyGroups/Get-JcPolicyGroupMember.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Groups/PolicyGroups/New-JcPolicyGroup.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Groups/PolicyGroups/Remove-JcPolicyGroup.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Groups/SystemGroups/Get-JcSystemGroup.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Groups/UserGroups/Get-JcUserGroup.Tests.ps1
Due: PowerShellModified

updated "Get-JcPolicyGroup.Tests"
  PowerShell/JumpCloud Module/Tests/Public/Groups/PolicyGroups/Get-JcPolicyGroup.Tests.ps1
Due: PowerShellModified

fixed "Duplicate SDK sync entry with mismatched casing"
  PowerShell/Deploy/SdkSync/jcapiToSupportSync.ps1
Due: PowerShellModified

fixed tests parameters
  PowerShell/JumpCloud Module/Tests/Public/Groups/SystemGroups/Get-JcSystemGroup.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Groups/UserGroups/Get-JcUserGroup.Tests.ps1
Due: PowerShellModified

tests fixed for Get-JcPolicyGroup
  PowerShell/JumpCloud Module/Tests/Public/Groups/PolicyGroups/Get-JcPolicyGroup.Tests.ps1
Due: PowerShellModified

tests fixed for New-JCUserGroup 1.0
  PowerShell/JumpCloud Module/Tests/Public/Groups/UserGroups/New-JCUserGroup.Tests.ps1
Due: PowerShellModified

changelog updated
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

changelog updated jumpcloud.psd1
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

test fixed - New-JCPolicyGroup
  PowerShell/JumpCloud Module/Tests/Public/Groups/PolicyGroups/Get-JcPolicyGroup.Tests.ps1
Due: PowerShellModified

fixes
  PowerShell/Deploy/SdkSync/jcapiToSupportSync.ps1
  PowerShell/JumpCloud Module/Tests/Public/Groups/PolicyGroups/Get-JcPolicyGroup.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Groups/PolicyGroups/Get-JcPolicyGroupMember.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Groups/PolicyGroups/Remove-JcPolicyGroup.Tests.ps1
Due: PowerShellModified
