Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified, RadiusDistributeCertModified

commands
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

1.0.6 multi ssid and non-exportable macos certs
  scripts/automation/Radius/Changelog.md
  scripts/automation/Radius/Config.ps1
  scripts/automation/Radius/Functions/Public/Distribute-UserCerts.ps1
Due: RadiusDistributeCertModified

Update scripts/automation/Radius/Changelog.md
  scripts/automation/Radius/Changelog.md
Due: RadiusDistributeCertModified

Codeowners File
  .github/CODEOWNERS
Due: none

Nuspec Workflow Test
  .github/workflows/powershell-module-ci.yml
  PowerShell/Deploy/BuildNuspecFromPsd1.ps1
  PowerShell/Deploy/Setup-Dependencies.ps1
Due: PowerShellModified

verbose get-config
  .github/workflows/powershell-module-ci.yml
  PowerShell/Deploy/Get-Config.ps1
Due: PowerShellModified

sparse-checkout
  .github/workflows/powershell-module-ci.yml
Due: none

source variable for psd1
  .github/workflows/powershell-module-ci.yml
  PowerShell/Deploy/BuildNuspecFromPsd1.ps1
Due: PowerShellModified

test clone
  .github/workflows/powershell-module-ci.yml
Due: none

fetch
  .github/workflows/powershell-module-ci.yml
Due: none

test path filter
  .github/workflows/powershell-module-ci.yml
Due: none

test
  .github/workflows/powershell-module-ci.yml
  PowerShell/JumpCloud Module/test.ps1
Due: PowerShellModified

no module edit change, check if action runs
  .github/workflows/powershell-module-ci.yml
Due: none

remove csv, test again for filtering
  PowerShell/JumpCloud Module/Tests/Csv_Files/commandDeployment/JCDeployment_2.csv
Due: PowerShellModified

paths
  .github/workflows/powershell-module-ci.yml
Due: none

test filter
  PowerShell/JumpCloud Module/Tests/Csv_Files/commandDeployment/JCDeployment_10.csv
Due: PowerShellModified

test filter again
  PowerShell/JumpCloud Module/test.ps1
Due: PowerShellModified

test diff on pr
  .github/workflows/powershell-module-ci.yml
Due: none

test
  .github/workflows/powershell-module-ci.yml
Due: none

test pr
  .github/workflows/powershell-module-ci.yml
Due: none

test edit pr
  PowerShell/JumpCloud Module/test.ps1
Due: PowerShellModified

test event
  .github/workflows/powershell-module-ci.yml
  PowerShell/JumpCloud Module/test.ps1
Due: PowerShellModified

module validation psd1 tests
  PowerShell/JumpCloud Module/Tests/ModuleValidation/moduleValidation.tests.ps1
Due: PowerShellModified

test for test files based on function name
  PowerShell/JumpCloud Module/Private/NestedFunctions/Get-FunctionReport.ps1
  PowerShell/JumpCloud Module/Tests/ModuleValidation/FunctionFiles.Tests.ps1
Due: PowerShellModified

Create build_setup_dependancies.yml
  .github/workflows/build_setup_dependancies.yml
Due: none

Sdk Import Tests
  PowerShell/Deploy/JumpCloud Module/Public/DirectoryInsights/Get-JCEvent.ps1
  PowerShell/Deploy/JumpCloud Module/Public/DirectoryInsights/Get-JCEventCount.ps1
  PowerShell/Deploy/SdkSync/jcapiToSupportSync.ps1
  PowerShell/JumpCloud Module/Tests/ModuleValidation/SDKImport.Tests.ps1
Due: PowerShellModified

psd1 changes besides date
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

date
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

module git diff tests + version
  PowerShell/JumpCloud Module/Tests/ModuleValidation/moduleValidation.tests.ps1
Due: PowerShellModified

remove duplication function test file tests
  PowerShell/JumpCloud Module/Tests/ModuleValidation/FunctionFiles.Tests.ps1
  PowerShell/JumpCloud Module/Tests/ModuleValidation/PesterFiles.Tests.ps1
  PowerShell/JumpCloud Module/Tests/ModuleValidation/SDKImport.Tests.ps1
Due: PowerShellModified

invoke module validation tests in workflow
  .github/workflows/powershell-module-ci.yml
  PowerShell/Deploy/Build-PesterTestFiles.ps1
  PowerShell/Deploy/BuildNuspecFromPsd1.ps1
  PowerShell/Deploy/Get-Config.ps1
  PowerShell/Deploy/SdkSync/jcapiToSupportSync.ps1
  PowerShell/Deploy/Tests/PSScriptAnalyzer.Tests.ps1
  PowerShell/Deploy/Tests/PSScriptInfo.Tests.ps1
  PowerShell/JumpCloud Module/Tests/InvokePester.ps1
Due: PowerShellModified

CI name
  .github/workflows/powershell-module-ci.yml
Due: none

import with function
  .github/workflows/powershell-module-ci.yml
  PowerShell/JumpCloud Module/Tests/InvokePester.ps1
Due: PowerShellModified

get-config path
  PowerShell/Deploy/Get-Config.ps1
Due: PowerShellModified

CI gitConfig
  PowerShell/Deploy/Get-Config.ps1
Due: PowerShellModified

"/support/"
  PowerShell/Deploy/Get-Config.ps1
Due: PowerShellModified

fullname tests
  PowerShell/Deploy/Get-Config.ps1
  PowerShell/JumpCloud Module/Tests/ModuleValidation/PesterFiles.Tests.ps1
Due: PowerShellModified

make use of git-config
  PowerShell/JumpCloud Module/Tests/ModuleValidation/PesterFiles.Tests.ps1
Due: PowerShellModified

rebuild using setup-dependancies.ps1 logic
  .github/workflows/build_setup_dependancies.yml
Due: none

Update build_setup_dependancies.yml
  .github/workflows/build_setup_dependancies.yml
Due: none

Path conditions:
  PowerShellModified: any of: PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).*
  CommandsGalleryModified: any of: PowerShell\/(JumpCloud\sCommands\sGallery).*
  RadiusDistributeCertModified: any of: scripts\/automation\/Radius.*
