Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified, RadiusDistributeCertModified

invariantCulture
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-CertInfo.ps1
Due: RadiusDistributeCertModified

remove hardcoded refs
  scripts/automation/Radius/Tests/Private/CertDeployment/Get-CertInfo.Tests.ps1
Due: RadiusDistributeCertModified

validate that the cert expiration info is not null in pt-BR culture
  scripts/automation/Radius/Tests/Public/Start-GenerateUserCerts.Tests.ps1
Due: RadiusDistributeCertModified

remove comments
  scripts/automation/Radius/Functions/Private/CertDeployment/Get-CertInfo.ps1
Due: RadiusDistributeCertModified

changelog and duplicated lines
  scripts/automation/Radius/Changelog.md
  scripts/automation/Radius/Functions/Private/Menus/Show-RootCAGenerationMenu.ps1
Due: RadiusDistributeCertModified

update linux log level scripts
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - Set Agent Log Level to Debug.md
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - Set Agent Log Level to Default.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

version
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - Set Agent Log Level to Debug.md
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - Set Agent Log Level to Default.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

specify that the at package needs to be installed
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - Set Agent Log Level to Debug.md
  PowerShell/JumpCloud Commands Gallery/Linux Commands/Linux - Set Agent Log Level to Default.md
  PowerShell/JumpCloud Commands Gallery/commands.json
Due: CommandsGalleryModified

bug fix for update-jcdevicefromcsv
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Public/Utilities/CSV_Import/Update-JCDeviceFromCSV.ps1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

test
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Tests/ModuleValidation/ReturnProperties.Tests.ps1
Due: PowerShellModified

command
  PowerShell/JumpCloud Module/Tests/ModuleValidation/ReturnProperties.Tests.ps1
Due: PowerShellModified

filesS3
  PowerShell/JumpCloud Module/Tests/ModuleValidation/ReturnProperties.Tests.ps1
Due: PowerShellModified

returnProps
  PowerShell/JumpCloud Module/Public/Commands/Get-JCCommand.ps1
  PowerShell/JumpCloud Module/Public/Systems/Get-JCSystem.ps1
  PowerShell/JumpCloud Module/Tests/ModuleValidation/ReturnProperties.Tests.ps1
Due: PowerShellModified

SUP-1533 Windows Log Collector Script Update
  scripts/windows/.vscode/settings.json
  scripts/windows/app.log
  scripts/windows/log_collection.ps1
Due: none

skip and helpfiles
  PowerShell/JumpCloud Module/Docs/Get-JCCommand.md
  PowerShell/JumpCloud Module/Docs/Get-JCSystem.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Tests/Public/Policies/PolicyGroupTemplates/Get-JCConfiguredTemplatePolicy.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Systems/Get-JCSystemInsights.Tests.ps1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

date
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

psd1
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

get-jcsystem return properties
  PowerShell/JumpCloud Module/Public/Systems/Get-JCSystem.ps1
Due: PowerShellModified

get-jcsystem help files
  PowerShell/JumpCloud Module/Docs/Get-JCSystem.md
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

admin mfa test
  PowerShell/JumpCloud Module/Tests/Public/Administrators/Get-JCAdmin.Tests.ps1
Due: PowerShellModified

"Added SSAP Log collection and improved error logging"
  scripts/windows/.vscode/settings.json
  scripts/windows/app.log
Due: none

dates
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

device csvtest
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCDeviceFromCSV.Tests.ps1
Due: PowerShellModified

csv test
  PowerShell/JumpCloud Module/Tests/Public/Utilities/CSV_Import/Update-JCDeviceFromCSV.Tests.ps1
Due: PowerShellModified

date
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

2.1.6 menu change
  scripts/automation/Radius/Changelog.md
  scripts/automation/Radius/Functions/Private/Menus/Show-CertDeploymentMenu.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-RadiusMainMenu.ps1
  scripts/automation/Radius/JumpCloud.Radius.nuspec
  scripts/automation/Radius/JumpCloud.Radius.psd1
  scripts/automation/Radius/docs/JumpCloud.Radius.md
  scripts/automation/Radius/docs/Set-JCRConfig.md
Due: RadiusDistributeCertModified

readme changes
  scripts/automation/Radius/readme.md
Due: RadiusDistributeCertModified

use existing group
  scripts/automation/Radius/Tests/Public/Module/Update-JCRModule.Tests.ps1
Due: RadiusDistributeCertModified

Revert "use existing group"
  scripts/automation/Radius/Tests/Public/Module/Update-JCRModule.Tests.ps1
Due: RadiusDistributeCertModified

test skipped update module tests
  scripts/automation/Radius/Tests/Public/Module/Update-JCRModule.Tests.ps1
Due: RadiusDistributeCertModified

run module update tests separate
  .github/workflows/radius-module-ci.yml
Due: none

run the module tests
  scripts/automation/Radius/Tests/Public/Module/Update-JCRModule.Tests.ps1
Due: RadiusDistributeCertModified

wrapped host changes
  scripts/automation/Radius/Functions/Private/Menus/Show-CertDeploymentMenu.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-DistributionMenu.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-GenerationMenu.ps1
  scripts/automation/Radius/Functions/Private/Menus/Show-RootCAGenerationMenu.ps1
  scripts/automation/Radius/Functions/Private/Menus/Write-WrappedHost.ps1
Due: RadiusDistributeCertModified

update primary user for Get-JCSystem
  PowerShell/JumpCloud Module/Docs/Get-JCSystem.md
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/Public/Systems/Get-JCSystem.ps1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
  PowerShell/ModuleChangelog.md
Due: PowerShellModified

ignore
  PowerShell/JumpCloud Module/Tests/ModuleValidation/ReturnProperties.Tests.ps1
Due: PowerShellModified

system return props
  PowerShell/JumpCloud Module/Docs/Get-JCSystem.md
  PowerShell/JumpCloud Module/Public/Systems/Get-JCSystem.ps1
  PowerShell/JumpCloud Module/Tests/ModuleValidation/ReturnProperties.Tests.ps1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

Update PowerShell/JumpCloud Module/Tests/Public/Systems/Get-JCSystemInsights.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/Systems/Get-JCSystemInsights.Tests.ps1
Due: PowerShellModified

removed force from Connect-JCOnline and replaced Get-JCSystemUser with New-JCReport per Joe W
  scripts/automation/assign_primary_user.ps1
Due: none

Modified temporary folder names to use a random UUID instead of timestamp to improve handling of simultaneous execution of multiple commands.
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Application Installs/Mac - Generic DMG Installer.md
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Application Installs/Mac - Install Chrome DMG.md
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Application Installs/Mac - Install FireFox DMG.md
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Application Installs/Mac - Install Microsoft Office.md
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Application Installs/Mac - Install Slack DMG.md
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install Sentinel One Agent.md
Due: CommandsGalleryModified

Path conditions:
  PowerShellModified: any of: PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).*
  CommandsGalleryModified: any of: PowerShell\/(JumpCloud\sCommands\sGallery).*
  RadiusDistributeCertModified: any of: scripts\/automation\/Radius.*
