Repository TheJumpCloud/support: changes, and which CircleCI parameters are due for each by the changed paths.
All: PowerShellModified, CommandsGalleryModified

no target for nuspec
  PowerShell/Deploy/BuildNuspecFromPsd1.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
Due: PowerShellModified

source
  PowerShell/Deploy/BuildNuspecFromPsd1.ps1
Due: PowerShellModified

fixup! fixup! Add Command to install RAS for EA on Mac
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install Remote Assist.md
Due: CommandsGalleryModified

write out nuspec
  .circleci/workflows.yml
Due: none

Get config after create/ jconline
  PowerShell/JumpCloud Module/Private/settings/Get-JCSettingsFile.ps1
  PowerShell/JumpCloud Module/Public/Authentication/Connect-JCOnline.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.nuspec
Due: PowerShellModified

update-jcmodule
  PowerShell/JumpCloud Module/Public/Authentication/Update-JCModule.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/JumpCloud.nuspec
Due: PowerShellModified

WIP
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install Remote Assist.md
Due: CommandsGalleryModified

Update Import-JCCommand
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Install Remote Assist.md
Due: CommandsGalleryModified

Fix codesign check
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install Remote Assist.md
Due: CommandsGalleryModified

Fix Import-JCCommand URL
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install Remote Assist.md
Due: CommandsGalleryModified

calculate parallel field
  PowerShell/JumpCloud Module/JumpCloud.psm1
  PowerShell/JumpCloud Module/Private/settings/New-JCSettingsFile.ps1
  PowerShell/JumpCloud Module/Public/Commands/CommandResults/Get-JCCommandResult.ps1
  PowerShell/JumpCloud Module/Public/Commands/CommandTargets/Get-JCCommandTarget.ps1
  PowerShell/JumpCloud Module/Public/Commands/Get-JCCommand.ps1
  PowerShell/JumpCloud Module/Public/Groups/Get-JCGroup.ps1
  PowerShell/JumpCloud Module/Public/Groups/SystemGroups/Get-JCSystemGroupMember.ps1
  PowerShell/JumpCloud Module/Public/Groups/UserGroups/Get-JCUserGroupMember.ps1
  PowerShell/JumpCloud Module/Public/SystemUsers/Get-JCSystemUser.ps1
  PowerShell/JumpCloud Module/Public/Systems/Get-JCSystem.ps1
  PowerShell/JumpCloud Module/Public/Users/Get-JCUser.ps1
  PowerShell/JumpCloud Module/Public/settings/Set-JCSettingsFile.ps1
  PowerShell/JumpCloud Module/Tests/Private/NestedFunctions/Get-JCResults.Tests.ps1
Due: PowerShellModified

update-jcmodule for testing module config
  PowerShell/Deploy/BuildNuspecFromPsd1.ps1
  PowerShell/JumpCloud Module/Public/Authentication/Update-JCModule.ps1
Due: PowerShellModified

copy/ write settings
  PowerShell/JumpCloud Module/Private/settings/Get-JCSettingsFile.ps1
  PowerShell/JumpCloud Module/Private/settings/New-JCSettingsFile.ps1
  PowerShell/JumpCloud Module/Private/settings/Update-JCSettingsFile.ps1
  PowerShell/JumpCloud Module/Public/Authentication/Update-JCModule.ps1
  PowerShell/JumpCloud Module/Public/settings/Set-JCSettingsFile.ps1
Due: PowerShellModified

Tests & Docs
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/Public/settings/Set-JCSettingsFile.ps1
  PowerShell/JumpCloud Module/Tests/Private/settings/Get-JCSettingsFile.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Private/settings/New-JCSettingsFile.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Private/settings/Set-JCSettingsFile.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Private/settings/Update-JCSettingsFile.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/settings/Set-JCSettingsFile.Tests.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/JumpCloud.md
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/JumpCloud.psd1
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

connect-jconline message order
  PowerShell/Deploy/Get-Config.ps1
  PowerShell/JumpCloud Module/Public/Authentication/Connect-JCOnline.ps1
  PowerShell/JumpCloud Module/Public/settings/Set-JCSettingsFile.ps1
  PowerShell/JumpCloud Module/Tests/DefineEnvironment.ps1
Due: PowerShellModified

cleanup
  PowerShell/JumpCloud Module/Public/Authentication/Update-JCModule.ps1
  PowerShell/JumpCloud Module/Tests/DefineEnvironment.ps1
Due: PowerShellModified

Use ps instead of launchctl
  PowerShell/JumpCloud Commands Gallery/Mac Commands/Mac - Install Remote Assist.md
Due: CommandsGalleryModified

make filename dynamic
  PowerShell/JumpCloud Commands Gallery/Windows Commands/Windows - Run As Signed In User Template.md
Due: CommandsGalleryModified

tests update
  PowerShell/JumpCloud Module/Tests/Private/settings/Get-JCSettingsFile.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Private/settings/New-JCSettingsFile.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Private/settings/Update-JCSettingsFile.Tests.ps1
  PowerShell/JumpCloud Module/Tests/Public/settings/Set-JCSettingsFile.Tests.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/JumpCloud.psd1
Due: PowerShellModified

validateSet
  PowerShell/JumpCloud Module/Public/settings/Set-JCSettingsFile.ps1
Due: PowerShellModified

updates todos
  PowerShell/JumpCloud Module/Private/settings/New-JCSettingsFile.ps1
Due: PowerShellModified

command results index error
  PowerShell/JumpCloud Module/Public/Commands/CommandTargets/Get-JCCommandTarget.ps1
Due: PowerShellModified

spacing & sequential updates for get-jccommandtargert
  PowerShell/JumpCloud Module/Public/Commands/CommandResults/Get-JCCommandResult.ps1
  PowerShell/JumpCloud Module/Public/Commands/CommandTargets/Get-JCCommandTarget.ps1
Due: PowerShellModified

test updates config.json
  PowerShell/JumpCloud Module/Private/settings/New-JCSettingsFile.ps1
Due: PowerShellModified

cleanup
  PowerShell/JumpCloud Module/Private/settings/New-JCSettingsFile.ps1
  PowerShell/JumpCloud Module/Private/settings/Update-JCSettingsFile.ps1
  PowerShell/JumpCloud Module/Public/Commands/CommandTargets/Get-JCCommandTarget.ps1
Due: PowerShellModified

Updating PowerShell Module;[skip ci]
  PowerShell/JumpCloud Module/Docs/Set-JCSettingsFile.md
  PowerShell/JumpCloud Module/JumpCloud.nuspec
  PowerShell/JumpCloud Module/en-Us/JumpCloud-help.xml
Due: PowerShellModified

missing config variable
  PowerShell/JumpCloud Module/Private/settings/Update-JCSettingsFile.ps1
Due: PowerShellModified

command report
  _posts/2022-08-04-Report-Commands-To-Systems-And-Groups.md
Due: none

spelling + extra }
  _posts/2022-08-04-Report-Commands-To-Systems-And-Groups.md
Due: none

name change
  _posts/2022-08-04-Report-Commands-To-Systems-And-Groups.md
Due: none

Path conditions:
  PowerShellModified: any of: PowerShell\/(?!JumpCloud\sCommands\sGallery|JumpCloud\sOffice365\sSSO).*
  CommandsGalleryModified: any of: PowerShell\/(JumpCloud\sCommands\sGallery).*
